<header class="header flex flex-nowarp justify-content-between">
  <div class="flex justify-content-center align-items-center">
    <div class="logo-wrapper flex justify-content-center align-items-center">
      <img
        *ngIf="configDataService.siteSettings.siteLogo"
        class="logo"
        [src]="configDataService.siteSettings.siteLogo" />
      <i
        *ngIf="!configDataService.siteSettings.siteLogo"
        class="pi pi-image text-4xl"
        style="color: var(--topbar-item-text-color)"></i>
    </div>
    <div class="title-desc text-xl font-bold mb-1">
      {{ this.siteName || configDataService.siteSettings.siteName }}
    </div>
    <p-menubar [model]="items" class="page-link"></p-menubar>
    <span [title]="this.configDataService.headerText.webHeaderDescription">{{
      this.configDataService.headerText.webHeaderMessage
    }}</span>
  </div>
  <div class="menu-end flex justify-content-center align-items-center" *ngIf="this.userService?.isLogin">
    <!-- <p-button icon="pi pi-search" [rounded]="true" styleClass="mr-2"></p-button> -->
    <p-button (onClick)="visible = true" styleClass="mr-1">
      <p-avatar icon="pi pi-user" styleClass="flex mr-2" shape="circle"></p-avatar>
      <span class="flex flex-column align-items-start">
        <strong class="line-height-1">{{ this.userService.USER.displayName }}</strong>
        <small class="line-height-1">Vendor:&nbsp; {{ this.userService.USER.vendor || 'Vendor N/A' }}</small>
      </span>
    </p-button>
  </div>
</header>

<app-personal-dialog *ngIf="visible" [(visible)]="visible"></app-personal-dialog>
