.header {
  --topbar-bg: var(--primary-color);
  --topbar-start-bg: var(--primary-600);
  --topbar-menu-button-text-color: var(--surface-900);
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);

  .title-desc {
    color: var(--topbar-item-text-color);
    padding: 0 2rem;
  }

  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1050;
  background: var(--topbar-bg);

  .logo-wrapper {
    position: relative;
    width: 17rem;
    background: var(--topbar-start-bg);
    height: 100%;
    .logo {
      max-height: 70%;
    }
  }

  .page-link {
    ::ng-deep .p-menubar {
      border: none;
      background: transparent;

      .p-menuitem-link {
        &:hover {
          color: var(--topbar-item-text-color);
          background: var(--topbar-item-hover-bg);
          transition: background-color var(--transition-duration);
        }

        .p-menuitem-text {
          color: var(--topbar-item-text-color);
          text-transform: uppercase;
        }
      }
      .p-menuitem-link-active {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: inset 0 0 0 0.15rem var(--primary-light-color);
      }
    }
  }

  .menu-end {
    ::ng-deep {
      .p-button-icon {
        font-size: 1.125rem;
      }
      .p-button {
        &:hover {
          background-color: var(--topbar-item-hover-bg);
          transition: background-color var(--transition-duration);
        }
      }
    }
  }
}
