<header class="header flex flex-nowarp justify-content-between">
  <div class="flex justify-content-center align-items-center">
    <div class="logo-wrapper flex justify-content-center align-items-center">
      <img class="logo" [src]="configDataService.siteSettings.siteLogo" />
    </div>
    <div class="title-desc">
      {{ configDataService.siteSettings.siteName }}
    </div>
    <p-menubar [model]="items" class="page-link"></p-menubar>
    <span [title]="this.configDataService.headerText.webHeaderDescription">{{
      this.configDataService.headerText.webHeaderMessage
    }}</span>
  </div>
  <div
    class="menu-end flex justify-content-center align-items-center"
    *ngIf="this.userService?.isLogin">
    <!-- <p-button icon="pi pi-search" styleClass="p-button-rounded mr-2"></p-button> -->
    <p-button (onClick)="visible = true" styleClass="mr-1">
      <p-avatar
        icon="pi pi-user"
        styleClass="flex mr-2"
        shape="circle"></p-avatar>
      <span class="flex flex-column align-items-start">
        <strong class="line-height-1">{{
          this.userService.USER.displayName
        }}</strong>
        <small class="line-height-1"
          >Vendor:&nbsp;
          {{ this.userService.USER.vendor || 'Vendor N/A' }}</small
        >
      </span>
    </p-button>
  </div>
</header>

<app-personal-dialog
  *ngIf="visible"
  [(visible)]="visible"></app-personal-dialog>
