<form [formGroup]="form" (ngSubmit)="onFormSubmit(model)" #editForm="ngForm">
  <formly-form
    [model]="model"
    [fields]="roleFields"
    [options]="options"
    [form]="form"
    class="p-fluid">
    <button type="submit" class="btn btn-primary submit-button border">
      Submit
    </button>
  </formly-form>
</form>
<label class="line-height-3"> Check Role </label>
<p-accordion [multiple]="false">
  <p-accordionTab header="CATEGORY 1" [selected]="true">
    <p-table [value]="permissions">
      <ng-template pTemplate="body" let-permission>
        <tr>
          <td>
            <p-tableCheckbox [value]="permission"></p-tableCheckbox>
          </td>

          <td>
            <span> PERMISSIONDESCRIPTION </span>
          </td>
          <td>
            <span> {{ permission.desc }} </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="CATEGORY 2"> Content 2 </p-accordionTab>
  <p-accordionTab header="CATEGORY 3">
    <p-table [value]="permissions">
      <ng-template pTemplate="body" let-permission>
        <tr>
          <td>
            <p-tableCheckbox [value]="permission"></p-tableCheckbox>
          </td>

          <td>
            <span> PERMISSIONDESCRIPTION </span>
          </td>
          <td>
            <span> {{ permission.desc }} </span>
          </td>
        </tr>
      </ng-template>
    </p-table></p-accordionTab
  >
</p-accordion>
