@layer primeng {
  * {
    padding: 0;
    margin: 0;
  }
}

.p-card {
  position: relative;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 0px 2px -1px rgb(0 0 0 / 20%), 0 0px 2px 0 rgb(0 0 0 / 14%), 0 0px 3px 0 rgb(0 0 0 / 12%);
}

/* ngx formly style */
formly-form {
  .p-field {
    margin-bottom: 1rem;
    label {
      line-height: 1.5rem;
    }
    .p-field-radiobutton {
      padding-top: 0.5rem;
    }
  }
  &.horizontal {
    .p-field {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
      small.p-error {
        width: 60%;
        margin-left: auto;
      }
      label {
        width: 40%;
        margin-top: 0.4167rem;
        & + * {
          width: 60%;
        }
      }
      .p-checkbox-label {
        display: none;
      }
      .p-field-checkbox {
        margin-top: 0.4167rem;
      }
    }
  }
}

.p-orderlist-item.cdk-drag-preview {
  z-index: 9999 !important;
}

.p-dialog {
  transform: none !important;
  .p-dialog-footer {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    button {
      margin-right: 0;
    }
    p-button + p-button {
      margin-left: 0.5rem;
    }
  }
}

.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
  display: flex;
  flex-wrap: wrap;
  .p-multiselect-token {
    max-width: 100%;
    .p-multiselect-token-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.p-inputtextarea {
  min-height: 6.5rem;
}

// override placeholder color start
.p-multiselect .p-multiselect-label.p-placeholder {
  color: var(--gray-400);
}
.p-treeselect .p-treeselect-label.p-placeholder {
  color: var(--gray-400);
}
.p-cascadeselect .p-cascadeselect-label.p-placeholder {
  color: var(--gray-400);
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: var(--gray-400);
}
::-webkit-input-placeholder {
  color: var(--gray-400);
}

:-moz-placeholder {
  color: var(--gray-400);
}

::-moz-placeholder {
  color: var(--gray-400);
}

:-ms-input-placeholder {
  color: var(--gray-400);
}
// override placeholder color end

.p-dialog-content {
  white-space: pre-line;
}

.monaco-editor-wrapper {
  background-color: var(--surface-200);
  border: 1px solid $shade400;
  transition: var(--transition-duration);
  margin-bottom: 0.25rem;

  .monaco-editor {
    background: transparent;
    .monaco-editor-background {
      background: transparent;
    }
    .decorationsOverviewRuler,
    .scroll-decoration {
      display: none !important;
    }
  }

  &.ng-dirty.ng-invalid {
    border-color: $errorColor;
  }
  &:focus-within {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem $primaryLightColor;
    border-color: var(--primary-color);
  }
  &:hover {
    border-color: var(--primary-color);
  }
}

.p-tooltip {
  max-width: 20rem;
  a {
    color: #fff;
  }
  &.tooltip-error {
    .p-tooltip-text {
      background: var(--red-100);
      color: var(--red-400);
    }
    .p-tooltip-arrow {
      display: none;
    }
  }

  &.tooltip-success {
    .p-tooltip-text {
      background: var(--green-100);
      color: var(--green-400);
    }
    .p-tooltip-arrow {
      display: none;
    }
  }
}

.p-datatable {
  .p-datatable-tbody > tr > td {
    padding: 0.625rem;
    text-overflow: ellipsis;
  }
  .p-datatable-thead > tr > th {
    padding: 0.625rem;
    .p-icon-wrapper {
      display: inline;
      svg {
        display: inline;
      }
    }
  }
}

.p-column-filter-overlay {
  min-width: 15rem;
}

.p-checkbox {
  width: 1.571rem;
  height: 1.571rem;
  .p-checkbox-box {
    width: 1.571rem;
    height: 1.571rem;
  }
}

.p-inputnumber {
  .p-inputnumber-button {
    line-height: 1;
  }
}

.p-toast {
  .p-toast-detail {
    overflow-wrap: anywhere;
  }
}

.fa-no-icon:before {
  content: '\f2799';
}

.p-datatable-loading-overlay {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.p-fileupload {
  .p-fileupload-choose:not(.p-disabled):hover {
    background: rgba($primaryColor, 0.04);
    color: var(--primary-color);
    border: 1px solid;
  }
  .p-fileupload-choose:not(.p-disabled):active {
    background: rgba($primaryColor, 0.16);
    color: var(--primary-color);
    border: 1px solid;
  }
  &.p-fileupload-basic {
    .p-messages {
      display: none;
    }
  }
}

/* primeNg validation error style */
p-autocomplete.ng-touched.ng-invalid > .p-autocomplete > .p-inputtext {
  border-color: var(--invalid-color);
}
p-calendar.ng-touched.ng-invalid > .p-calendar > .p-inputtext {
  border-color: var(--invalid-color);
}
p-cascadeselect.ng-touched.ng-invalid > .p-cascadeselect {
  border-color: var(--invalid-color);
}
p-checkbox.ng-touched.ng-invalid > .p-checkbox > .p-checkbox-box {
  border-color: var(--invalid-color);
}
p-chips.ng-touched.ng-invalid > .p-chips > .p-inputtext {
  border-color: var(--invalid-color);
}
p-inputmask.ng-touched.ng-invalid > .p-inputtext {
  border-color: var(--invalid-color);
}
p-inputnumber.ng-touched.ng-invalid > .p-inputnumber > .p-inputtext {
  border-color: var(--invalid-color);
}
p-inputswitch.ng-touched.ng-invalid > .p-inputswitch {
  border-color: var(--invalid-color);
}
.p-inputtext.ng-touched.ng-invalid {
  border-color: var(--invalid-color);
}
p-listbox.ng-touched.ng-invalid > .p-listbox {
  border-color: var(--invalid-color);
}
p-multiselect.ng-touched.ng-invalid > .p-multiselect {
  border-color: var(--invalid-color);
}
p-radiobutton.ng-touched.ng-invalid > .p-radiobutton > .p-radiobutton-box {
  border-color: var(--invalid-color);
}
p-selectbutton.ng-touched.ng-invalid > .p-selectbutton > .p-button {
  border-color: var(--invalid-color);
}
p-togglebutton.ng-touched.ng-invalid > .p-togglebutton.p-button {
  border-color: var(--invalid-color);
}
p-dropdown.ng-touched.ng-invalid > .p-dropdown.p-component {
  border-color: var(--invalid-color);
}
