<p-dialog
  [header]="header"
  [(visible)]="visible"
  [style]="dialogStyle"
  [modal]="true"
  (onHide)="onCancel()"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0"
  appendTo="body">
  <div #container class="dialog-content">
    <form
      *ngIf="visible"
      [formGroup]="form"
      #editForm="ngForm"
      (ngSubmit)="onFormSubmit(model)">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
        [options]="options"
        class="p-fluid"></formly-form>
      <div
        *ngIf="!fields || fields.length <= 0"
        class="flex flex-wrap"
        style="margin: 0 -0.5rem">
        <p *ngFor="let e of [].constructor(5)" class="w-6 px-2 mb-3">
          <p-skeleton width="5rem" styleClass="mb-1"></p-skeleton>
          <p-skeleton height="2.83rem"></p-skeleton>
        </p>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="cancelText"
      icon="pi pi-times"
      (onClick)="onCancel()"
      [label]="cancelText"
      [disabled]="buttonDisabled"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      [label]="okText"
      [disabled]="buttonDisabled"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
