<p-dialog *ngIf="exportData" header="Export To Excel" [style]="{'width': '500px'}" [(visible)]="showWindow['EXPORT']">

    <div>
      <div style="margin-top: 5px;">
        File Name
      </div>
      <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="ExportName"
        [(ngModel)]="exportData.ExportName">
  
  
      <div style="margin-top: 5px;">
        <div>
          Export Option
        </div>
        <div>
          <div>
            <p-radioButton label="Export Selected Items Only" name="ExportOption" value="Selection"
              [(ngModel)]="exportData.ExportOption">
            </p-radioButton>
          </div>
          <div>
            <p-radioButton name="ExportOption" label="Export Entire Result" value="All"
              [(ngModel)]="exportData.ExportOption"></p-radioButton>
          </div>
        </div>
      </div>
  
  
      <div style="float: right; margin-top: 10px;">
        <button class="search-cmd" (click)="exportDataSubmit()">Export</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
      </div>
    </div>
  
  </p-dialog>
  
  <div class="w-100 h-100 d-flex flex-column">
    <h5 class="page-title">Group Contact Search Results
      <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>
          </h5>
    <div *ngIf="resultData && totalRecords == 0" style="font-weight: bold; color: red">
      <div class="Error"></div>No Search Results Found
    </div>
    <div class="table-toolbar" style="margin-bottom: 5px;">
      <button id="refreshgridID" (click)="refreshData()" class="table-button">
        <img title="Refresh" src="assets/Images/table-icons/refresh.png" class="sizeIcon" /> Refresh
      </button>
      <button (click)="initCheckState(true)" class="table-button">
        <img title="Select All" src="assets/Images/table-icons/selectall.png" class="sizeIcon" /> Select All
      </button>
      <button (click)="initCheckState(false)" class="table-button">
        <img title="Unselect All" src="assets/Images/table-icons/unselectall.png" class="sizeIcon" /> Unselect All
      </button>
  
      <span style="color:black" class="layercontrolBar"><strong>{{checkedCount}} row(s) selected</strong></span>
  
<!--   
      <button (click)="exportDataInit()" class="table-button">
        Export To Excel
      </button> -->
  
      <button *ngIf="user.Permissions.DC_GROUP_CONTACT_ADD" (click)="addNewInit()" type="button" class="table-button">
        Add New Contact
      </button>
    </div>
  
    <div class="flex-fill overflow-hidden">
      <!-- <div class="flex-fill overflow-hidden" style="position: relative;"> -->
      <!-- <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;"> -->
      <p-table [value]="resultData" sortMode="multiple" [loading]="isLoading" [scrollable]="true" scrollHeight="flex"
        [columns]="cols" [resizableColumns]="true" columnResizeMode="expand" [reorderableColumns]="true"
        selectionMode="single" [(selection)]="selectedItem" dataKey="ID" [paginator]="true" [rows]="100"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[100,200,500,1000]"  [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
        [totalRecords]="totalRecords" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines Site">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:60px">
  
            <col *ngFor="let col of columns" [style.width]="col.width">
  
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pResizableColumn></th>
  
            <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
  
              <span>{{col.header}}</span>
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <p-columnFilter [type]="col.filterType" [field]="col.field" display="menu" style="float:right;"
                [showOperator]="false" [showAddButton]="false"></p-columnFilter>
            </th>
  
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-data let-columns="columns">
          <tr [pSelectableRow]="data">
            <td class="p-table-td">
              <input class="row-cmd row-chkbox" [checked]="checkedState[data.ID]" (change)="toggleCheckState(data)"
                type="checkbox" />
  
              <button class='row-cmd' title="Edit" *ngIf="user.Permissions.DC_GROUP_CONTACT_EDIT"  (click)="editInit(data)">
                <img src="assets/Images/row-icons/edit.png" />
              </button>
<!--   
              <button class='row-cmd' title="Remove Item" (click)="deleteSubmit(data)">
                <img src="assets/Images/row-icons/delete.png" />
              </button> -->

  
            </td>
  
            <td *ngFor="let col of columns" [title]="data[col.field]">
              <span *ngIf="!col.template">{{data[col.field]}}</span>
            </td>
  
          </tr>
        </ng-template>
  
      </p-table>
  
  
    </div>
  
  
  
  </div>
  
  
  <p-dialog *ngIf="recordData"
    header="{{recordData.Mode == 'Add' ? 'Add New Name' : 'Edit'}} {{recordData?.Name}}"
    [style]="{'width': '570px'}" [(visible)]="showWindow['EDIT']" #overlayContainer>
    <div class="h-100 p-2">
      <div class="row mb-1">
        <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Name}">
          <div *ngIf="validationErrors?.Name" class="Error" [title]="validationErrors?.Name"></div>
          Name<span class="dialog-require"></span>
        </label>
        <div class="col-9">
  
          <input type="text" style="width: 100%;" styleClass="col-12" pInputText
            [(ngModel)]="recordData.Name">
        </div>
      </div>
  
      <div class="row mb-1">
        <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Email}">
          <div *ngIf="validationErrors?.Email" class="Error" [title]="validationErrors?.Email"></div>
          Email(s)<span class="dialog-require"></span>
        </label>
        <div class="col-9">
  
          <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="recordData.Email">
        </div>
      </div>
  
  
      <div class="row mb-1">
        <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Vendor}">
          <div *ngIf="validationErrors?.Vendor" class="Error" [title]="validationErrors?.Vendor"></div>
          Vendor<span class="dialog-require"></span>
        </label>
        <div class="col-9">
  
          <p-dropdown styleClass="col-12" [options]="recordData.LK_Vendor"
            [(ngModel)]="recordData.Vendor" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
            filterBy="Label" [showClear]="true" [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
          </p-dropdown>
        </div>
      </div>
  
  
  
      <div class="row mb-1">
  
        <div style="float: right;">
          <button class="search-cmd" (click)="editSubmit()">Save</button>
          <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
        </div>
  
      </div>
    </div>
  </p-dialog>
  
  
  <p-dialog *ngIf="recordData" header="Details for {{recordData?.Name}}" [style]="{'width': '600px'}"
      [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['DETAIL']">
  
  
  
      <span class="DetailHeading">
       
          Contact Information
      </span>
  
  
  
  </p-dialog>
  