<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="bin\Debug\net5.0\DataEditorPortal.Web.exe" arguments="" hostingModel="inprocess">
                <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
                    <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
                </environmentVariables>
            </aspNetCore>
            <security>
                <authorization>
                    <remove users="*" roles="" verbs="" />
                    <add accessType="Allow" users="?" verbs="OPTIONS" />
                    <add accessType="Allow" users="" roles="USERS" />
                </authorization>
            </security>
            <rewrite>
                <rules>
                    <rule name="CORS Preflight Anonymous Authentication" stopProcessing="true">
                        <match url=".*" />
                        <conditions>
                            <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
                        </conditions>
                        <action type="CustomResponse" statusCode="200" statusReason="Preflight" statusDescription="Preflight" />
                    </rule>
                </rules>
            </rewrite>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Allow-Origin" value="http://localhost:4200" />
                    <add name="Access-Control-Allow-Credentials" value="true"/>
                    <add name="Access-Control-Allow-Headers" value="content-type"/>
                    <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS,DELETE,PUT"/>
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>