:host ::ng-deep {
  .p-button.p-button-icon-only.p-button-rounded {
    width: 2rem;
    height: 2rem;
  }

  .layout-content {
    min-height: calc(100% - 9rem);
  }

  .p-datatable {
    .p-datatable-tbody > tr > td:first-child {
      padding-left: 1rem !important;
    }
    .p-datatable-thead > tr > th:first-child {
      padding-left: 1rem !important;
    }
  }
}

.p-card {
  height: calc(100% - 10rem);
  width: calc(100% - 2rem);
  ::ng-deep {
    .p-datatable-wrapper {
      overflow-x: auto;
      .p-scroller {
        height: 100% !important;
      }
    }
    .p-datatable-header {
      z-index: 11;
      border-top: none;
    }
    [styleClass='p-paginator-bottom'] {
      z-index: 11;
    }
    .p-paginator {
      border-bottom: none;
    }
    .p-datatable-loading-overlay {
      z-index: 12;
    }
    .row-actions {
      .p-button.p-button-icon-only.p-button-rounded {
        height: 1.625rem;
        width: 1.625rem;
        padding: 0.30375rem 0.4375rem;
      }
    }
  }
}
