:host ::ng-deep {
  .split-area.p-splitter {
    height: calc(100% - 7rem);
    border-bottom: none;

    .p-splitter-panel {
      transition: flex-basis var(--transition-duration);
    }
  }
  .search-area {
    padding: 1.5rem;
    background: var(--surface-ground);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    .expand-btn {
      position: absolute;
      right: 2rem;
      top: 2.75rem;
      transition: transform var(--transition-duration);
    }
  }
  .table-area {
    padding: 1.5rem;
    background: var(--surface-ground);
  }

  .hide-panel {
    .expand-btn {
      right: 0.625rem;
      transform: rotate(180deg);
    }
  }
}
