:host ::ng-deep {
  .split-area.p-splitter {
    height: calc(100% - 7rem);
    border-bottom: none;

    .p-splitter-panel {
      transition: flex-basis var(--transition-duration);
    }
  }
  .search-area {
    padding: 0.5rem 0.25rem 0.25rem;
    background: var(--surface-ground);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  .p-splitter-panel {
    position: relative;
  }

  .expand-btn {
    position: absolute;
    right: 0.75rem;
    top: 2rem;
    transition: transform var(--transition-duration);
    z-index: 20;
    .p-button-rounded {
      width: 2rem;
      height: 2rem;
    }
  }

  .hide-panel {
    .search-area {
      padding: 0.5rem 0rem 0.25rem;
    }
    .expand-btn {
      right: -2.875rem;
      top: 0.75rem;
      transform: rotate(180deg);
      .p-button-rounded {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.5rem 0;
      }
    }
  }

  .table-area {
    padding: 0.5rem 0.25rem 0.25rem;
    background: var(--surface-ground);
  }
}
