<div class="flex align-items-center justify-content-between">
  <p-button
    styleClass="p-button-outlined"
    (onClick)="showDialog()"
    [disabled]="disabled"
    >Configure</p-button
  >
  <p-message
    *ngIf="optionsLookup || (options && options.length > 0)"
    severity="info"
    text="{{ optionsLookup ? 'Use Lookup' : '' }}{{
      options && options.length > 0 ? options.length + ' option(s)' : ''
    }}"></p-message>
</div>
<p-dialog
  [(visible)]="visible"
  [style]="{ minWidth: '50rem', minHeight: '20rem' }"
  [modal]="true"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0">
  <ng-template pTemplate="header">
    <span class="p-dialog-title"
      >{{ dialogTitle }} Editor
      <a (click)="changeMode()" *ngIf="!onlyAdvanced">{{
        !isAdvanced ? 'Advance Mode' : 'Simple Mode'
      }}</a></span
    >
    <div class="flex align-items-center"></div>
  </ng-template>
  <div #container class="dialog-content">
    <div class="flex flex-column" style="min-height: 10rem">
      <ng-container
        [ngTemplateOutlet]="
          !isAdvanced ? simpleRef : advancedRef
        "></ng-container>
      <ng-template #simpleRef>
        <p-orderList
          appendTo="body"
          class="option-list"
          [value]="formControlOptions"
          [stripedRows]="true"
          [dragdrop]="true">
          <ng-template let-option pTemplate="item">
            <div class="flex align-items-center justify-content-between">
              <div class="mr-3 flex-1">
                <input
                  class="w-full"
                  [formControl]="option.formControl"
                  pInputText
                  placeholder="Enter a value"
                  (mousedown)="$event.stopPropagation()"
                  required />
              </div>
              <div>
                <p-button
                  icon="pi pi-trash"
                  styleClass="p-button-rounded p-button-text"
                  (onClick)="onRemoveFilter(option)"></p-button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="empty">
            <p-message
              severity="info"
              text="There is no Option configed. Click button to add a Option."
              styleClass="mr-2"></p-message>
          </ng-template>
        </p-orderList>
        <p-button
          label="Add"
          icon="pi pi-plus"
          class="mt-1 mb-3"
          styleClass="p-button-text p-button-sm"
          (onClick)="onAdd()"></p-button>
      </ng-template>
      <ng-template #advancedRef>
        <ng-container>
          <!-- <p-divider>Add new lookup</p-divider> -->
          <div class="flex align-items-center mb-3">
            <div class="flex flex-column mr-4 flex-grow-1">
              <label class="line-height-3"
                >Database Connection
                <i
                  class="pi pi-question-circle ml-2 text-lg"
                  [escape]="false"
                  pTooltip="To process data within the same transaction, this option is restricted to using the same database connection as the <b> Data Source</b>. If there are no available database tables, please consider changing the connection in <b>Data Source</b> or granting the tables to the current database connection."></i
              ></label>
              <p-dropdown
                [required]="true"
                [options]="dbConnections"
                [formControl]="formControlConnection"
                styleClass="w-full"
                placeholder="Please Select"
                appendTo="body"></p-dropdown>
            </div>
            <div class="flex flex-column flex-grow-1">
              <label class="line-height-3">Name</label>
              <input
                [formControl]="formControlName"
                [required]="true"
                pInputText
                placeholder="Enter a name" />
            </div>
          </div>
          <div class="flex flex-column">
            <label class="line-height-2 flex align-items-center mb-1"
              >Query text
              <i
                class="pi pi-question-circle ml-3 text-lg"
                [pTooltip]="
                  'Enter some query text to get options from database. It needs return two columns at least. Use format ##FIELD##; to reference other fields in same form as paramters.'
                "></i>
            </label>
            <ngx-monaco-editor
              *ngIf="visible"
              [formControl]="formControlQuery"
              [required]="true"
              [placeholder]="helperMessage"
              [style]="{ minWidth: '40rem', height: '16rem' }"
              class="pt-3 border-round monaco-editor-wrapper overflow-hidden"
              [options]="{}"></ngx-monaco-editor>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      label="Save"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
