:host {
  ::ng-deep {
    .p-fileupload-choose:not(.p-disabled):hover {
      background: rgba(33, 150, 243, 0.04);
      color: var(--primary-color);
      border: 1px solid;
    }
    .p-fileupload-choose:not(.p-disabled):active {
      background: rgba(33, 150, 243, 0.16);
      color: var(--primary-color);
      border: 1px solid;
    }
  }
}
