<p-table
  styleClass="mb-3"
  [value]="newAttachments"
  *ngIf="newAttachments.length > 0">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40%">Name</th>
      <th>Comment</th>
      <th style="width: 50px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-file>
    <tr>
      <td [class]="file.status === 'Deleted' ? 'line-through' : null">
        <span *ngIf="file.status === 'Deleted'; else download">{{
          file.fileName
        }}</span>
        <ng-template #download>
          <a
            class="cursor-pointer text-primary"
            (click)="tempAttachmentDownload(file)">
            {{ file.fileName }}
          </a>
        </ng-template>
      </td>
      <td [class]="file.status === 'Deleted' ? 'line-through' : null">
        {{ file.fileId }}
      </td>
      <td class="text-right">
        <button
          *ngIf="file.status === 'Deleted'"
          pButton
          pRipple
          icon="pi pi-refresh"
          type="button"
          class="p-button-text p-button-sm p-button-rounded"
          (click)="tempAttachmentRestore(file)"></button>
        <button
          *ngIf="file.status !== 'Deleted'"
          pButton
          pRipple
          icon="pi pi-trash"
          type="button"
          class="p-button-text p-button-danger p-button-sm p-button-rounded"
          (click)="tempAttachmentDelete(file)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="flex">
  <p-fileUpload
    *ngIf="(!multiple && newAttachments.length <= 0) || multiple"
    #AttachmentsRef
    styleClass="p-button-outlined"
    name="files"
    [url]="apiUrl + 'attachment/upload-temp-file'"
    [multiple]="multiple"
    [auto]="true"
    [maxFileSize]="maxFileSize"
    [fileLimit]="fileLimit"
    (onProgress)="onFileUploadProgress($event)"
    mode="basic"
    [chooseLabel]="chooseLabel"
    [accept]="accept"
    [disabled]="progress > 0 && progress < 100"
    (onUpload)="onUpload($event)"
    (onError)="onUploadError($event, AttachmentsRef)">
  </p-fileUpload>
  <p-progressBar
    *ngIf="progress > 0 && progress < 100"
    [value]="progress"
    class="w-15rem ml-2"
    styleClass="h-full"></p-progressBar>
</div>
