<p-tree
  [value]="permissions"
  scrollHeight="350px"
  selectionMode="checkbox"
  [selection]="permissionSelect"
  (selectionChange)="selectionChange($event)">
  <ng-template
    *ngFor="let type of ['Folder', 'Portal Item', 'default']"
    let-node
    [pTemplate]="type">
    <div class="flex justify-content-center align-items-center">
      <span
        *ngIf="node.iconStyle"
        class="pi p-treenode-icon"
        [style]="node.iconStyle"></span>
      <span [pTooltip]="node.name">{{ node.label }}</span>
    </div>
  </ng-template>
</p-tree>
