

.p-sortable-column-badge
{
  display: none !important;
}

.p-table-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-highlight {
  background: rgb(230 216 248) !important;
}

.ToolRunning
{
  width: 100%;
}
label{
    font-size: 14px; 
}
.search-cmd {
  background-color: #009ada;
  color: #ffffff;
  border: 0px solid #009ada;
  border-radius: 25px;
}

.search-cmd:hover {
  background-color: #336699;
} 

.p-progressbar 
{
  height: 10px;
  background-color: yellow;
}
.panelToggle
{
  border: none;   
  height: 16px;
  background: none; 
  margin-right: 3px;
  padding: 0px;

}

.p-tree-toggler
{
  flex-shrink: 0;
}

.panelToggle img
{
  opacity: 0.5;
}
.panelToggle img:hover
{
  opacity: 1
}

.search-label 
{
  font-size: 0.8em;
  padding-right: 0px;
}
.profileButton
{
   background-image: url(assets/Images/edit.png); 
   vertical-align: middle;
   background-repeat: no-repeat;
   background-size: cover;
   width: 12px;
   height: 12px;
   display: inline-block;
   margin-top: -2px;
 }
.profileButton:hover
{
  background-image: url(assets/Images/edit_1.png); 
}

.aButton {
  background-color: #02409b;
  color: #ffffff;
  border: 0px solid #02409b;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px; 
  padding: 3px;
}

.aButton:hover {
  background-color: #009ada;
  color: white
} 

.linkButton
{
  font-size: 12px;
  color: #009ada;
}
.linkButton:hover
{
  color: #336699;
  font-weight: bold;
}

.link-WOState
{
  color: #009ada;
  margin-right: 15px;
  display: inline;
}

.link-WOState:hover
{
  color: #336699;
  font-weight: bold;
}

.link-WOState-Selected
{
  color: #336699;
  font-weight: bold;
  margin-right: 15px;
  display: inline;

}

.link-WOState-NotFound
{
  color: #888;
  margin-right: 15px;
  display: inline;
}





.row-chkbox
{
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 2px;
}
.row-cmd
{
  background: none;
  border: none;
  padding: 2px;
  margin-top: 0px;
  margin-right: 2px;
}
.row-cmd img
{
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px;

}

.row-cmd img:hover 
{
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #009ada;
}

.page-cmd
{
  background: none;
  border: none;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;

}

.page-cmd img
{
  height: 16px;
  width: 16px;
  padding: 0px;
  margin: 0px;

}
.table-cmd 
{
  padding: 0px;
  border: 0px;
  background: none;
  margin: 1px;
}

.table-button img 
{
  width: 18px;
  height: 18px; 
}

.disabled
{
  background-color: #aaa !important;
}

.layercontrolBar {
  margin-right: 5px;
}


.table-toolbar 
{
}

.table-button 
{
  background-color: #009ada;
  color: #ffffff;
  height: 24px;
  border: 0px solid #009ada;
  border-radius: 25px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  vertical-align: middle;

}

.table-button-delete
{
  background-color: red;
}
.table-button-delete:hover
{
  background-color: darkred !important;
}
.table-button:hover 
{
  background-color: #336699;
}

.DialogHeading
{
 color: #009ada;  
}
/* *************** BEGIN PrimeNG Custom Styles *************** */
.p-datatable-loading-overlay {
  background-color: rgb(0, 0, 0, 0.1);
}
/* *************** END PrimeNG Custom Styles *************** */
.p-datepicker
{
  z-index: 1000; 
}
.p-datepicker table td
{
  padding: 0px; 
}

.p-datepicker table td > span {
  width: 16px;
  height: 18px;
  font-size: 12px;
}

.p-radiobutton-label
{
  margin-left: 0px; 
  margin-right: 10px; 
}

.p-button
{
  padding: 0px 5px;
}
.p-inputtext
{
  padding: 0 0.5rem;
}

.p-paginator .p-dropdown .p-dropdown-label
{
  margin-top: 5px;
}

.p-multiselect .p-multiselect-label {
  padding: 0px 5px; 
}

.p-dialog .p-dialog-content 
{
  padding: 5px;
  
}

.p-dialog
{
  background: white; 
}

.p-dialog .p-dialog-header .p-dialog-header-icon
{
  color: #fff; 
}
.p-dialog .p-dialog-header {
 
  background: #336699;
  color: #fff;
  padding: 5px 12px;
}

.warningDialog .p-dialog .p-dialog-header {
  background: red; 
}

.p-tree 
{
  padding: 0px; 
  background: none; 
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler
{
  width: 1rem; 
  height: 1rem; 
}

.nodeHeader { 
  font-weight: bold;
}
.nodeItem
{
  color: #009ada;
  font-size: 16px;
}
.nodeDescription
{
  font-size: 0.8em;   
}
span.p-treenode-label {
  font-size: 0.8em;
}
.links
{
  text-decoration: none;
}
.links:hover
{
  color: #336699;
  font-weight: bold;
}
.detailView 
{
    border: 1px solid black; 
    width: 90%; 
}
.detailView td
{
    white-space: normal;
    border: 1px solid gray; 
    padding: 3px; 
    vertical-align: top; 
}

.detailViewField
{
  font-weight: bold;
  vertical-align: top;
}


.detailViewTitle td
{
    font-size: 16px; 
    font-weight: bold; 
    background-color: #ccc; 
}


.wraplongtext {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
  white-space: -pre-wrap;                 /* Opera 4-6 */
  white-space: -o-pre-wrap;               /* Opera 7 */
  white-space: pre-wrap;                  /* CSS3 */
  word-wrap: break-word;                  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.table-view 
{
  width: 100%; 
}

.table-view td
{
  padding: 2px; 
  border: 1px solid #aaa; 
  vertical-align: top; 
  text-align: center;
}

.table-view th
{
  padding: 2px; 
  border: 1px solid #aaa; 
  vertical-align: top; 
  text-align: center;
  background-color: #ddd;
  white-space: nowrap;
}

.dialog-subtext
{
  font-size: 10px; 
  font-style: italic;
}

.dialog-require::after
{
  content: "*";
  color: red;
  
}

.ValueText {
    color: #009ada;
}
.Error 
{
  display: inline-block;
  margin-right: 3px; 
  background-image: url(assets/Images/Error.png); 
  background-repeat: no-repeat;
  width: 16px; 
  height: 16px; 
  vertical-align: middle;
  margin-top: -4px;
}

.HelpTip 
{
  display: inline-block;
  background-image: url(assets/Images/help.png); 
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px; 
  height: 16px; 
  vertical-align: middle;  
  margin-left: 3px;
}


.ErrorMsg
{
  color: red; 
}

.dHeading 
{
  font-weight: bold;
  display: block;   
  font-size: 12px;
  white-space: nowrap;
}

.dData 
{
  color: #336699; 
 
}

.dMain
{
  height: 10px !important;
}
.dMain td
{
  font-size: 12px; 
  background-color: #336699; 
  color: white; 
}
.dTable  
{
  width: 100%; 
}
.dTable td 
{
   border: none;
   padding: 3px; 
   vertical-align: top;
}

.dTable tr
{
  height: 50px;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  text-align: center;
  font-size: 0.9em;
  white-space: break-spaces;
  background-color: #eee;
}

.p-column-filter-menu-button {
  width: 1rem;
  height: 1rem;
  border-radius: 0
}
.StatusMarker 
{
  border: 1px solid #333;
  padding: 0px 2px;
  display: inline-block;
  /* width: 18px; */
  /* height: 16px; */
  text-align: center;
  line-height: 12px;
  font-size: 10px;
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 3px;}

.StatusMarker.Z 
{
  background-color: yellow;
}

.StatusMarker.Y 
{
  background-color: orange;
}

.StatusMarker.A
{
  background-color: rgb(212, 245, 212);
}


.RoleLabel
{
  color: #336699;
  display: block; 
}

.divider
{
    margin: 10px;
    width: 97%;
    color: #009ada;
}

.highlight:hover 
{
  background-color: rgb(230 216 248);
}