<div
  class="flex justify-content-center pt-8 bg-gray-300"
  style="min-height: calc(100% - 7rem)">
  <div
    class="w-10 flex align-content-start flex-wrap"
    *ngIf="homeMenus.length > 0; else emptyMessage">
    <div
      class="tile-block bg-white m-3 p-2 flex flex-column align-items-center cursor-pointer shadow-2"
      *ngFor="let menu of homeMenus"
      [routerLink]="menu?.url"
      [pTooltip]="menu.description || ''">
      <i [class]="menu.icon" class="text-7xl text-primary my-5"></i>
      <div class="font-semibold text-xl text-left" [title]="menu.label">
        {{ menu?.label }}
      </div>
    </div>
  </div>
  <ng-template #emptyMessage>
    <div
      *ngIf="loading"
      class="flex flex-column justify-content-center align-items-center"
      style="margin-top: -8rem">
      <h3 class="text-8xl">404</h3>
      <span class="text-5xl">Your permissions do not access the content</span>
    </div>
  </ng-template>
</div>
