<p-confirmPopup></p-confirmPopup>
<div class="w-100 h-100 d-flex flex-column" style="overflow-y: scroll;"
    *ngIf="!detailrecord && appDataService.currentSearchView == 'Detail'">
    <h5 class="page-title">Underground Work Order        
        <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>        
    </h5>

    <button *ngIf="user.Permissions.UNDERGROUND_SUBMIT_NEW" (click)="openReceiveUnderground()" type="button" style="display: inline; width: max-content;" class="table-button">
        Receive Underground Work Order
    </button>


</div>

<div class="w-100 h-100 d-flex flex-column" >
    <h5 class="page-title">Underground Work Order Search Results {{detailrecord?.ORDERNUMBER}} 
        <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>
        
        <button
        *ngIf="user.Permissions.UNDERGROUND_SUBMIT_NEW"   (click)="openReceiveUnderground()" type="button" style="display: inline; width: max-content;" class="table-button">
            Receive Underground Work Order
        </button>

        <button (click)="openFollow(detailrecord)" *ngIf="appDataService.currentSearchView == 'Detail'" class='row-cmd' title="Follow/Unfollow">
            <img *ngIf="!detailrecord?.Follow" src="assets/Images/row-icons/unfollow.png" />
            <img *ngIf="detailrecord?.Follow" src="assets/Images/row-icons/follow.png" />
        </button>
    
    
    </h5>
    <div *ngIf="totalRecords != -1">
        <div *ngIf="totalRecords == 0" style="font-weight: bold; color: red; display: inline-block; margin-right: 10px;">
            <div class="Error"></div>No Search Results Found
        </div>
        <div *ngIf="appDataService.currentSearchView != 'Detail'" style="font-size: 14px; font-style: italic; display: inline-block; margin-left: 3px;">
            Can't Find Work Order? Try <div class="linkButton" style="display: inline-block" (click)="workOrder.searchStaging(searchParams)">Search Staging Area</div>
        </div>    
    </div>
    <div class="table-toolbar" style="margin-bottom: 5px;">

        <button *ngIf="detailrecord && showEdit(detailrecord)"
            [disabled]="detailrecord.CURRENTSTATUS == 'Z'" [class.disabled]="detailrecord.CURRENTSTATUS == 'Z'"
            (click)="openEdit(detailrecord)" class="table-button"
            [title]="detailrecord.CURRENTSTATUS == 'Z'? 'Edit Work Order. Can not edit if the work order is COMPLETED.'   : 'Edit Work Order.'">
            <img title="Edit" src="assets/Images/table-icons/edit.png" class="sizeIcon" />Edit
        </button>

        <button *ngIf="detailrecord && showEdit(detailrecord)" [disabled]="detailrecord.CURRENTSTATUS == 'Z'"
            [class.disabled]="detailrecord.CURRENTSTATUS == 'Z'"
            [title]="detailrecord.CURRENTSTATUS == 'Z' ? 'Add Comments. Work Order is already completed'   : 'Add Comments'"
            (click)="workOrder.commentsInit(detailrecord)" type="button" class="table-button">
            Comments
        </button>
        
        <button  *ngIf="detailrecord && showEdit(detailrecord)"
        [disabled]="detailrecord.CURRENTSTATUS == 'Z'" [class.disabled]="detailrecord.CURRENTSTATUS == 'Z'"
        [title]="detailrecord.CURRENTSTATUS == 'Z' ? 'Manage Attachments. Work Order is already completed'   : 'Manage Attachments'"
        (click)="openAttachment(this.detailrecord)" type="button" class="table-button">
            Attachment
        </button>

        <app-work-order (refreshGrid)="refreshData()"></app-work-order>


    </div>
    <div *ngIf="detailrecord && appDataService.currentSearchView == 'Detail'"  style="overflow-y: scroll;" >
        <div *ngIf="holdrecord && holdrecord.Total != 0">
            <table class="dTable">
                <tr class="dMain">
                    <td colspan="5" style="background-color: purple;">
                        Staging / On Hold (Waiting for Underground Main Work Order)
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Order Number
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        FileNet Doc ID
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Batch
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Date Received
                    </td>
                </tr>
                <tbody *ngFor="let t of holdrecord.Data">
                    <tr class="highlight">
                        <td style="padding-right: 10px;">
                            {{t.ORDERNUMBER}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.FNDOCID}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.BATCH}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.DATE_RECEIVED}}
                        </td>
                    </tr></tbody>

            </table>
            <hr style="width: 100%">
        </div>

        <div style="margin-left: 3px;"><span style="margin-right: 15px;display: inline;">Workorder States: </span>
            <div *ngFor="let t of detailrecord_states | keyvalue" style="display: inline;">
                <div (click)="selectWorkOrderState(t.key)" *ngIf="t.value && detailrecord.WORKORDERSTATE != t.key"
                    class="link-WOState">
                    {{t.key}}
                </div>
                <div *ngIf="!t.value" class="link-WOState-NotFound">
                    {{t.key}}
                </div>
                <div *ngIf="t.value && detailrecord.WORKORDERSTATE == t.key" class="link-WOState-Selected">
                    {{t.key}}
                </div>
                <div style="margin-right: 15px;display: inline;" *ngIf="t.key != 'PVC'">|</div>
            </div>
        </div>
        <div *ngIf="detailrecord">
            <table class="dTable">
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">General Information</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">Order Number</span>
                            <span class="dData">{{detailrecord.ORDERNUMBER}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Work Order State</span>
                            <span class="dData">{{detailrecord.WORKORDERSTATE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Current Status</span>
                            <span class="dData">{{detailrecord.STATUSDESCRIPTION}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Assigned To</span>
                            <span class="dData">{{detailrecord.ASSIGNEDTO}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Need Date</span>
                            <span class="dData">{{detailrecord.NEED_DATE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Order Type</span>
                            <span class="dData">{{detailrecord.ORDERTYPE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Related Order</span>
                            <span class="dData">{{detailrecord.RELATED_ORDER}}</span>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <span class="dHeading">Service Area</span>
                            <span class="dData">{{detailrecord.SERVICEAREA}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Design Area</span>
                            <span class="dData">{{detailrecord.DESIGNAREA}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Ref. Order Nos.</span>
                            <span class="dData">{{detailrecord.REF_ORDER_NOS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">JT Project ID</span>
                            <span class="dData">{{detailrecord.JT_PROJECT_ID}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Type</span>
                            <span class="dData">{{detailrecord.TYPE}}</span>
                        </td>
                        <td colspan="2">
                            <span class="dHeading">Description</span>
                            <span class="dData">{{detailrecord.DESCRIPTION}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">Requested By</span>
                            <span class="dData">{{detailrecord.REQUESTBY}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Requestor Phone</span>
                            <span class="dData">{{detailrecord.REQUESTOR_PHONE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Vendor</span>
                            <span class="dData">{{detailrecord.VENDOR}}</span>
                        </td>

                        <td colspan="4">
                            <span class="dHeading">Email</span>
                            <span class="dData">{{detailrecord.EMAIL}}</span>
                        </td>


                    </tr>
                </tbody>
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">Comments</td>
                    </tr>                   
                    
                     <tr>
                        <td colspan="7">
                            <table style="width:100%">
                                <tr *ngIf="detailrecord.Comments?.length == 0">
                                    <td>
                                        (No Records Found)
                                    </td>
                                </tr>
                                <tr style="height: 12px; font-size:12px" *ngIf="detailrecord.Comments?.length != 0">
                                    <th>Comments</th>
                                    <th>Date</th>
                                    <th>By</th>
                                    <th>Vendor</th>
                                    <th>Order Status</th>
                                </tr>
                                <tr  class="highlight"  style="height: 12px;" *ngFor="let r of detailrecord.Comments">
                                   
                                    <td style="text-align: left;">
                                        {{r.COMMENTS}}
                                    </td>
                                    <td>
                                        {{r.CREATEDDATE}}
                                    </td>
                                    <td>
                                        {{r.CREATEDBYNAME}}
                                    </td>
                                    <td>
                                        {{r.VENDOR}}
                                    </td>
                                    <td>
                                        {{r.STATUSDESCRIPTION}}
                                    </td>           
                                </tr>
                            </table>
                        </td>
                    </tr>
                  
                    <!--
                    <tr>
                        <td colspan="7">
                            <span class="dHeading">Problem Remarks</span>
                            <span class="dData">{{detailrecord.PROBLEM_REMARKS}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <span class="dHeading">Remarks</span>
                            <span class="dData">{{detailrecord.REMARKS}}</span>
                        </td>
                        <td colspan="4">
                            <span class="dHeading">Comments</span>
                            <span class="dData">{{detailrecord.COMMENTS}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <span class="dHeading">Vendor Comments</span>
                            <span class="dData">{{detailrecord.VENDOR_COMMENTS}}</span>
                        </td>
                    </tr>
                -->
                </tbody>
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">Project Information</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">Packet</span>
                            <span class="dData">{{detailrecord.PACKET}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Batch</span>
                            <span class="dData">{{detailrecord.BATCH}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Office</span>
                            <span class="dData">{{detailrecord.OFFICE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Project</span>
                            <span class="dData">{{detailrecord.PROJECT}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Est. Project Completion</span>
                            <span class="dData">{{detailrecord.EST_PROJ_COMP_DATE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">FileNet Doc ID</span>
                            <span class="dData">{{detailrecord.FNDOCID}}</span>
                        </td>
                        <td>
                            <span class="dHeading">User Status</span>
                            <span class="dData">{{detailrecord.USERSTATUS}}</span>
                        </td>

                    </tr>


                </tbody>
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">Location Information</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">XY Coord</span>
                            <span class="dData">{{detailrecord.XYCOORD}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Address</span>
                            <span class="dData">{{detailrecord.ADDRESS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">City</span>
                            <span class="dData">{{detailrecord.CITY}}</span>
                        </td>
                        <td>
                            <span class="dHeading">County</span>
                            <span class="dData">{{detailrecord.COUNTY}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Map Number</span>
                            <span class="dData">{{detailrecord.MAPNUM}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Towncode</span>
                            <span class="dData">{{detailrecord.TOWNCODE}}</span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">Township</span>
                            <span class="dData">{{detailrecord.TOWNSHIP}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Section</span>
                            <span class="dData">{{detailrecord.SECTION}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Range</span>
                            <span class="dData">{{detailrecord.RANGE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Quarter Section</span>
                            <span class="dData">{{detailrecord.QUARTER_SECTION}}</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">QC Information</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">QAQC</span>
                            <span class="dData">{{detailrecord.QCSTATUSDESCRIPTION}}</span>
                        </td>
                        <td>
                            <span class="dHeading">QC Status</span>
                            <span class="dData">{{detailrecord.QCSTATUS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Verify</span>
                            <span class="dData">{{detailrecord.VERIFY}}</span>
                        </td>

                        <td>
                            <span class="dHeading">QC Assigned To</span>
                            <span class="dData">{{detailrecord.QC_ASSIGNEDTO}}</span>
                        </td>
                        <td>
                            <span class="dHeading">QC Checker Fixed</span>
                            <span class="dData">{{detailrecord.QC_CHECKER_FIXED}}</span>
                        </td>
                        <td>
                            <span class="dHeading" colspan="2">QC Description</span>
                            <span class="dData">{{detailrecord.QC_DESCRIPTION}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <span class="dHeading">QC Remarks</span>
                            <span class="dData">{{detailrecord.QC_REMARKS}}</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">Audit Information</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">Archived</span>
                            <span class="dData">{{detailrecord.ARCHIVED}}</span>
                        </td>

                        <td>
                            <span class="dHeading">Last Updated BY</span>
                            <span class="dData">{{detailrecord.LASTUSERID}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Last Updates</span>
                            <span class="dData">{{detailrecord.LASTUSERDATE}}</span>
                        </td>

                        <td>
                            <span class="dHeading">WO Creation User</span>
                            <span class="dData">{{detailrecord.WO_CREATION_USER}}</span>
                        </td>
                        <td>
                            <span class="dHeading">WO Last User</span>
                            <span class="dData">{{detailrecord.WO_LAST_USER}}</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="dMain">
                        <td colspan="7">Other Information</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">CP Status</span>
                            <span class="dData">{{detailrecord.CP_STATUS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">CP Material</span>
                            <span class="dData">{{detailrecord.CP_MATERIAL}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Design Status</span>
                            <span class="dData">{{detailrecord.DESIGN_STATUS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Building Type</span>
                            <span class="dData">{{detailrecord.BUILDINGTYPE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Equip. Install Year</span>
                            <span class="dData">{{detailrecord.EQUIP_INSTALLYEAR}}</span>
                        </td>
                        <td>
                            <span class="dHeading">SAP Comments</span>
                            <span class="dData">{{detailrecord.SAP_COMMENTS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Installation Type</span>
                            <span class="dData">{{detailrecord.INSTALLATION_TYPE}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="dHeading">Start Date</span>
                            <span class="dData">{{detailrecord.STARTDATE}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Short Text</span>
                            <span class="dData">{{detailrecord.SHORTTEXT}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Related Reason</span>
                            <span class="dData">{{detailrecord.RELATED_REASON}}</span>
                        </td>

                        <td>
                            <span class="dHeading">SAP Equipment No.</span>
                            <span class="dData">{{detailrecord.SAP_EQUIP_NUMBER}}</span>
                        </td>
                        <td>
                            <span class="dHeading">HPT Status</span>
                            <span class="dData">{{detailrecord.HPT_STATUS}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Total Items</span>
                            <span class="dData">{{detailrecord.TOTALITEMS}}</span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <span class="dHeading">Navigation</span>
                            <span class="dData">{{detailrecord.NAVIGATION}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Actual Total Cost</span>
                            <span class="dData">{{detailrecord.ACTTOTCOST}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Room</span>
                            <span class="dData">{{detailrecord.ROOM}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Pint</span>
                            <span class="dData">{{detailrecord.PINT}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Plant</span>
                            <span class="dData">{{detailrecord.PLANT}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Per Unit</span>
                            <span class="dData">{{detailrecord.PERUNIT}}</span>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <span class="dHeading">Num Comp.</span>
                            <span class="dData">{{detailrecord.NUMCOMP}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Num Not Comp.</span>
                            <span class="dData">{{detailrecord.NUMNOTCOMP}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Post Time</span>
                            <span class="dData">{{detailrecord.POSTTIME}}</span>
                        </td>
                        <td>
                            <span class="dHeading">Est. Time</span>
                            <span class="dData">{{detailrecord.ESTTIME}}</span>
                        </td>
                    </tr>

                </tbody>



            </table>

            <table class="dTable">
                <tr class="dMain">
                    <td colspan="5">
                        Transactions Information
                    </td>
                </tr>
            </table>
            <table style="width: 100%">
                <tr *ngIf="detailrecord.Transactions?.length == 0">
                    <td>
                        (No Records Found)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Date
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Transaction
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        User
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Vendor
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Order State
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Order Type
                    </td>
                    <td style="font-weight: bold; font-size: 12px; padding-right: 10px;">
                        Description
                    </td>
                </tr>
                <tbody *ngFor="let t of detailrecord.Transactions">
                    <tr class="highlight">
                        <td style="padding-right: 10px;">
                            {{t.DATEOFTRANSACTION}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.TRANSACTIONLABEL}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.NAME}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.VENDOR}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.WORKORDERSTATE}}
                        </td>
                        <td style="padding-right: 10px;">
                            {{t.ORDERTYPE}}
                        </td>
                        <td>
                            {{t.DESCRIPTION}}
                        </td>
                    </tr>
                    <tr *ngIf="t.Fields[0].Field">
                        <td></td>
                        <td colspan="3" style="text-align: left; font-size: 10px;">
                            <div *ngFor="let f of t.Fields">
                                <ng-container *ngIf="f.To != f.From">
                                    [{{f.Field}}] From <span style="color: purple">{{f.From || '(empty)'}}</span> To
                                    <span style="color: purple">{{f.To || '(empty)'}}</span>
                                </ng-container>
                                <ng-container *ngIf="f.To == f.From">
                                    [{{f.Field}}] = <span style="color: purple">{{f.From || '(empty)'}}</span>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="dTable">
                <tr class="dMain">
                    <td colspan="5">
                        Attachments Information
                    </td>
                </tr>
            </table>
            <table class="table-view" style="width: auto; margin-bottom: 50px;" *ngIf="detailrecord?.Attachments">
                <tr *ngIf="detailrecord.Attachments?.length == 0">
                    <td>
                        (No Records Found)
                    </td>
                </tr>
                <tr *ngIf="detailrecord.Attachments?.length != 0">
                    <th>File Name</th>
                    <th>Attached By</th>
                    <th>Date Attached</th>
                    <th>Order Status</th>
                    <th></th>
                </tr>
                <tr style="height: 12px;" *ngFor="let att of detailrecord.Attachments">
                    <td style="text-align: left; padding-right: 10px;">
                        <a class="wraplongtext links"
                        (click)="attachmentDownload(att)">{{att.FILE_NAME}}</a>
                        </td>
                    <td style=" padding-right: 10px;">
                        {{att.CREATEDBY}}
                    </td>
                    <td style=" padding-right: 10px;">
                        {{att.CREATEDDATE}}
                    </td>
                    <td style=" padding-right: 10px;">
                        {{att.ORDERSTATUSDESC}}
                    </td>
                    <td style="text-align: right; ">
                        <button (click)="attachmentDownload(att)" class='row-cmd' title="Download">
                            <img src="assets/Images/row-icons/download.png" />
                        </button>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    
    <div class="flex-fill overflow-hidden" *ngIf="appDataService.currentSearchView == 'Multiple'">
        <!-- <div class="flex-fill overflow-hidden" style="position: relative;"> -->
        <!-- <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;"> -->
        <p-table #table [value]="undergroundrecords" sortMode="multiple" [loading]="isLoading" [scrollable]="true"
            scrollHeight="flex" [columns]="selectedColumns" [resizableColumns]="true" columnResizeMode="expand"
            [reorderableColumns]="true" selectionMode="single" [(selection)]="selectedItem" 
            [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[100,200,500,1000]"  [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
            stateStorage="local" stateKey="UNDERGROUND-state" [totalRecords]="totalRecords" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines Site">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:180px">

                    <ng-container *ngFor="let col of columns">

                        <col [style.width]="col.width" >
                    </ng-container>
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pResizableColumn></th>

                    <ng-container *ngFor="let col of columns">

                        <th pReorderableColumn pResizableColumn  [pSortableColumn]="col.field">

                            <span>{{col.header}}</span>
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                            <p-columnFilter [type]="col.filterType" [field]="col.field" display="menu"
                                style="float:right;" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                        </th>

                    </ng-container>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-data let-columns="columns">
                <tr [pSelectableRow]="data">
                    <td class="p-table-td">
                        <input class="row-cmd row-chkbox" [checked]="workOrder.checkedState[data.UI_ID]"
                            (change)="workOrder.toggleCheckState(data)" type="checkbox" />

                        <button class='row-cmd' title="View Details" (click)="openDetail(data)">
                            <img src="assets/Images/row-icons/info.png" />
                        </button>
                        <a  class='row-cmd' title="Open Details In a New Window" href="UNDERGROUND/Search?OrderNumber={{data.ORDERNUMBER}} {{data.WORKORDERSTATE}}" target="_blank"><img src="assets/Images/row-icons/open.png" /></a>                       

                        <button *ngIf="showEdit(data)" class='row-cmd' title="Edit" (click)="openEdit(data)">
                            <img src="assets/Images/row-icons/edit.png" />
                        </button>

                        
                        <button (click)="workOrder.commentsInit(data)" title="Comments" class='row-cmd'>
                            <img *ngIf="data.HASCOMMENTS" title="Open Comments"
                                src="assets/Images/row-icons/response.png" />
                            <img *ngIf="!data.HASCOMMENTS" title="No Comments Found. Click to Add New Comments"
                                src="assets/Images/row-icons/noresponse.png" />
                        </button>

                        <button (click)="openAttachment(data)" class='row-cmd' >
                            <img *ngIf="data.HASATTACHMENTS" title="Open Attachments" src="assets/Images/row-icons/attachment.png" />
                            <img *ngIf="!data.HASATTACHMENTS" title="No Attachments Found. Click to Upload Attachments" src="assets/Images/row-icons/noattachment.png" />
                        </button>

                        <button (click)="openFollow(data)" class='row-cmd' title="Follow/Unfollow">
                            <img *ngIf="!data?.Follow" src="assets/Images/row-icons/unfollow.png" />
                            <img *ngIf="data?.Follow" src="assets/Images/row-icons/follow.png" />
                        </button>

                    </td>

               
                    <ng-container *ngFor="let col of columns">
                        <td [title]="data[col.field]" >
                            <span *ngIf="!col.template">{{data[col.field]}}</span>
                        </td>
                    </ng-container>

                </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
                <button class='page-cmd' title="Show / Hide Columns" (click)="workOrder.showColumnsInit()">
                    <img src="assets/Images/columns.png" />
                </button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <button class='page-cmd' title="Reset Table" (click)="resetColumns()">
                    <img src="assets/Images/reset.png" />
                </button>
            </ng-template>

        </p-table>


    </div>

</div>


    <app-underground-dialogs (refreshGrid)="refreshData()"></app-underground-dialogs>