<div class="flex align-items-center">
  <div class="flex align-items-center py-2 mr-4">
    <p-inputSwitch
      class="mr-2"
      [(ngModel)]="_formConfig.useCustomForm"></p-inputSwitch>
    Use Custom Form
  </div>
  <div
    class="flex align-items-center py-2 mr-4"
    *ngIf="_type === 'UPDATE' && !_formConfig.useCustomForm">
    <p-inputSwitch
      class="mr-2"
      [(ngModel)]="_formConfig.sameAsAdd"></p-inputSwitch>
    Use the layout of adding form for updating
  </div>
  <div *ngIf="_formConfig.useCustomForm" class="flex align-items-center">
    <p-dropdown
      [(ngModel)]="_formConfig.customFormName"
      styleClass="w-15rem"
      appendTo="body"
      [showClear]="true"
      placeholder="Please Select"
      [options]="customActions"></p-dropdown>
    <i
      class="pi pi-question-circle ml-3 text-lg"
      pTooltip="Select one Custom Action that pre-defined by developers used for adding new record."></i>
  </div>
</div>
<div *ngIf="!_formConfig.useCustomForm">
  <div *ngIf="_type === 'ADD' || !_formConfig.sameAsAdd">
    <p-divider>Layout</p-divider>
    <div class="flex">
      <p-pickList
        #pickList
        class="flex-grow-1 mr-3"
        [source]="sourceColumns"
        [target]="targetColumns"
        sourceHeader="Available Fields"
        targetHeader="Selected Fields"
        [dragdrop]="true"
        [responsive]="true"
        [sourceStyle]="{ height: '31.2143rem' }"
        [targetStyle]="{ height: '36.5714rem' }"
        filterBy="name"
        sourceFilterPlaceholder="Search by name"
        [showTargetFilter]="false"
        [showSourceControls]="false"
        [showTargetControls]="false"
        (onMoveToTarget)="onMoveToTarget($event)"
        (onMoveToSource)="onMoveToSource($event)"
        (onMoveAllToTarget)="onMoveToTarget($event)"
        (onMoveAllToSource)="onMoveToSource($event)"
        (onTargetSelect)="onTargetSelect($event)">
        <ng-template let-column pTemplate="item">
          <div *ngIf="!column.selected">
            [{{ column.key }}]<span
              class="text-red-500"
              *ngIf="isRequired(column)"
              >*</span
            >
          </div>
          <app-form-designer-view
            *ngIf="column.selected"
            [config]="column"></app-form-designer-view>
        </ng-template>
        <ng-template pTemplate="emptymessagetarget">
          <div class="w-full relative">
            <app-svg-drag></app-svg-drag>
          </div>
        </ng-template>
      </p-pickList>
      <div class="config-form p-picklist">
        <div class="p-picklist-header">
          <div class="p-picklist-title">Configuration Form</div>
        </div>
        <div class="p-picklist-list flex-grow-1">
          <div *ngIf="this.model && this.model.key; else emptyMessage">
            <app-form-designer-config
              [config]="model"
              [allSelectedFields]="allSelectedFields"
              (configChange)="configChange($event)"></app-form-designer-config>
          </div>
          <ng-template #emptyMessage>
            <div class="pt-4">
              Please select one row in <b>Selected Fields</b> panel to
              configure.
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- For ADD and UPDATE -->
  <p-divider>
    <p-button
      [label]="_type === 'ADD' ? 'Query for Adding' : 'Query for Updating'"
      [icon]="showQuery || queryTextRequired ? 'pi pi-minus' : 'pi pi-plus'"
      styleClass="p-button-text p-button-sm"
      (onClick)="showQuery = !showQuery || queryTextRequired"></p-button>
  </p-divider>
  <p *ngIf="showQuery || queryTextRequired" class="line-height-2 mb-1">
    Enter your query text that will be run when
    {{ _type === 'ADD' ? 'creating new data' : 'updating details' }}. This is
    required if you use <b>custom query</b> as the Grid Datasource.
  </p>
  <ngx-monaco-editor
    *ngIf="showQuery || queryTextRequired"
    [formControl]="formControlQueryText"
    (onInit)="onMonacoEditorInit($event)"
    [style]="{ height: '20rem' }"
    class="pt-3 border-round monaco-editor-wrapper overflow-hidden mb-2"
    [options]="{}"></ngx-monaco-editor>
  <!-- For ADD and UPDATE -->
  <!-- For UPDATE -->
  <!-- <div *ngIf="_type === 'UPDATE'">
    <p-divider>
      <p-button
        label="Query for Fetching details"
        [icon]="showFetchQuery ? 'pi pi-minus' : 'pi pi-plus'"
        styleClass="p-button-text p-button-sm"
        (onClick)="showFetchQuery = !showFetchQuery"></p-button>
    </p-divider>
    <p *ngIf="showFetchQuery" class="mb-1">
      Enter your query text that will be run when fetching details for updating.
      This is required if you use <b>custom query</b> as the Grid Datasource.
    </p>
    <ngx-monaco-editor
      *ngIf="showFetchQuery"
      [(ngModel)]="_formConfig.fetchDetailQueryText"
      [style]="{ height: '20rem' }"
      class="pt-3 border-round monaco-editor-wrapper overflow-hidden mb-2"
      [options]="{}"></ngx-monaco-editor>
  </div> -->
  <!-- For UPDATE -->
  <p-divider>
    <p-button
      label="OnValidate"
      styleClass="p-button-text p-button-sm"></p-button>
  </p-divider>
  <app-event-config
    [formControl]="formControlOnValidateConfig"></app-event-config>
  <p-divider>
    <p-button
      label="OnAfterSaved"
      styleClass="p-button-text p-button-sm"></p-button>
  </p-divider>
  <app-event-config
    [formControl]="formControlOnAfterSavedConfig"></app-event-config>
</div>
