<form #editForm="ngForm">
  <formly-form
    [form]="form"
    [fields]="fields"
    [model]="model"
    [options]="options"
    (modelChange)="modelChange($event)"
    class="gps-wrapper"
    [ngClass]="{ 'label-padding': label }"></formly-form>
</form>
<div class="flex justify-content-end mt-3" style="padding-left: 40%">
  <a [href]="showLinesUrl" target="_blank">
    <p-button *ngIf="showLinesLabel" class="mr-2" [text]="true" [label]="showLinesLabel"></p-button>
  </a>
  <p-button
    *ngIf="lookupLinesLabel"
    [outlined]="true"
    [label]="lookupLinesLabel"
    (onClick)="onLookupLines()"></p-button>
</div>

<p-dialog
  header="Locator Data"
  [(visible)]="visible"
  [style]="{ width: '55rem' }"
  [modal]="true"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0"
  appendTo="body">
  <div #container class="dialog-content">
    <p-table
      [value]="dialogData"
      [columns]="columns"
      [rowHover]="true"
      [selectionMode]="'single'"
      [(selection)]="selection"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      [tableStyle]="{ tableLayout: 'fixed' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 4.6rem; max-width: 4.6rem" pSortableColumn="linked" pFrozenColumn></th>
          <th style="width: 200px" *ngFor="let col of columns">
            <span>{{ col }} </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr>
          <td pFrozenColumn>
            <p-tableRadioButton [value]="data" (click)="onRowCheckBoxClick($event)"></p-tableRadioButton>
          </td>
          <td style="width: 200px" *ngFor="let col of columns">
            <span>{{ data[col] }}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (onClick)="onCancel()" [label]="'Cancel'" [text]="true"></p-button>
    <p-button icon="pi pi-check" (onClick)="onOk()" [label]="'Ok'"></p-button>
  </ng-template>
</p-dialog>
