<button pButton (click)="showDialog()" [icon]="icon" [label]="label" [class]="class + ' ' + buttonStyleClass"></button>
<p-dialog
  focusable
  [header]="header"
  [visible]="dialogVisible"
  (visibleChange)="onVisibleChange($event)"
  (onHide)="onHide()"
  [style]="dialogStyle"
  [modal]="dialogModal"
  [contentStyleClass]="dialogContentStyleClass"
  appendTo="body">
  <ng-container #container></ng-container>
  <app-loading mode="once"></app-loading>
  <ng-template pTemplate="footer" *ngIf="!dialogHideFooter">
    <p-button
      *ngIf="cancelText"
      icon="pi pi-times"
      (onClick)="onCancel()"
      [label]="cancelText"
      [disabled]="buttonDisabled"
      [text]="true"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      [label]="okText"
      [disabled]="buttonDisabled"
      [loading]="isSaving"></p-button>
  </ng-template>
</p-dialog>
