<p-button
  (onClick)="showDialog()"
  [icon]="icon"
  [label]="label"
  [class]="class"
  [styleClass]="buttonStyleClass"></p-button>
<p-dialog
  [header]="header"
  [(visible)]="dialogVisible"
  (onHide)="onHide()"
  [style]="dialogStyle"
  [modal]="dialogModal"
  [contentStyleClass]="dialogContentStyleClass"
  appendTo="body">
  <ng-container #container></ng-container>
  <app-global-loading></app-global-loading>
  <ng-template pTemplate="footer" *ngIf="!dialogHideFooter">
    <p-button
      *ngIf="cancelText"
      icon="pi pi-times"
      (onClick)="onCancel()"
      [label]="cancelText"
      [disabled]="buttonDisabled"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      [label]="okText"
      [disabled]="buttonDisabled"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
