<p-dialog
  header="Custom Actions Configuration"
  [(visible)]="visible"
  [style]="{ width: '40rem' }"
  [modal]="true"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0">
  <div #container class="dialog-content">
    <div class="flex flex-column mb-2" style="min-height: 10rem">
      <p-orderList
        appendTo="body"
        class="option-list"
        [value]="optionArr"
        [stripedRows]="true"
        [dragdrop]="true">
        <ng-template let-option pTemplate="item">
          <div class="flex align-items-center justify-content-between">
            <div class="mr-3">
              <p-dropdown
                [style]="{ minWidth: '15rem' }"
                [options]="customActions"
                [formControl]="option"
                [required]="true"
                placeholder="Please Select"
                appendTo="body"></p-dropdown>
            </div>
            <div>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-text"
                (onClick)="onRemoveFilter(option)"></p-button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="empty">
          <p-message
            severity="info"
            text="There is no Custom Action configed. Click button to add a Custom
          Action."
            styleClass="mr-2"></p-message>
        </ng-template>
      </p-orderList>

      <p-button
        label="Add"
        icon="pi pi-plus"
        class="mt-1"
        styleClass="p-button-text p-button-sm"
        (onClick)="onAdd()"></p-button>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      label="Ok"
      [disabled]="buttonDisabled"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
