<div class="p-card pt-3 pb-1">
  <div class="flex mb-4 px-3 align-items-center">
    <h3>Search Inputs</h3>
    <i
      *ngIf="showStar"
      title="Save Current Search"
      class="pi pi-star ml-3 cursor-pointer"
      (click)="showDialog()"></i>
  </div>

  <div class="px-3" *ngIf="searchHistoryOptions.length > 0">
    <p-dropdown
      styleClass="w-full"
      [options]="searchHistoryOptions"
      [showClear]="true"
      (onClear)="onClear()"
      [formControl]="formControlSearchHistory"
      appendTo="body"
      placeholder="Saved Searches"></p-dropdown>
    <p-divider styleClass="mb-2"></p-divider>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)" class="px-3 pb-3">
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="model"
      [options]="options"
      (modelChange)="modelChange($event)"
      class="p-fluid"></formly-form>

    <div *ngIf="existingSearchOptions.length > 0">
      <p-divider></p-divider>
      <label>Search On</label>
      <p-dropdown
        styleClass="w-full mb-3"
        [options]="existingSearchOptions"
        [showClear]="true"
        (onClear)="onClear()"
        [formControl]="formControlExistingSearch"
        appendTo="body"
        placeholder="Existing Search Config"></p-dropdown>
    </div>

    <div class="flex justify-content-end">
      <p-button styleClass="p-button-outlined mr-2" (onClick)="onClear()">
        Clear
      </p-button>
      <p-button type="submit">Submit</p-button>
    </div>
  </form>
</div>

<p-dialog
  header="Save Search Inputs"
  [(visible)]="visible"
  [style]="dialogStyle"
  [modal]="true"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0"
  appendTo="body">
  <div #container class="dialog-content">
    <div class="mb-3">
      <label class="line-height-3 flex align-items-center"
        >New Search Name</label
      >
      <input
        type="text"
        class="w-full"
        pInputText
        [required]="true"
        [formControl]="formControlDialogName"
        placeholder="Enter Name" />
    </div>
    <div class="mb-3">
      <label class="line-height-3 flex align-items-center"
        >Replace Existing Saved Search</label
      >
      <p-dropdown
        styleClass="w-full"
        [required]="true"
        [options]="dialogHistoryOptions"
        [formControl]="formControlDialogSearchHistory"
        appendTo="body"
        placeholder="Please Select"></p-dropdown>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancel"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      label="Save"
      [disabled]="isLoading"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
