<p-dialog *ngIf="exportData" header="Export To Excel" [style]="{'width': '500px'}" 
  [(visible)]="showWindow['EXPORT']">

  <div>
    <div style="margin-top: 5px;">
      File Name
    </div>
    <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="ExportName"
      [(ngModel)]="exportData.ExportName">

    <div *ngIf="reportType != 'Summary'">
    <div style="margin-top: 5px;">
      <div>
        Export Option
      </div>
      <div>
        <div>
          <p-radioButton label="Export Selected Items Only" name="ExportOption" value="Selection"
            [(ngModel)]="exportData.ExportOption">
          </p-radioButton>
        </div>
        <div>
          <p-radioButton name="ExportOption" label="Export Entire Result" value="All"
            [(ngModel)]="exportData.ExportOption"></p-radioButton>
        </div>
      </div>
    </div>
  </div>

    <div style="float: right; margin-top: 10px;">
      <button class="search-cmd" (click)="exportDataSubmit()">Export</button>
      <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
  </div>  </div>

</p-dialog>

<p-dialog *ngIf="reviewData" header="Restatus to be Worked in GIS" [style]="{'width': '500px'}" [(visible)]="showWindow['RESTATUS']"
#overlayContainer>


<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be restatused to "FIXED":  
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="restatusSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>

</div>
</p-dialog>


<p-dialog *ngIf="reviewData" header="Resubmit In New Batch" [style]="{'width': '500px'}" [(visible)]="showWindow['RESUBMIT']"
#overlayContainer>

<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be resubmitted in New Batch
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="resubmitSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>

</div>
</p-dialog>

<p-dialog *ngIf="reviewData" header="Resolve Low Confidence Orders" [style]="{'width': '500px'}" [(visible)]="showWindow['GAS_LC_FIXED']"
#overlayContainer>

<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be resolved based on the selected Completed Work Order
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div>
      Lookup Work order     
      <input type="text" pInputText  (keydown.enter)="searchWorkOrder()"
      [(ngModel)]="reviewData.OrderNumberInput">  
      <button class='row-cmd' title="Search For Work Order" (click)="searchWorkOrder()">
        <img src="assets/Images/search.png" />
      </button>
</div>
    <div>
      <div [ngClass]="{'ErrorMsg' : validationErrors?.OrderNumber}">
        <div *ngIf="validationErrors?.OrderNumber" class="Error"
            [title]="validationErrors?.OrderNumber"></div>
        Select Work Order
    </div>
    <p-listbox [checkbox]="true" [multiple]="false" [options]="reviewData.LK_OrderNumber"  [showToggleAll]="false" [(ngModel)]="reviewData.OrderNumber" optionLabel="ORDERNUMBER"></p-listbox>
    </div>

    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="GasLCFixSubmit()" [disabled]="isSubmitting">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>
    <br><br>
    <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>

</div>
</p-dialog>


<p-dialog *ngIf="reviewData" header="Restatus to be Worked in GIS" [style]="{'width': '500px'}" [(visible)]="showWindow['GAS_LC_RESTATUS']"
#overlayContainer>


<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be restatused to "FIXED":  
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div [ngClass]="{'ErrorMsg' : validationErrors?.VendorComment}">
      <div *ngIf="validationErrors?.Comment" class="Error" [title]="validationErrors?.Comment"></div>
      Additional Comment
  </div>
  <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="reviewData.Comment"></textarea>

  <div style="float: right; margin-top: 20px;">
    <button class="search-cmd" (click)="GasLCRestatusSubmit()" [disabled]="isSubmitting">Submit</button>
    <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
</div>
<br><br>
<p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>


</div>
</p-dialog>


<p-dialog *ngIf="reviewData" header="Set CP Status to Reviewed" [style]="{'width': '500px'}" [(visible)]="showWindow['CPSTATUS']"
#overlayContainer>

<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be set to REVIEWED
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="CPStatusReviewedSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>

</div>
</p-dialog>


<p-dialog *ngIf="reviewData" header="Set HPT Status to Reviewed - WOTS" [style]="{'width': '500px'}" [(visible)]="showWindow['HPTSTATUS']"
#overlayContainer>

<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be set to REVIEWED
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="HPTStatusReviewedSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>

</div>
</p-dialog>


<p-dialog *ngIf="reviewData" header="Set HPT Status to Reviewed - Non-WOTS" [style]="{'width': '500px'}" [(visible)]="showWindow['HPTSTATUSNONWOTS']"
#overlayContainer>

<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be set to REVIEWED
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="HPTStatusReviewedNonWOTSSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>

</div>
</p-dialog>


<p-dialog *ngIf="reviewData" header="Set Design Installed Status to Reviewed" [style]="{'width': '500px'}" [(visible)]="showWindow['DESIGNINSTALLEDSTATUS']"
#overlayContainer>

<div *ngIf="!validationErrors?.InitError">

    <div>Selected Issue(s) - {{reviewData.checkedItems?.length}} Total</div>
    <div>
        The following Work Order(s) will be set to REVIEWED
    </div>
    <span style="color: #336699">{{reviewData.checkedItemsList}}</span>
    <div style="color: red" *ngIf="validationErrors?.Selected">
        <div *ngIf="validationErrors?.Selected" class="Error" [title]="validationErrors?.Selected"></div>No Work
        Order(s) were selected.
    </div>
  
    <div style="float: right; margin-top: 20px;">
        <button class="search-cmd" (click)="DesignInstalledStatusReviewedSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow={}">Cancel</button>
    </div>

</div>
</p-dialog>
<div class="w-100 h-100 d-flex flex-column">
    <h5 class="page-title">{{this.appDataService.currentNavigationItem?.label}} Results 
      
      <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>
        
    </h5>
    <div *ngIf="records && totalRecords == 0" style="font-weight: bold; color: red"><div class="Error" ></div>No Search Results Found</div>
    <div class="table-toolbar" style="margin-bottom: 5px;">
        <button id="refreshgridID" (click)="refreshData()" class="table-button">
            <img title="Refresh" src="assets/Images/table-icons/refresh.png" class="sizeIcon" /> Refresh
          </button>
          <div style="display:inline"  *ngIf="reportType != 'Summary'">          <button (click)="initCheckState(true)" class="table-button">
            <img title="Select All" src="assets/Images/table-icons/selectall.png" class="sizeIcon" /> Select All
          </button>
          <button (click)="initCheckState(false)" class="table-button">
            <img title="Unselect All" src="assets/Images/table-icons/unselectall.png" class="sizeIcon" /> Unselect All
          </button>
    
          <span style="color:black" class="layercontrolBar"><strong>{{checkedCount}} row(s) selected</strong></span>
         

          <div style="display: inline;" *ngIf="appDataService.currentNavigationItem?.key=='GAS_PROBLEM_WORKORDER' || appDataService.currentNavigationItem?.key=='ELECTRIC_PROBLEM_WORKORDER' || appDataService.currentNavigationItem?.key=='UNDERGROUND_PROBLEM_WORKORDER'">
            <button (click)="restatusInit()" class="table-button">
                Restatus to be Worked in GIS
            </button>

            <button (click)="resubmitInit()" class="table-button">
                Resubmit in New Batch
            </button>

          </div>

          <div style="display: inline;" *ngIf="appDataService.currentNavigationItem?.key=='REVIEW_CP_STATUS'">
            <button (click)="CPStatusReviewedInit()" class="table-button">
                Update To Reviewed
            </button>
          </div>
          
          <div style="display: inline;" *ngIf="appDataService.currentNavigationItem?.key=='REVIEW_HPT_STATUS'">
            <button (click)="HPTStatusReviewedInit()" class="table-button">
                Update To Reviewed
            </button>
          </div>

          <div style="display: inline;" *ngIf="appDataService.currentNavigationItem?.key=='REVIEW_DESIGN_INSTALLED_STATUS'">
            <button (click)="DesignInstalledStatusReviewedInit()" class="table-button">
                Update To Reviewed
            </button>
          </div>

          <div style="display: inline;" *ngIf="appDataService.currentNavigationItem?.key=='REVIEW_HPT_STATUS_NONWOTS'">
            <button (click)="HPTStatusReviewedNonWOTSInit()" class="table-button">
                Update To Reviewed
            </button>
          </div>

          <div style="display: inline;" *ngIf="user.Permissions.GAS_COMPLETE && appDataService.currentNavigationItem?.key=='GAS_LC_OUTSTANDING'">
            <button (click)="GasLCFixInit()" class="table-button">
                Update To Resolved
            </button>
          </div>

          <div style="display: inline;" *ngIf="user.Permissions.GAS_COMPLETE && (appDataService.currentNavigationItem?.key=='GAS_LC_OUTSTANDING' || appDataService.currentNavigationItem?.key == 'GAS_LC_RESOLVED')">
            <button (click)="GasLCRestatusInit()" class="table-button">
              Restatus to be Worked in GIS
            </button>
          </div>
        </div>
        <button (click)="exportDataInit()" class="table-button">
          Export To Excel
        </button>
    </div>
  
    <div class="flex-fill overflow-hidden" *ngIf="totalRecords > -1">
      <!-- <div class="flex-fill overflow-hidden" style="position: relative;"> -->
      <!-- <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;"> -->
      <p-table [value]="records" sortMode="multiple" [loading]="isLoading" [scrollable]="true" scrollHeight="flex"
        [columns]="cols" [resizableColumns]="true" columnResizeMode="expand" [reorderableColumns]="true"
        selectionMode="single" [(selection)]="selectedItem" [paginator]="true" [rows]="100"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[100,200,500,1000]"  [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
        [totalRecords]="totalRecords" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines Site">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col  *ngIf="reportType != 'Summary'" style="width:70px">
  
            <col *ngFor="let col of columns" [style.width]="col.width">
  
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th  *ngIf="reportType != 'Summary'" pResizableColumn>Select</th>

            <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">
  
              <span>{{col.header}}</span>
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <p-columnFilter *ngIf="!col.UIType" [type]="col.filterType" [field]="col.field" display="menu" style="float:right;" [showOperator]="false" [showAddButton] = "false"></p-columnFilter>
            </th>
  
          </tr>
        </ng-template>
  
        <ng-template pTemplate  ="body" let-data let-columns="columns">
          <tr [pSelectableRow]="data">  

            <td class="p-table-td"  *ngIf="reportType != 'Summary'">
                <input class="row-cmd row-chkbox" [checked]="checkedState[data.UI_ID]"
                    (change)="toggleCheckState(data)" type="checkbox" />

                    <a *ngIf="appDataService.currentNavigationItem.Module && data?.ORDERNUMBER && data?.WORKORDERSTATE" class='row-cmd' title="Open Details In a New Window" href="{{appDataService.currentNavigationItem.Module}}/Search?OrderNumber={{data.ORDERNUMBER}} {{data.WORKORDERSTATE}}" target="_blank"><img src="assets/Images/row-icons/open.png" /></a>                       

            </td>

            <td *ngFor="let col of columns" [title]="data[col.field]">          
              <span *ngIf="!col.UIType">{{data[col.field]}}</span>
              <div *ngIf="col.UIType == 'checkBox'">
                <p-checkbox [(ngModel)]="data[col.field]" [binary]="true">
                </p-checkbox>                
              </div>
              <div *ngIf="col.UIType == 'textBox'">
                <input type="text" style="width: 100%;" styleClass="col-12" pInputText 
                [(ngModel)]="data[col.field]">
          
            </div>
          </td>
  
          </tr>
        </ng-template>
  
        <!--
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
      -->
      </p-table>
      
  
    </div>
  
  
  </div>