<p-dialog
  header="Persional Information"
  [(visible)]="visible"
  *ngIf="visible"
  [style]="{ width: '40rem' }"
  [modal]="true"
  [dismissableMask]="true"
  contentStyleClass="border-top-1 surface-border pt-3"
  appendTo="body">
  <form
    [formGroup]="form"
    (ngSubmit)="onFormSubmit(model)"
    #editForm="ngForm"
    class="user-form">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
      class="p-fluid">
      <button type="submit" class="btn btn-primary submit-button border">
        Submit
      </button>
    </formly-form>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (onClick)="onOk()" label="Save"></p-button>
  </ng-template>
</p-dialog>
