<ng-container *ngIf="showAll">
  <div *ngFor="let file of fileList" class="flex attachment-row w-full">
    <div
      class="overflow-hidden"
      [style]="{ flex: file.comments ? '0 0 40%' : '1' }">
      <a
        class="no-underline cursor-pointer text-primary max-w-full inline-block"
        (click)="onAttachmentClick(file)"
        href="{{ apiUrl }}attachment/download-file/{{ gridName }}/{{
          fieldName
        }}/{{ file.fileId }}/{{ file.fileName || '' }}"
        target="_blank"
        >{{ file.fileName }}</a
      >
    </div>
    <div class="ml-3">
      {{ file.comments }}
    </div>
  </div>
</ng-container>

<ng-container class="inline-flex align-items-start flex-column overflow-hidden">
  <ng-container *ngIf="!showAll && fileList.length === 1">
    <a
      class="no-underline cursor-pointer text-primary overflow-hidden text-overflow-ellipsis max-w-full"
      *ngFor="let file of fileList"
      (click)="onAttachmentClick(file)"
      href="{{ apiUrl }}attachment/download-file/{{ gridName }}/{{
        fieldName
      }}/{{ file.fileId }}/{{ file.fileName || '' }}"
      pTooltip="{{ file.comments || '' }}"
      tooltipPosition="bottom"
      target="_blank"
      >{{ file.fileName }}</a
    >
  </ng-container>
  <ng-container *ngIf="!showAll && fileList.length > 1">
    <span [pTooltip]="tooltipList" [escape]="false" tooltipPosition="bottom">
      {{ fileList.length }} attachments
    </span>
  </ng-container>
</ng-container>
