.layout-content {
  ::ng-deep {
    .p-card {
      min-height: calc(100vh - 8rem);
    }
    .ql-editor {
      min-height: 320px;
    }
    .p-disabled,
    .p-component:disabled {
      opacity: 1;
    }
  }
}
