<div class="layout-content px-3 py-3">
  <p-card>
    <ng-template pTemplate="title">Settings </ng-template>
    <ng-template pTemplate="subtitle"> Setting Infomation </ng-template>
    <p-divider styleClass="mt-0"></p-divider>
    <div class="w-full pb-1" style="margin-top: -1rem">
      <p-tabView>
        <p-tabPanel
          header="Settings for Site"
          *ngIf="!configDataService.licenseExpired">
          <div class="w-6 mb-3 mt-3">
            <p class="mb-2">Site Logo</p>
            <div class="flex align-items-start justify-content-between mb-3">
              <div class="flex align-items-center">
                <img
                  *ngIf="this.siteLogo"
                  [src]="this.siteLogo"
                  [style]="{ maxHeight: '3.5rem' }" />
                <!-- Upload Button -->
                <p-button
                  tabindex="0"
                  *ngIf="!this.siteLogo; else removeButton"
                  label="Upload"
                  icon="pi pi-plus"
                  class="ml-auto relative padding-0"
                  styleClass="p-button-outlined">
                  <input
                    #file
                    (change)="picChange($event)"
                    type="file"
                    accept="image/*"
                    [style]="{ height: '60px' }"
                    class="opacity-0 cursor-pointer absolute left-0" />
                  <span class="p-ink"> </span>
                </p-button>

                <!-- Remove Button -->
                <ng-template #removeButton>
                  <button
                    (click)="removePic()"
                    pButton
                    pRipple
                    type="button"
                    label="Remove"
                    class="p-button-text p-button-danger p-button-sm ml-3">
                    <span
                      class="p-button-icon p-button-icon-left pi pi-trash"></span>
                  </button>
                </ng-template>

                <!-- Tips -->
                <span *ngIf="!this.siteLogo && picTips">
                  <p class="text-300 text-pink-600 mt-2">* No image</p>
                </span>
              </div>
            </div>
            <p class="mb-2">Site Title</p>
            <div>
              <input
                class="w-6"
                pInputText
                [required]="true"
                [formControl]="this.formControlSiteName"
                placeholder="Enter a value" />
            </div>
          </div>
          <div class="flex align-items-center w-6 mt-4">
            <p-button
              label="Save"
              icon="pi pi-save"
              [loading]="isLoading"
              [disabled]="isLoading"
              (onClick)="onSave()"></p-button>
          </div>
        </p-tabPanel>
        <p-tabPanel
          header="Content for About"
          *ngIf="!configDataService.licenseExpired">
          <div class="w-full mb-4 mt-3">
            <!-- <p class="mb-2">Site About</p> -->
            <div>
              <p-editor
                [modules]="{ toggleFullscreen: true, blotFormatter: {} }"
                [formControl]="formControlAboutEditor"></p-editor>
            </div>
          </div>
          <div class="flex align-items-center w-full mt-4">
            <p-button
              label="Save"
              icon="pi pi-save"
              [loading]="isLoading"
              [disabled]="isLoading"
              (onClick)="onSaveAbout()"></p-button>
          </div>
        </p-tabPanel>
        <p-tabPanel
          header="Content for Contact"
          *ngIf="!configDataService.licenseExpired">
          <div class="w-full mb-4 mt-3">
            <!-- <p class="mb-2">Site Contact</p> -->
            <div>
              <p-editor
                [modules]="{ toggleFullscreen: true, blotFormatter: {} }"
                [formControl]="formControlContactEditor"></p-editor>
            </div>
          </div>
          <div class="flex align-items-center w-full mt-4">
            <p-button
              label="Save"
              icon="pi pi-save"
              [loading]="isLoading"
              [disabled]="isLoading"
              (onClick)="onSaveContact()"></p-button>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Settings for License">
          <div class="w-6 mb-4 mt-3">
            <p class="mb-2">
              {{
                configDataService.licenseExpired
                  ? 'Your license has expired, please contact the administrator'
                  : 'Your current license'
              }}
            </p>
            <div>
              <textarea
                class="w-full text-color"
                pInputTextarea
                rows="10"
                [value]="siteLicense"
                disabled="true"></textarea>
            </div>
          </div>
          <div class="flex align-items-center w-full mt-4">
            <p-button
              *ngIf="configDataService.licenseExpired"
              label="License Key"
              icon="pi pi-key"
              (onClick)="visible = true"></p-button>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </p-card>
</div>

<p-dialog
  header="License Key"
  [(visible)]="visible"
  *ngIf="visible"
  [style]="{ width: '40rem' }"
  [modal]="true"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0"
  appendTo="body">
  <div class="w-full mb-3">
    <p class="mb-2">Site License</p>
    <div>
      <textarea
        class="w-full"
        pInputTextarea
        rows="10"
        [required]="true"
        [formControl]="formControlLicense"></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancel"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onSaveLicense()"
      label="Save License"></p-button>
  </ng-template>
</p-dialog>
