<div class="flex align-items-center justify-content-between">
  <div class="flex">
    <p-message
      class="cursor-pointer"
      *ngIf="dsConfig.fieldMapping"
      severity="info"
      text="Use existing table"
      (click)="showDialog()"></p-message>
    <p-message
      *ngIf="!dsConfig.fieldMapping"
      severity="info"
      text="Use default table"></p-message>
    <p-button
      *ngIf="dsConfig.fieldMapping"
      styleClass="p-button-text p-button-rounded remove-btn"
      icon="pi pi-times-circle"
      (onClick)="removeConfig()"></p-button>
  </div>

  <p-button
    *ngIf="!dsConfig.fieldMapping"
    styleClass="p-button-outlined"
    (onClick)="showDialog()"
    >Configure</p-button
  >
</div>
<p-dialog
  [(visible)]="visible"
  [style]="{ minWidth: '50rem' }"
  [modal]="true"
  (onHide)="onHide()"
  header="File Upload Configuration"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border pb-0">
  <div #container class="dialog-content">
    <div class="flex align-items-center mt-3 mb-3 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"
          >Database Connection
          <i
            class="pi pi-question-circle ml-2 text-lg"
            [escape]="false"
            pTooltip="To process data within the same transaction, this option is restricted to using the same database connection as the <b> Data Source</b>. If there are no available database tables, please consider changing the connection in <b>Data Source</b> or granting the tables to the current database connection."></i
        ></label>
        <p-dropdown
          [required]="true"
          [options]="dbConnections"
          [formControl]="formControlConnection"
          (onChange)="onConnectionChange($event)"
          placeholder="Please Select"
          styleClass="w-full"
          appendTo="body"></p-dropdown>
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1">Database Table</label>
        <p-dropdown
          #dropdown
          [required]="true"
          [options]="dbTables"
          [formControl]="formControlDbTable"
          (onChange)="onTableNameChange($event)"
          placeholder="Please Select"
          styleClass="w-full"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-3 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1">Reference Data Key</label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="referenceDataKeyColumn"
          [options]="foreignKeyOptions"
          placeholder="Please Select"
          styleClass="w-full"
          appendTo="body"></p-dropdown>
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1">Foreign Key</label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="foreignKeyColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-3 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1">Storage Type</label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="storageTypeColumn"
          (ngModelChange)="onStorageTypeChange($event)"
          [options]="[
            { label: 'File System', value: 'FileSystem' },
            { label: 'Sql Binary', value: 'SqlBinary' }
          ]"
          placeholder="Please Select"
          styleClass="w-full"
          appendTo="body"></p-dropdown>
      </div>

      <div class="flex flex-column flex-1 px-3 w-6">
        <ng-container *ngIf="storageTypeColumn === 'FileSystem'">
          <label for="" class="mb-1">Base Path</label>
          <input
            pInputText
            #dropdownList="ngModel"
            [required]="true"
            [(ngModel)]="basePathColumn"
            placeholder="Enter Base Path" />
        </ng-container>
      </div>
    </div>

    <p-divider styleClass="mb-4 mt-5">Fields Mapping</p-divider>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1">Field Name</label>
        <input type="text" pInputText [ngModel]="'ID'" [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1">Map To</label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="idColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'FILE_NAME'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="fileNameColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input type="text" pInputText [ngModel]="'STATUS'" [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="statusColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3" *ngIf="isStorageTypeBinary">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'FILE_BYTES'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="true"
          [(ngModel)]="fileBytesColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>
    <div
      class="flex align-items-center mb-2 -mx-3"
      *ngIf="!isStorageTypeBinary">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'FILE_PATH'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="filePathColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'COMMENTS'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="commentsColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'CONTENT_TYPE'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="contentTypeColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'CREATED BY'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="createdByColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'CREATED DATE'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="createdDateColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'MODIFIED BY'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="modifiedByColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>

    <div class="flex align-items-center mb-2 -mx-3">
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="" class="mb-1"></label>
        <input
          type="text"
          pInputText
          [ngModel]="'MODIFIED DATE'"
          [disabled]="true" />
      </div>
      <div class="flex flex-column flex-1 px-3 w-6">
        <label for="tableName" class="mb-1"></label>
        <p-dropdown
          #dropdownList="ngModel"
          [required]="false"
          [showClear]="true"
          [(ngModel)]="modifiedDateColumn"
          [options]="dbTableColumns"
          placeholder="Please Select"
          styleClass="w-full"
          optionLabel="columnName"
          optionValue="columnName"
          appendTo="body"></p-dropdown>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancel"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      label="Ok"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
