<p-dialog *ngIf="exportData" header="Export To Excel" [style]="{'width': '500px'}" [(visible)]="showWindow['EXPORT']">

  <div>
    <div style="margin-top: 5px;">
      File Name
    </div>
    <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="ExportName"
      [(ngModel)]="exportData.ExportName">


    <div style="margin-top: 5px;">
      <div>
        Export Option
      </div>
      <div>
        <div>
          <p-radioButton label="Export Selected Items Only" name="ExportOption" value="Selection"
            [(ngModel)]="exportData.ExportOption">
          </p-radioButton>
        </div>
        <div>
          <p-radioButton name="ExportOption" label="Export Entire Result" value="All"
            [(ngModel)]="exportData.ExportOption"></p-radioButton>
        </div>
      </div>
    </div>


    <div style="float: right; margin-top: 10px;">
      <button class="search-cmd" (click)="exportDataSubmit()">Export</button>
      <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
    </div>
  </div>

</p-dialog>

<div class="w-100 h-100 d-flex flex-column">
  <h5 class="page-title">Batch Search Results

    <button *ngIf="user.Permissions.BATCH_ADD" (click)="addNewInit()" type="button" class="table-button">
      Add New Batch
    </button>
    <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>
   </h5>     
  <div *ngIf="batches && totalRecords == 0" style="font-weight: bold; color: red">
    <div class="Error"></div>No Search Results Found
  </div>
  <div class="table-toolbar" style="margin-bottom: 5px;">
    <button id="refreshgridID" (click)="refreshData()" class="table-button">
      <img title="Refresh" src="assets/Images/table-icons/refresh.png" class="sizeIcon" /> Refresh
    </button>
    <button (click)="initCheckState(true)" class="table-button">
      <img title="Select All" src="assets/Images/table-icons/selectall.png" class="sizeIcon" /> Select All
    </button>
    <button (click)="initCheckState(false)" class="table-button">
      <img title="Unselect All" src="assets/Images/table-icons/unselectall.png" class="sizeIcon" /> Unselect All
    </button>

    <span style="color:black" class="layercontrolBar"><strong>{{checkedCount}} row(s) selected</strong></span>


    <button *ngIf="user.Permissions.BATCH_UPDATE_RECEIVED"  (click)="receiveInit()" class="table-button">
      Update Received
    </button>

    <button *ngIf="user.Permissions.BATCH_UPDATE_COMPLETED"  (click)="completeInit()" class="table-button">
      Update Completed
    </button>


    <button (click)="exportDataInit()" class="table-button">
      Export To Excel
    </button>

  </div>

  <div class="flex-fill overflow-hidden">
    
    <p-table [value]="batches" sortMode="multiple" [loading]="isLoading" [scrollable]="true" scrollHeight="flex"
      [columns]="cols" [resizableColumns]="true" columnResizeMode="expand" [reorderableColumns]="true"
      selectionMode="single" [(selection)]="selectedItem" dataKey="BATCH" [paginator]="true" [rows]="100"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[100,200,500,1000]"  [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
      [totalRecords]="totalRecords" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines Site">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:150px">

          <col *ngFor="let col of columns" [style.width]="col.width">

        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn></th>

          <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">

            <span>{{col.header}}</span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <p-columnFilter [type]="col.filterType" [field]="col.field" display="menu" style="float:right;"
              [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr [pSelectableRow]="data">
          <td class="p-table-td">
            <input class="row-cmd row-chkbox" [checked]="checkedState[data.BATCH]" (change)="toggleCheckState(data)"
              type="checkbox" />

            <button class='row-cmd' title="View Details" (click)="openDetail(data)">
              <img src="assets/Images/row-icons/info.png" />
            </button>
            <button class='row-cmd' title="Edit" *ngIf="user.Permissions.BATCH_EDIT" (click)="editInit(data)">
              <img src="assets/Images/row-icons/edit.png" />
            </button>

            <button *ngIf="data.FILE_NAME" (click)="attachmentDownload(data)" class='row-cmd' title="Attachments">
              <img src="assets/Images/row-icons/attachment.png" />
            </button>

          </td>

          <td *ngFor="let col of columns" [title]="data[col.field]">
            <span *ngIf="!col.template">{{data[col.field]}}</span>
          </td>

        </tr>
      </ng-template>

    </p-table>


  </div>



</div>


<p-dialog  *ngIf="batchData" header="{{batchData.Mode == 'Add' ? 'Add New Batch Number' : 'Edit'}} {{batchData?.Batch}}" [style]="{'width': '570px'}" [(visible)]="showWindow['EDIT']"
  #overlayContainer>
  <div class="h-100 p-2">

    <div *ngIf="batchData.Mode == 'Add'">
    <div class="row mb-1" >
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.WorkType}">
        <div *ngIf="validationErrors?.WorkType" class="Error" [title]="validationErrors?.WorkType"></div>
        Work Type<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <p-dropdown (onChange)="workTypeChange()" styleClass="col-12" [options]="batchData.LK_WorkType"
          [(ngModel)]="batchData.WorkType" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
          filterBy="Label" [showClear]="true" [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>

      </div>
    </div>


    <div class="row mb-1" >
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Jurisdiction}">
        <div *ngIf="validationErrors?.Jurisdiction" class="Error" [title]="validationErrors?.Jurisdiction"></div>
        Jurisdiction<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <p-dropdown styleClass="col-12" (onChange)="serviceAreaChange()" [options]="batchData.LK_Jurisdiction" [(ngModel)]="batchData.Jurisdiction"
          [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true" filterBy="Label" [showClear]="true"
          [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>
      </div>
    </div>


    <div class="row mb-1" >
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Office}">
        <div *ngIf="validationErrors?.Office" class="Error" [title]="validationErrors?.Office"></div>
        Office<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <p-dropdown styleClass="col-12" [options]="batchData.LK_Office" [(ngModel)]="batchData.Office"
          [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true" filterBy="Label" [showClear]="true"
          [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>
      </div>
    </div>
  </div>  
    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.WorkOrderCount}">
        <div *ngIf="validationErrors?.WorkOrderCount" class="Error" [title]="validationErrors?.WorkOrderCount"></div>
        Work Order Count<span class="dialog-require"></span>
      </label>
      <div class="col-9">
        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="0" [(ngModel)]="batchData.WorkOrderCount"
          mode="decimal"></p-inputNumber>
      </div>
    </div>


    <div class="row mb-1"  *ngIf="batchData.Mode == 'Add'">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Project}">
        <div *ngIf="validationErrors?.Project" class="Error" [title]="validationErrors?.Project"></div>
        Project
      </label>
      <div class="col-9">

        <p-dropdown styleClass="col-12" [options]="batchData.LK_Project" [(ngModel)]="batchData.Project"
          [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true" filterBy="Label" [showClear]="true"
          [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>
      </div>
    </div>


    <div class="row mb-1">
      <label class="col-3">Attach File(s)</label>
      <div class="col-9">
        <p-fileUpload #AttachmentsRef name="attachments" [auto]="true" mode="basic" chooseLabel="Browse"
          url="{{batchService._apiUrl}}Batch/AddTempAttachment" accept=".docx,.doc,.xlsx,.xls"
          (onError)="onFileUploadError($event,AttachmentsRef)"
          (onUpload)="addNewFileUploadSuccess($event,AttachmentsRef)">
        </p-fileUpload>
        <div *ngIf="batchData.Attachment?.FileName">
          <a (click)="tempAttachmentDownload(batchData.Attachment)"
            class="wraplongtext links">{{batchData.Attachment?.FileName}}</a>
          <button class='row-cmd' title="Remove {{batchData.Attachment?.FileName}}"
            (click)="addNewRemoveAttachment()" style="margin-top: -6px;">
            <img src="assets/Images/row-icons/delete.png" />
          </button>

        </div>
        <div *ngIf="batchData.OrigFileName">
          <a  *ngIf="batchData.OrigFileStatus == 'Keep'" (click)="attachmentDownload(batchData)"
            class="wraplongtext links">{{batchData.OrigFileName}}</a>
          <span *ngIf="batchData.OrigFileStatus == 'Removed'" class="wraplongtext" style="text-decoration: line-through;">{{batchData.OrigFileName}}</span>

          <button  *ngIf="batchData.OrigFileStatus == 'Keep'" class='row-cmd' title="Remove {{batchData.OrigFileName}}"
            (click)="attachmentDelete()" style="margin-top: -6px;">
            <img src="assets/Images/row-icons/delete.png" />
          </button>
          <button *ngIf="batchData.OrigFileStatus == 'Removed'" class='row-cmd' title="Retore {{batchData.OrigFileName}}" (click)="attachmentRestore()">
            <img src="assets/Images/row-icons/restore.png" />
        </button>
        </div>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-3">&nbsp;</div>
        <p-checkbox class="col-9" Value="YES" [(ngModel)]="batchData.FileNetOnly" [binary]="true" label="FileNET Only - GIS Posting Not Needed">
        </p-checkbox>
  
    </div>

    <div class="row mb-1"  *ngIf="batchData.Mode == 'Edit' && user.Permissions.BATCH_FILENET_COMMENTS" >
      <div class="col-3">FileNet Comments</div>
      <div class="col-9">
      <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="batchData.FileNetComments"></textarea>
    </div>
    </div>

    <div style="float: right;">
      <button class="search-cmd" (click)="editSubmit()">Save</button>
      <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
    </div>

  </div>
 
</p-dialog>



<p-dialog *ngIf="detailData" header="Details for {{batchData?.BatchNumber}}" [style]="{'width': '600px'}"
    [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['DETAIL']">



    <table class="detailView" style="width: 100%">
        <tbody>
            <tr class="detailViewTitle">
                <td style="width: 160px;">Field</td>
                <td>Value</td>
            </tr>
            <tr *ngFor="let row of detailData">
                <td class="detailViewField">{{row.Field}}</td>

                <td *ngIf="row.Field == 'FILE_NAME'" style="text-align: left;"><a class="wraplongtext links"
                  (click)="attachmentDownload(row.Value)"
                  target="_blank">{{row.Value}}</a></td>
                
                <td *ngIf="row.Field != 'FILE_NAME'" class="detailViewValue">{{row.Value}}</td>
            </tr>
        </tbody>
    </table>



</p-dialog>



<p-dialog *ngIf="completeData" header="Update Batch Completed (FileNet)" [style]="{'width': '500px'}" 
    [(visible)]="showWindow['COMPLETE']" #overlayContainer>
 

    <div>
        <div >Selected Batch(s) - {{completeData.checkedItems?.length}} Total</div>
        {{completeData.checkedItemsList}}
        <div style="color: red" *ngIf="completeData.checkedItems?.length == 0">
            <div *ngIf="completeData.checkedItems?.length" class="Error" title="No Batch Number"></div>No Batch Number(s) were selected. Please first select the batch you want to change and then try again. 
        </div>

        <br>
      <label style="margin-top: 10px;"  [ngClass]="{'ErrorMsg' : validationErrors?.FileNetWorkOrderCount}">
        <div *ngIf="validationErrors?.FileNetWorkOrderCount" class="Error" [title]="validationErrors?.FileNetWorkOrderCount"></div>
        FileNet Work Order Count<span class="dialog-require"></span>
      </label>
      <br/>
      <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="0" [(ngModel)]="completeData.FileNetWorkOrderCount"
      mode="decimal"></p-inputNumber>
  

        <div style="margin-top: 10px;"  [ngClass]="{'ErrorMsg' : validationErrors?.FileNetComment}">
            <div *ngIf="validationErrors?.FileNetComment" class="Error" [title]="validationErrors?.FileNetComment"></div>
            FileNet Commments<span class="dialog-require"></span></div>
        <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="completeData.FileNetComment"></textarea>


        <div style="float: right; margin-top: 10px;">
            <button class="search-cmd" (click)="completeSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;"  (click)="editCancel($event)">Cancel</button>
        </div>
        </div>
</p-dialog>


<p-dialog *ngIf="receivedData" header="Update Batch Received (FileNet)" [style]="{'width': '500px'}" 
    [(visible)]="showWindow['RECEIVED']" #overlayContainer>
 

    <div>
      <div >Selected Batch(s) - {{receivedData.checkedItems?.length}} Total</div>
        {{receivedData.checkedItemsList}}
        <div style="color: red" *ngIf="receivedData.checkedItems?.length == 0">
            <div *ngIf="receivedData.checkedItems?.length" class="Error" title="No Batch Number"></div>No Batch Number(s) were selected. Please first select the batch you want to change and then try again. 
        </div>

        <br>
        <label style="margin-top: 10px;" [ngClass]="{'ErrorMsg' : validationErrors?.ReceivedDate}">
          <div *ngIf="validationErrors?.ReceivedDate" class="Error" [title]="validationErrors?.ReceivedDate"></div>
          FileNet Received Date<span class="dialog-require"></span>
        </label>

        <p-calendar styleClass="col-12" [(ngModel)]="receivedData.ReceivedDate" dateFormat="mm/dd/yy" dataType="string"
        [appendTo]="overlayContainer"></p-calendar>


        <div style="float: right; margin-top: 10px;">
            <button class="search-cmd" (click)="receiveSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;"  (click)="editCancel($event)">Cancel</button>
        </div>
        </div>
</p-dialog>