<p-card styleClass="px-3 py-2">
  <ng-template pTemplate="title"> Add / Edit / View Configuration </ng-template>
  <ng-template pTemplate="subtitle">
    Customize the Add / Edit / View Form or select custom Form.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div class="w-full pt-3 pb-3 flex">
    <p-pickList
      #pickList
      class="flex-grow-1 mr-3"
      [source]="sourceColumns"
      [target]="targetColumns"
      sourceHeader="Available Fields"
      targetHeader="Selected Fields"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{ height: '400px' }"
      [targetStyle]="{ height: '400px' }"
      filterBy="name"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [stripedRows]="true"
      (onMoveToTarget)="onMoveToTarget($event)"
      (onMoveToSource)="onMoveToSource($event)"
      (onMoveAllToTarget)="onMoveToTarget($event)"
      (onMoveAllToSource)="onMoveToSource($event)"
      (onTargetSelect)="onTargetSelect($event)"
      sourceFilterPlaceholder="Search by name"
      targetFilterPlaceholder="Search by name">
      <ng-template let-column pTemplate="item">
        <div *ngIf="!column.selected" class="">[{{ column.name }}]</div>
        <div *ngIf="column.selected" class="flex align-items-center">
          <div class="w-10rem">[{{ column.name }}]</div>
          <div class="w-20rem" *ngIf="column.props && column.props.label">
            Label:
            <p-tag>{{ column.props.label }}</p-tag>
          </div>
          <div class="w-10rem" *ngIf="column.type">
            <p-tag severity="success">{{
              getControlTypeName(column.type)
            }}</p-tag>
          </div>
          <div class="w-6rem" *ngIf="column.props && column.props.required">
            <p-tag severity="success">Required</p-tag>
          </div>
        </div>
      </ng-template>
    </p-pickList>
    <div class="config-form">
      <div class="title">Configuration Form</div>
      <div class="body">
        <form
          *ngIf="this.model && this.model.name; else emptyMessage"
          [formGroup]="form"
          #configForm="ngForm">
          <formly-form
            [form]="form"
            [fields]="fields"
            [model]="model"
            [options]="options"
            class="p-fluid"></formly-form>
          <p-button styleClass="p-button-text" *ngIf="model.type === 'select'"
            >Configure Options</p-button
          >
        </form>
        <ng-template #emptyMessage>
          <div class="pt-4">
            Please select one row in <b>Selected Fields</b> panel to configure.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <p-divider styleClass="mb-0"></p-divider>
  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isSaving"
        styleClass="p-button-outlined"
        (click)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isSaving"
        styleClass="p-button-outlined"></p-button>
      <p-button
        label="Save & Next"
        icon="pi pi-angle-right"
        iconPos="right"
        [style]="{ 'margin-left': '.5em' }"
        (click)="onSaveAndNext()"
        [loading]="isSaving"></p-button>
    </div>
  </ng-template>
</p-card>
