<p-card styleClass="">
  <ng-template pTemplate="title"> Add / Edit / View Configuration </ng-template>
  <ng-template pTemplate="subtitle">
    Customize the Add / Edit / View Form or select custom Form.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div class="w-full pt-1 pb-1">
    <div class="flex align-items-center pb-1">
      <div class="flex align-items-center mr-4">
        <p-inputSwitch
          class="mr-2"
          [(ngModel)]="formConfig.allowDelete"></p-inputSwitch>
        Allow Delete
      </div>
      <div class="flex align-items-center mr-4">
        <p-inputSwitch class="mr-2" [(ngModel)]="formConfig.allowEdit">
        </p-inputSwitch>
        Allow Add & Edit
      </div>
      <div *ngIf="formConfig.allowEdit" class="flex align-items-center">
        <p-inputSwitch
          class="mr-2"
          [(ngModel)]="formConfig.useCustomForm"></p-inputSwitch>
        Use Custom Form
      </div>
    </div>
    <p-divider></p-divider>
    <div *ngIf="formConfig.allowEdit">
      <div class="flex flex-column" *ngIf="formConfig.useCustomForm">
        <label class="line-height-3">Select Custom Form</label>
        <p-dropdown
          [(ngModel)]="formConfig.customActionName"
          styleClass="w-15rem"
          [options]="customActions"></p-dropdown>
      </div>
      <div class="flex" *ngIf="!formConfig.useCustomForm">
        <p-pickList
          #pickList
          class="flex-grow-1 mr-3"
          [source]="sourceColumns"
          [target]="targetColumns"
          sourceHeader="Available Fields"
          targetHeader="Selected Fields"
          [dragdrop]="true"
          [responsive]="true"
          [sourceStyle]="{ height: '400px' }"
          [targetStyle]="{ height: '475px' }"
          filterBy="name"
          sourceFilterPlaceholder="Search by name"
          [showTargetFilter]="false"
          [showSourceControls]="false"
          [showTargetControls]="false"
          (onMoveToTarget)="onMoveToTarget($event)"
          (onMoveToSource)="onMoveToSource($event)"
          (onMoveAllToTarget)="onMoveToTarget($event)"
          (onMoveAllToSource)="onMoveToSource($event)"
          (onTargetSelect)="onTargetSelect($event)">
          <ng-template let-column pTemplate="item">
            <div *ngIf="!column.selected" class="">[{{ column.key }}]</div>
            <div *ngIf="column.selected">
              <formly-form
                [fields]="cloneColumn(column)"
                class="p-fluid"></formly-form>
            </div>
          </ng-template>
        </p-pickList>
        <div class="config-form p-picklist">
          <div class="p-picklist-header">Configuration Form</div>
          <div class="p-picklist-list flex-grow-1">
            <form
              *ngIf="this.model && this.model.key; else emptyMessage"
              [formGroup]="form"
              #configForm="ngForm">
              <formly-form
                [form]="form"
                [fields]="fields"
                [model]="model"
                [options]="options"
                class="p-fluid"></formly-form>
              <div
                *ngIf="
                  'select,checkboxList,radio,multiSelect'.indexOf(model.type) >=
                  0
                ">
                <p-divider>Options</p-divider>
                <p-button styleClass="p-button-text"
                  >Configure Options</p-button
                >
              </div>
            </form>
            <ng-template #emptyMessage>
              <div class="pt-4">
                Please select one row in <b>Selected Fields</b> panel to
                configure.
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Publish"
        icon="pi pi-check"
        iconPos="left"
        styleClass="p-button-success"
        [style]="{ 'margin-left': '.5em' }"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>
