<p-card styleClass="">
  <ng-template pTemplate="title"> Add / Edit / View Configuration </ng-template>
  <ng-template pTemplate="subtitle">
    Customize the Add / Edit / View Form or select custom Form.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div class="w-full pt-1 pb-1">
    <div class="flex align-items-center pb-1">
      <div class="flex align-items-center mr-4">
        <p-inputSwitch
          class="mr-2"
          [(ngModel)]="formConfig.allowDelete"></p-inputSwitch>
        Allow Delete
      </div>
      <div class="flex align-items-center mr-4">
        <p-inputSwitch
          class="mr-2"
          [(ngModel)]="formConfig.allowExport"></p-inputSwitch>
        Allow Export
      </div>
      <div class="flex align-items-center mr-4">
        <p-inputSwitch class="mr-2" [(ngModel)]="formConfig.allowEdit">
        </p-inputSwitch>
        Allow Add & Edit
      </div>
      <div *ngIf="formConfig.allowEdit" class="flex align-items-center">
        <p-inputSwitch
          class="mr-2"
          [(ngModel)]="formConfig.useCustomForm"></p-inputSwitch>
        Use Custom Form
      </div>
    </div>
    <p-divider></p-divider>
    <div *ngIf="formConfig.allowEdit && !isLoading">
      <div class="flex" *ngIf="formConfig.useCustomForm">
        <div class="flex flex-column mr-6">
          <label class="line-height-4">Custom Form for adding</label>
          <div class="flex align-items-center">
            <p-dropdown
              [(ngModel)]="formConfig.customAddFormName"
              styleClass="w-15rem"
              appendTo="body"
              [showClear]="true"
              placeholder="Please Select"
              [options]="customActions"></p-dropdown>
            <i
              class="pi pi-question-circle ml-3 text-lg"
              pTooltip="Select one Custom Action that pre-defined by developers used for adding new record."></i>
          </div>
        </div>
        <div class="flex flex-column mr-6">
          <label class="line-height-4">Custom Form for editing</label>
          <div class="flex align-items-center">
            <p-dropdown
              [(ngModel)]="formConfig.customEditFormName"
              styleClass="w-15rem"
              appendTo="body"
              [showClear]="true"
              placeholder="Please Select"
              [options]="customActions"></p-dropdown>
            <i
              class="pi pi-question-circle ml-3 text-lg"
              pTooltip="Select one Custom Action that pre-defined by developers used for editing record."></i>
          </div>
        </div>
        <div class="flex flex-column">
          <label class="line-height-4">Custom Form for viewing</label>
          <div class="flex align-items-center">
            <p-dropdown
              [(ngModel)]="formConfig.customViewFormName"
              styleClass="w-15rem"
              appendTo="body"
              [showClear]="true"
              placeholder="Please Select"
              [options]="customActions"></p-dropdown>
            <i
              class="pi pi-question-circle ml-3 text-lg"
              pTooltip="Select one Custom Action that pre-defined by developers used for viewing record."></i>
          </div>
        </div>
      </div>
      <div class="flex" *ngIf="!formConfig.useCustomForm">
        <p-pickList
          #pickList
          class="flex-grow-1 mr-3"
          [source]="sourceColumns"
          [target]="targetColumns"
          sourceHeader="Available Fields"
          targetHeader="Selected Fields"
          [dragdrop]="true"
          [responsive]="true"
          [sourceStyle]="{ height: '400px' }"
          [targetStyle]="{ height: '475px' }"
          filterBy="name"
          sourceFilterPlaceholder="Search by name"
          [showTargetFilter]="false"
          [showSourceControls]="false"
          [showTargetControls]="false"
          (onMoveToTarget)="onMoveToTarget($event)"
          (onMoveToSource)="onMoveToSource($event)"
          (onMoveAllToTarget)="onMoveToTarget($event)"
          (onMoveAllToSource)="onMoveToSource($event)"
          (onTargetSelect)="onTargetSelect($event)">
          <ng-template let-column pTemplate="item">
            <div *ngIf="!column.selected">
              [{{ column.key }}]<span
                class="text-red-500"
                *ngIf="isRequired(column)"
                >*</span
              >
            </div>
            <div *ngIf="column.selected">
              <formly-form
                [fields]="cloneColumn(column)"
                class="p-fluid"></formly-form>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessagetarget">
            <div class="w-full relative">
              <app-svg-drag></app-svg-drag>
            </div>
          </ng-template>
        </p-pickList>
        <div class="config-form p-picklist">
          <div class="p-picklist-header">Configuration Form</div>
          <div class="p-picklist-list flex-grow-1">
            <div *ngIf="this.model && this.model.key; else emptyMessage">
              <form [formGroup]="form" #configForm="ngForm">
                <formly-form
                  [form]="form"
                  [fields]="fields"
                  [model]="model"
                  [options]="options"
                  class="p-fluid"></formly-form>
              </form>

              <ng-container
                [ngTemplateOutlet]="optionsTemplate"
                *ngIf="
                  ['select', 'checkboxList', 'radio', 'multiSelect'].indexOf(
                    model.type
                  ) >= 0
                "></ng-container>
              <ng-template #optionsTemplate>
                <div class="flex flex-column mb-3">
                  <label class="line-height-3">Options</label>
                  <div class="flex align-items-center justify-content-between">
                    <p-button
                      styleClass="p-button-outlined"
                      (onClick)="openOptionDialog(optionDialog)"
                      >Configure Options</p-button
                    >
                    <p-message
                      *ngIf="model.props.optionLookup || model.props.options"
                      severity="info"
                      text="{{ model.props.optionLookup ? 'Use Lookup' : '' }}{{
                        model.props.options
                          ? model.props.options.length + ' option(s)'
                          : ''
                      }}"
                      styleClass="mr-2"></p-message>
                  </div>
                </div>
                <app-option-dialog
                  #optionDialog
                  (valueChange)="optionValueChange($event)"></app-option-dialog>

                <div class="flex flex-column" *ngIf="model.props.optionLookup">
                  <label class="line-height-3">Depends on</label>
                  <p-multiSelect
                    [filter]="false"
                    [showHeader]="false"
                    placeholder="Select fields"
                    display="chip"
                    class="mr-2"
                    styleClass="w-full"
                    appendTo="body"
                    optionLabel="key"
                    optionValue="key"
                    [(ngModel)]="model.props.dependOnFields"
                    [options]="targetColumns"></p-multiSelect>
                </div>
              </ng-template>
            </div>
            <ng-template #emptyMessage>
              <div class="pt-4">
                Please select one row in <b>Selected Fields</b> panel to
                configure.
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Publish"
        icon="pi pi-check"
        iconPos="left"
        styleClass="p-button-success"
        [style]="{ 'margin-left': '.5em' }"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>
