.nav-menu {
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2), 4px 0 5px rgba(0, 0, 0, 0.14), 1px 0 10px rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 4rem;
  z-index: 1000;
  background: #fff;

  ::ng-deep .p-menubar {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;

    .p-menubar-root-list {
      & > li.p-menuitem {
        margin-right: 0.25rem;
      }
    }
    .p-menuitem-link {
      border-radius: var(--border-radius);
      padding-top: 0.625rem;
      padding-bottom: 0.5rem;

      .p-menuitem-text,
      .p-submenu-icon {
        font-size: 0.875rem;
        line-height: 1.5rem;
        white-space: nowrap;
      }
    }
    .p-submenu-list {
      z-index: 999;
      border-radius: var(--border-radius);
      margin-top: 0.125rem;
      width: auto;
      .p-menuitem-link {
        border-radius: 0;
      }
    }

    .p-menuitem-link-active,
    .active-parent-menu > a {
      background-color: var(--highlight-bg);
      .p-menuitem-text,
      .p-submenu-icon,
      .p-menuitem-icon {
        color: var(--primary-color) !important;
      }
    }
  }
}
