<p-card styleClass="">
  <ng-template pTemplate="title"> Linked Table Settings </ng-template>
  <ng-template pTemplate="subtitle">
    Create or update settings of the linked table.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div class="w-6 pt-3">
    <a [routerLink]="'./add'">Add primary table</a><br />
    <a [routerLink]="'./edit/58C218AA-21F7-43D3-A75C-5F26834A5342'"
      >Update primary table</a
    ><br />
    <a>Add secondary table</a><br />
    <a>Add secondary table</a><br />
  </div>
  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Next"
        icon="pi pi-angle-right"
        iconPos="right"
        [style]="{ 'margin-left': '.5em' }"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>
