<p-accordion [multiple]="false">
  <p-accordionTab
    *ngFor="let item of groupPermissions; let i = index"
    [header]="item[0].category"
    [selected]="i === 0">
    <p-table [value]="permissions[i]" [(selection)]="permissionSelect[i]">
      <ng-template pTemplate="body" let-permission>
        <tr>
          <td>
            <p-tableCheckbox [value]="permission"></p-tableCheckbox>
          </td>

          <td>
            <span> {{ permission.permissionName }} </span>
          </td>
          <td>
            <span> {{ permission.permissionDescription }} </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
