<p-card styleClass="">
  <ng-template pTemplate="title"> Search Configuration </ng-template>
  <ng-template pTemplate="subtitle">
    Select the fields that you want to used in search panel.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div class="w-full pt-2 flex">
    <p-pickList
      #pickList
      class="flex-grow-1 mr-3"
      [source]="sourceColumns"
      [target]="targetColumns"
      sourceHeader="Available Fields"
      targetHeader="Selected Fields"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{ height: '400px' }"
      [targetStyle]="{ height: '475px' }"
      sourceFilterPlaceholder="Search by name"
      filterBy="name"
      [showTargetFilter]="false"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [stripedRows]="true"
      (onMoveToTarget)="onMoveToTarget($event)"
      (onMoveToSource)="onMoveToSource($event)"
      (onMoveAllToTarget)="onMoveToTarget($event)"
      (onMoveAllToSource)="onMoveToSource($event)"
      (onTargetSelect)="onTargetSelect($event)">
      <ng-template let-column pTemplate="item">
        <div *ngIf="!column.selected" class="">[{{ column.key }}]</div>
        <div *ngIf="column.selected">
          <formly-form
            [fields]="cloneColumn(column)"
            class="p-fluid"></formly-form>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessagetarget">
        <div class="w-full relative" *ngIf="!isLoading">
          <app-svg-drag></app-svg-drag>
        </div>
      </ng-template>
    </p-pickList>
    <div class="config-form p-picklist">
      <div class="p-picklist-header">Configuration Form</div>
      <div class="p-picklist-list flex-grow-1">
        <div *ngIf="this.model && this.model.key; else emptyMessage">
          <form [formGroup]="form" #configForm="ngForm">
            <formly-form
              [form]="form"
              [fields]="fields"
              [model]="model"
              [options]="options"
              class="p-fluid"></formly-form>
            <p-button
              styleClass="p-button-text"
              *ngIf="
                ['select', 'checkboxList', 'radio', 'multiSelect'].indexOf(
                  model.type
                ) >= 0
              "
              >Configure Options</p-button
            >
          </form>
          <p-divider>Search Rule</p-divider>
          <div class="flex align-items-center">
            <p-dropdown
              class="mr-2 flex-grow-1"
              styleClass="w-full"
              appendTo="body"
              [(ngModel)]="model.searchRule.matchMode"
              [options]="
                getFilterMatchModeOptions(model.filterType)
              "></p-dropdown>
            <p-button
              class="ml-auto"
              title="Advanced Configuration"
              styleClass="p-button-text p-button-rounded"
              icon="pi pi-ellipsis-v"></p-button>
          </div>
        </div>
        <ng-template #emptyMessage>
          <div class="pt-4">
            Please select one row in <b>Selected Fields</b> panel to configure.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Next"
        icon="pi pi-angle-right"
        iconPos="right"
        [style]="{ 'margin-left': '.5em' }"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>
