
<p-dialog *ngIf="exportData" header="Export To Excel" [style]="{'width': '500px'}" 
[(visible)]="showWindow['EXPORT']">

<div>
  <div style="margin-top: 5px;">
    File Name
  </div>
  <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="ExportName"
    [(ngModel)]="exportData.ExportName">

  
  <div style="margin-top: 5px;">
    <div>
      Export Option
    </div>
    <div>
      <div>
        <p-radioButton label="Export Selected Items Only" name="ExportOption" value="Selection"
          [(ngModel)]="exportData.ExportOption">
        </p-radioButton>
      </div>
      <div>
        <p-radioButton name="ExportOption" label="Export Entire Result" value="All"
          [(ngModel)]="exportData.ExportOption"></p-radioButton>
      </div>
    </div>
  </div>


  <div style="float: right; margin-top: 10px;">
    <button class="search-cmd" [disabled]="isSubmitting" (click)="exportDataSubmit()">Export</button>
    <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
</div>  

<br>
<p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>
</div>

</p-dialog>


<p-dialog *ngIf="followData" header="Follow Notification" [style]="{'width': '500px'}"
    [(visible)]="showWindow['FOLLOW']" #overlayContainer>

    <div>

        <div>Selected Issue(s) - {{followData.checkedItems?.length}} Total</div>
        <span style="color: #336699">{{followData.checkedItemsList}}</span>
        <div style="color: red" *ngIf="!followData.checkedItems?.length">
            <div class="Error" [title]="validationErrors?.Selected"></div>No Issue(s) were selected.
        </div>

        <div>
            Notify you when the following Issue Status has to changed to (check all that applies):

            <div style="display: inline;">
                <button style="font-size: 12px;" class="search-cmd" (click)="followToggle(true)">Follow All</button>
                <button style="font-size: 12px;margin-left: 10px;" class="search-cmd"
                    (click)="followToggle(false)">Un-follow All</button>
            </div>
        </div>
        <br>
        <p-checkbox name="groupname" value="DCA" [(ngModel)]="followData.Status" label="RECEIVED">
        </p-checkbox>

        <br>

        <p-checkbox name="groupname" value="DCASSIGN" [(ngModel)]="followData.Status" label="ASSIGNED">
        </p-checkbox>
        <br>

        <p-checkbox name="groupname" value="DCB" [(ngModel)]="followData.Status" label="PROBLEM">
        </p-checkbox>
        <br>

        <p-checkbox name="groupname" value="DCCNFA" [(ngModel)]="followData.Status" label="CLOSED NO FURTHER ACTION">
        </p-checkbox>
        <br>

        <p-checkbox name="groupname" value="DCZ" [(ngModel)]="followData.Status" label="COMPLETED">
        </p-checkbox>
        <br>

        <p-checkbox name="groupname" value="DCQCZ" [(ngModel)]="followData.Status" label="QC COMPLETED">
        </p-checkbox>
        <br>


        <p-checkbox name="groupname" value="OTHER" [(ngModel)]="followData.Status" label="ALL OTHER ACTIVITIES">
        </p-checkbox>
        <br>


        <div style="float: right; margin-top: 10px;">
            <button class="search-cmd" (click)="followSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;" (click)="activateWindow('')">Cancel</button>
        </div>

    </div>

</p-dialog>
<div class="w-100 h-100 d-flex flex-column">
  <h5 class="page-title">Data Correction Search Results
    <button *ngIf="user.Permissions.DC_SUBMIT_NEW" (click)="openAddNewItem()" type="button" class="table-button">
      Submit New Correction
    </button>
    <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>


  </h5>
  <div *ngIf="datacorrections && totalRecords == 0" style="font-weight: bold; color: red"><div class="Error" ></div>No Search Results Found</div>
  <div class="table-toolbar" style="margin-bottom: 5px;">
    <button id="refreshgridID" (click)="refreshData()" class="table-button">
      <img title="Refresh" src="assets/Images/table-icons/refresh.png" class="sizeIcon" /> Refresh
    </button>
    <button (click)="initCheckState(true)" class="table-button">
      <img title="Select All" src="assets/Images/table-icons/selectall.png" class="sizeIcon" /> Select All
    </button>
    <button (click)="initCheckState(false)" class="table-button">
      <img title="Unselect All" src="assets/Images/table-icons/unselectall.png" class="sizeIcon" /> Unselect All
    </button>

    <span style="color:black" class="layercontrolBar"><strong>{{checkedCount}} row(s) selected</strong></span>

    <button id="assign" *ngIf="user.Permissions.DC_ASSIGN_ANY || user.Permissions.DC_ASSIGN_VENDOR_ONLY" (click)="openAssignUserTool()" type="button" class="table-button">
      Assign
    </button>

    <button id="cp" (click)="openUpdateStatusTool()" *ngIf="user.Permissions.DC_SET_STATUS" type="button" class="table-button">
      Complete/Problem/CFNA
    </button>   


    <button id="cp" (click)="openReopenTool()" *ngIf="user.Permissions.DC_REOPEN" type="button" class="table-button">
      Reopen
    </button>   

    
    <button (click)="exportDataInit()" class="table-button">
      Export To Excel
    </button>
    
    
    <button (click)="followSelected()" class="table-button">
      <img title="Follow" src="assets/Images/table-icons/follow.png" class="sizeIcon" />Follow
    </button>

  </div>

  <div class="flex-fill overflow-hidden">
    <!-- <div class="flex-fill overflow-hidden" style="position: relative;"> -->
    <!-- <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;"> -->
    <p-table #table [value]="datacorrections" sortMode="multiple" [loading]="isLoading" [scrollable]="true" scrollHeight="flex"
      [columns]="cols" [resizableColumns]="true" columnResizeMode="expand" [reorderableColumns]="true"
      selectionMode="single" [(selection)]="selectedItem"  [paginator]="true" [rows]="100"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[100,200,500,1000]" stateStorage="local" stateKey="DC-state" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
      [totalRecords]="totalRecords" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines Site">
      <ng-template pTemplate="colgroup"  let-columns>
        <colgroup>
          <col style="width:180px">

          <col *ngFor="let col of columns" [style.width]="col.width">

        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn></th>

          <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">

            <span>{{col.header}}</span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <p-columnFilter [type]="col.filterType" [field]="col.field" display="menu" style="float:right;" [showOperator]="false" [showAddButton] = "false"></p-columnFilter>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate  ="body" let-data let-columns="columns">
        <tr [pSelectableRow]="data">
          <td class="p-table-td">
            <input class="row-cmd row-chkbox" [checked]="checkedState[data.ISSUE_ID]" (change)="toggleCheckState(data)"
              type="checkbox" />

            <button class='row-cmd' title="View Details"  (click)="openDetail(data)">
              <img src="assets/Images/row-icons/info.png" />
            </button>
            <button *ngIf="showEdit(data)" class='row-cmd' title="Edit" (click)="openEdit(data)">
              <img src="assets/Images/row-icons/edit.png" />
            </button>

            <button class='row-cmd' title="Responses" (click)="openResponse(data)">
              <img src="assets/Images/row-icons/response.png" />
            </button>

            <button (click)="openAttachment(data)" class='row-cmd' title="Attachments">
              <img src="assets/Images/row-icons/attachment.png" />
            </button>

            <button (click)="openFollow(data)" class='row-cmd' title="Follow/Unfollow">
              <img *ngIf="!data?.Follow" src="assets/Images/row-icons/unfollow.png" />
              <img *ngIf="data?.Follow" src="assets/Images/row-icons/follow.png" />
          </button>

          </td>

          <td *ngFor="let col of columns" [title]="data[col.field]">
          <div *ngIf="col.field=='STATUSDESCRIPTION'">
                <span class="S_{{data['CURRENTSTATUS']}}">{{data[col.field]}}</span>
            </div>
 
            <span *ngIf="!col.template">{{data[col.field]}}</span>
          </td>

        </tr>
      </ng-template>

      <!--
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    -->
    <ng-template pTemplate="paginatorleft">
      
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <button class='page-cmd' title="Reset Table Back to Original View" (click)="resetColumns()">
          <img src="assets/Images/reset.png" />
      </button>
  </ng-template>
    </p-table>
    

  </div>


  <app-data-correction-dialogs (refreshGrid)="refreshData()"></app-data-correction-dialogs>

</div>