<p-confirmPopup></p-confirmPopup>

<ng-template #responseSection let-data="data">
    <div *ngIf="data">
        {{data.REMARK}}
        <br />
        by
        <strong>{{data.WHO_REMARKED}}</strong> on
        <strong>{{data.DATE_REMARKED}}.</strong>
        <br />
        Status:
        <span class="S_{{data.STATUS}}">{{data.DESCRIPTION}}</span> Reason Code: {{data.REASONCODE}}
        <hr style="width: 100%; height: 1px; margin: 0px" />
    </div>
</ng-template>

<ng-template #attachmentSection let-data="data">
    <table class="table-view">
        <tr *ngFor="let att of data.Attachments">
            <td style="text-align: left;" *ngIf="att.STATUS != 'Removed'">
                <a class="wraplongtext links"
                    (click)="attachmentDownload(att)">{{att.FILENAME}}</a>

                <button class='row-cmd' title="Download" (click)="attachmentDownload(att)">
                    <img src="assets/Images/row-icons/download.png" />
                </button>
            </td>
            <td style="text-align: left;" *ngIf="att.STATUS == 'Removed'">
                <span class="wraplongtext" style="text-decoration: line-through;">{{att.FILENAME}}</span>              
            </td>
            <td>
                {{att.CREATEDBY}}
            </td>
            <td>
                {{att.CREATEDDATE}}
            </td>

            <td *ngIf="canEdit(data)"  style="text-align: right;">
                <button *ngIf="att.STATUS != 'Removed'" class='row-cmd' title="Remove {{att.FILENAME}}" (click)="attachmentDelete($event, att, data)">
                    <img src="assets/Images/row-icons/delete.png" />
                </button>
                <button *ngIf="att.STATUS == 'Removed'" class='row-cmd' title="Retore {{att.FILENAME}}" (click)="attachmentRestore($event, att, data)">
                    <img src="assets/Images/row-icons/restore.png" />
                </button>
            </td>
        </tr>
    </table>
    <div *ngIf="canEdit(data)" >
    <label>Upload New Attachment(s)</label>
    <p-fileUpload #AttachmentsRef name="attachments" multiple="multiple" [auto]="true" mode="basic" chooseLabel="Browse"
        url="{{dataCorrectionService._apiUrl}}DataCorrection/AddAttachment"
        accept=".dwg,.dxf,.dgn,.pdf,.ppt,.docx,.doc,.xlsx,.xls,image/*" (onBeforeUpload)="attachmentSubmit($event)"
        (onError)="onFileUploadError($event,AttachmentsRef)"
        (onUpload)="onFileUploadSuccess($event,AttachmentsRef, data)">
    </p-fileUpload>
</div>
</ng-template>

<p-dialog *ngIf="detailData" header="Details for {{detailData?.Issue_ID}}" [style]="{'width': '600px'}"
    [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['DETAIL']">



    <span class="DetailHeading">

        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Details"
            (click)="detailData.sectionVisible.Details = false"><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Details"
            (click)="detailData.sectionVisible.Details = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Issue Information
    </span>

    <table [hidden]="!detailData.sectionVisible.Details" class="detailView" style="width: 100%">
        <tbody>
            <tr class="detailViewTitle">
                <td style="width: 160px;">Field</td>
                <td>Value</td>
            </tr>
            <tr *ngFor="let row of detailData.Details">
                <td class="detailViewField">{{row.Field}}</td>
                <td class="detailViewValue">{{row.Value}}</td>
            </tr>
        </tbody>
    </table>

    <span class="DetailHeading">
        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Attachments"
            (click)="detailData.sectionVisible.Attachments = false "><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Attachments"
            (click)="detailData.sectionVisible.Attachments = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Attachments
        <!-- #endregion -->
    </span>
    <span [hidden]="!detailData.sectionVisible.Attachments" *ngIf="detailData.Attachments.length == 0">(No Records
        Found)</span>

    <table [hidden]="!detailData.sectionVisible.Attachments" class="table-view">
        <tr *ngFor="let att of detailData.Attachments">
            <td style="text-align: left;"><a class="wraplongtext links"
                (click)="attachmentDownload(att)"
                target="_blank">{{att.FILENAME}}</a></td>
            <td>
                {{att.CREATEDBY}}
            </td>
            <td>
                {{att.CREATEDDATE}}
            </td>

            <td style="text-align: right;">
                <button  (click)="attachmentDownload(att)" class='row-cmd' title="Download">
                    <img src="assets/Images/row-icons/download.png" />
                </button>
            </td>
        </tr>
    </table>

    <span class="DetailHeading">
        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Responses"
            (click)="detailData.sectionVisible.Responses = false"><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Responses"
            (click)="detailData.sectionVisible.Responses = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Responses
    </span>
    <span [hidden]="!detailData.sectionVisible.Responses" *ngIf="detailData.Responses.length == 0">(No Records
        Found)</span>
    <div [hidden]="!detailData.sectionVisible.Responses">
        <div *ngFor="let r of detailData.Responses" class="responseRow">
            <ng-container *ngTemplateOutlet="responseSection; context: {data: r}"></ng-container>
        </div>
    </div>


    
    <span class="DetailHeading">
        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Transactions"
            (click)="detailData.sectionVisible.Transactions = false "><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Transactions"
            (click)="detailData.sectionVisible.Transactions = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Transactions
        <!-- #endregion -->
    </span>
    <span [hidden]="!detailData.sectionVisible.Transactions" *ngIf="detailData.Transactions.length == 0">(No Records
        Found)</span>

    <table [hidden]="!detailData.sectionVisible.Transactions" class="table-view">
        <tbody  *ngFor="let t of detailData.Transactions">
        <tr>
            <td>
                {{t.DATE_TRANS}}
            </td>
            <td>
                {{t.STATUSLABEL}}
            </td>
            <td>
                {{t.NAME}}
            </td>
            <td>
                {{t.VENDOR}}
            </td>
            <td>
                {{t.DESCRIPTION}}              
            </td>
        </tr>
        <tr *ngIf="t.Fields[0].Field">
            <td></td>
            <td colspan="3" style="text-align: left; font-size: 10px;">
                <div *ngFor="let f of t.Fields" >
                    [{{f.Field}}] From <span style="color: purple">{{f.From || '(empty)'}}</span> To <span style="color: purple">{{f.To  || '(empty)'}}</span>
                </div>                
            </td>
        </tr>
    </tbody>
</table> 


</p-dialog>

<p-dialog *ngIf="assignUserData" header="Assign User To Issue(s)" [style]="{'width': '500px'}" 
    [(visible)]="showWindow['ASSIGN']" #overlayContainer>

    <div *ngIf="validationErrors?.ErrorIssues">
        <span style="color: red;">
            <div *ngIf="validationErrors?.ErrorIssues" class="Error"></div>The following Issues could not be assigned due to one of the following reasons:</span>
        <ul>
            <li>The Status is already set to DC COMPLETED or DC QC COMPLETED</li>
            <li>The Issue is currently assigned to another vendor</li>
        </ul>
        <p>
            <em>Invalid Issue(s)</em><br>
            {{validationErrors?.ErrorIssues}}
        </p>
        <p>
            Please unselect those issues and try again. 
        </p>

        <button class="search-cmd" (click)="showWindow = {}">Ok</button>
    </div>

    <div *ngIf="!validationErrors?.ErrorIssues">
        <div >Selected Issue(s) - {{assignUserData.checkedItems?.length}} Total</div>
        <span style="color: #336699">{{assignUserData.checkedItemsList}}</span>
        <div style="color: red" *ngIf="validationErrors?.Issue_ID">
            <div *ngIf="validationErrors?.Issue_ID" class="Error" [title]="validationErrors?.Issue_ID"></div>No Issue(s) were selected. 
        </div>

        <div *ngIf="user.Permissions.DC_ASSIGN_ANY">
            <div  [ngClass]="{'ErrorMsg' : validationErrors?.Vendor}">
                <div *ngIf="validationErrors?.Vendor" class="Error"  [title]="validationErrors?.Vendor"></div>Vendor<span class="dialog-require"></span></div>

            <p-dropdown styleClass="col-12" [options]="assignUserData.LK_Vendors"
                [(ngModel)]="assignUserData.Vendor" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
                filterBy="Label" [showClear]="true" [virtualScroll]="true"  [appendTo]="overlayContainer"  itemSize="30"
                (onChange)="defaultVendorInputs()" >
            </p-dropdown>
        </div>
        <div  [ngClass]="{'ErrorMsg' : validationErrors?.Assigned_To}">
            <div *ngIf="validationErrors?.Assigned_To" class="Error"  [title]="validationErrors?.Assigned_To"></div>
        Assigned To<span class="dialog-require"></span></div>

        <p-dropdown styleClass="col-12" [options]="assignUserData.LK_AssignUsers"
            [(ngModel)]="assignUserData.Assigned" [optionLabel]="'Label'"  [filter]="true"
            filterBy="Label" [showClear]="true" [virtualScroll]="true"  [appendTo]="overlayContainer"   itemSize="30">
        </p-dropdown>

        <div style="float: right; margin-top: 10px;">
            <button class="search-cmd" [disabled]="isSubmitting" (click)="assignUserSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;"  (click)="activateWindow('')">Cancel</button>
        </div>
        <br>
        <br>
        <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>

    </div>
</p-dialog>



<p-dialog *ngIf="reopenData" header="Re-Open Issues" [style]="{'width': '500px'}" 
    [(visible)]="showWindow['REOPEN']" #overlayContainer>

    <div *ngIf="validationErrors?.ErrorIssues">
        <span style="color: red;">
            <div *ngIf="validationErrors?.ErrorIssues" class="Error"></div>The following Issues could not be assigned due to one of the following reasons:</span>
        <ul>
            <li>The issue is not yet set to COMPLETE or CNFA</li>            
        </ul>
        <p>
            <em>Invalid Issue(s)</em><br>
            {{validationErrors?.ErrorIssues}}
        </p>
        <p>
            Please unselect those issues and try again. 
        </p>
        <button class="search-cmd" (click)="showWindow = {}">Ok</button>
    </div>

    <div  *ngIf="!validationErrors?.ErrorIssues">
        <div >Selected Issue(s) - {{reopenData.checkedItems?.length}} Total</div>
        {{reopenData.checkedItemsList}}
        <div style="color: red" *ngIf="validationErrors?.Issue_ID">
            <div *ngIf="validationErrors?.Issue_ID" class="Error" [title]="validationErrors?.Issue_ID"></div>No Issue(s) were selected. Please first select the issues you want to change and then try again. 
        </div>
        <div  [ngClass]="{'ErrorMsg' : validationErrors?.Comment}">
            <div *ngIf="validationErrors?.Comment" class="Error" [title]="validationErrors?.Comment"></div>
            Comments<span class="dialog-require"></span></div>
        <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="reopenData.Comment"></textarea>

        <div style="margin-top: 5px;" [ngClass]="{'ErrorMsg' : validationErrors?.ReasonCode}">
            <div *ngIf="validationErrors?.ReasonCode" class="Error" [title]="validationErrors?.ReasonCode"></div>
            Reason Code</div>
        
        <p-dropdown styleClass="col-12" [options]="reopenData.LK_ReasonCode"
            [(ngModel)]="reopenData.ReasonCode" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
            filterBy="Label" [showClear]="true"  [appendTo]="overlayContainer">
        </p-dropdown>


        <div style="float: right; margin-top: 10px;">
            <button class="search-cmd" [disabled]="isSubmitting" (click)="reopenSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;"  (click)="showWindow = {}">Cancel</button>
        </div>

        <br><br>
        <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>

        </div>
</p-dialog>

<p-dialog *ngIf="updateStatusData" header="Completed / Problem / CNFA Issues" [style]="{'width': '500px'}" 
    [(visible)]="showWindow['STATUS']" #overlayContainer>

    <div *ngIf="validationErrors?.ErrorIssues">
        <span style="color: red;">
            <div *ngIf="validationErrors?.ErrorIssues" class="Error"></div>The following Issues could not be assigned due to one of the following reasons:</span>
        <ul>
            <li>This issue has already been closed</li>            
            <li>This issue has already been marked as problem</li>            
        </ul>
        <p>
            <em>Invalid Issue(s)</em><br>
            {{validationErrors?.ErrorIssues}}
        </p>
        <p>
            Please unselect those issues and try again. 
        </p>
        <button class="search-cmd" (click)="showWindow = {}">Ok</button>
    </div>

    <div  *ngIf="!validationErrors?.ErrorIssues">
        <div >Selected Issue(s) - {{updateStatusData.checkedItems?.length}} Total</div>
        {{updateStatusData.checkedItemsList}}
        <div style="color: red" *ngIf="validationErrors?.Issue_ID">
            <div *ngIf="validationErrors?.Issue_ID" class="Error" [title]="validationErrors?.Issue_ID"></div>No Issue(s) were selected. Please first select the issues you want to change and then try again. 
        </div>

        <div [ngClass]="{'ErrorMsg' : validationErrors?.Status}">
            <div *ngIf="validationErrors?.Status" class="Error" [title]="validationErrors?.Status"></div>
            Status<span class="dialog-require"></span></div>
        <p-dropdown styleClass="col-12" [options]="updateStatusData.LK_Status"
            [(ngModel)]="updateStatusData.Status" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
            filterBy="Label" [showClear]="true"  [appendTo]="overlayContainer">
        </p-dropdown>

        <div style="margin-top: 5px;" *ngIf="updateStatusData.Status == 'DCZ'">
            <div class="p-field-checkbox">
                <p-checkbox name="QCDone" Value="Y" [(ngModel)]="updateStatusData.QCDone" [binary]="true"
                    inputId="QCDone">
                </p-checkbox>
                <label  for="QCDone">QC Done</label>
                <label >Hours </label><p-inputNumber  [minFractionDigits]="2" [maxFractionDigits]="2" [(ngModel)]="updateStatusData.Hours" mode="decimal"></p-inputNumber>

            </div>
            
        </div>

        <div style="margin-top: 5px;" [ngClass]="{'ErrorMsg' : validationErrors?.ReasonCode}">
            <div *ngIf="validationErrors?.ReasonCode" class="Error" [title]="validationErrors?.ReasonCode"></div>
            Reason Code<div class="HelpTip" title="Reason Code is not required for DC COMPLETED"></div><span class="dialog-require"></span></div>
        
        <p-dropdown styleClass="col-12" [options]="updateStatusData.LK_ReasonCode"
            [(ngModel)]="updateStatusData.ReasonCode" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
            filterBy="Label" [showClear]="true"  [appendTo]="overlayContainer">
        </p-dropdown>

        <div  [ngClass]="{'ErrorMsg' : validationErrors?.Comment}">
            <div *ngIf="validationErrors?.Comment" class="Error" [title]="validationErrors?.Comment"></div>
            Comments<div class="HelpTip" title="Comments is not required for DC COMPLETED"></div><span class="dialog-require"></span></div>
        <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="updateStatusData.Comment"></textarea>


        <div style="float: right; margin-top: 10px;">
            <button class="search-cmd" [disabled]="isSubmitting" (click)="updateStatusSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;"  (click)="editCancel($event)">Cancel</button>
        </div>

        <br>
        <br>
        <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>

        </div>
</p-dialog>

<p-dialog *ngIf="attachmentData" header="Attachment(s) for {{attachmentData.Issue_ID}}"
    [style]="{'width': '500px', 'height': '250px'}" [contentStyle]="{'height': '400px'}"
    [(visible)]="showWindow['ATTACHMENT']">

    <span *ngIf="attachmentData.Attachments && attachmentData.Attachments.length == 0">(No Attachments
        Found)</span>

    <ng-container *ngTemplateOutlet="attachmentSection; context: {data: attachmentData}"></ng-container>
</p-dialog>

<p-dialog *ngIf="responseData" header="Response(s) for {{responseData.Issue_ID}}" [style]="{'width': '500px'}"
    [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['RESPONSE']">
    <div *ngFor="let r of responseData.Responses" class="responseRow">
        {{r.REMARK}}
        <br />
        by
        <strong>{{r.WHO_REMARKED}}</strong> on
        <strong>{{r.DATE_REMARKED}}.</strong>
        <br />
        Status:
        <span class="S_{{r.STATUS}}">{{r.DESCRIPTION}}</span> Reason Code: {{r.REASONCODE}}
        <hr style="width: 100%; height: 1px; margin: 0px" />
    </div>

    <div *ngIf="canEdit(responseData)">
        <label class="DialogHeading" [ngClass]="{'ErrorMsg' : validationErrors?.Comment}">
            <div *ngIf="validationErrors?.Comment" class="Error" [title]="validationErrors?.Comment"></div>Add a New Response<span class="dialog-require"></span></label>
        <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="responseData.Comment"></textarea>
        <button class="search-cmd" (click)="responseSubmit()">Add</button>
    </div>

</p-dialog>


<p-dialog *ngIf="dataCorrectionData && showWindow['DATACORRECTIONEDIT']" #overlayContainer header="Edit Data Correction {{dataCorrectionData?.Issue_ID}}"
    [style]="{'width': '980px'}" [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['DATACORRECTIONEDIT']">
    <div class="h-100 p-2">

        <div class="row mb-1">
            <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Submitter}">
                <div *ngIf="validationErrors?.Submitter" class="Error" [title]="validationErrors?.Submitter"></div>
                Submitter<span class="dialog-require"></span>
            </label>
            <div class="col-9">

                <p-dropdown styleClass="col-6" [virtualScroll]="true"  itemSize="30" [appendTo]="overlayContainer"
                    [options]="dataCorrectionData.LK_Submitter" (onChange)="defaultNotifyEmail()" name="Submitter"
                    [(ngModel)]="dataCorrectionData.Submitter" [filter]="true" [filterBy]="'Label'"
                    [optionLabel]="'Label'">

                    <ng-template let-item pTemplate="selectedItem">
                        <div>
                            <img src="assets/Images/submitter_{{item.Value2}}.png" />
                            {{item.Label}}
                        </div>
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                        <div>
                            <img src="assets/Images/submitter_{{item.Value2}}.png" />
                            {{item.Label}}
                        </div>
                    </ng-template>

                </p-dropdown>
                <p-checkbox styleClass="col-6"  [binary]="true" label="Show Group Contacts Only"
                inputId="showGroup">
                </p-checkbox>

            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.IssueTitle}">
                <div *ngIf="validationErrors?.IssueTitle" class="Error" [title]="validationErrors?.IssueTitle"></div>
                Issue Title<span class="dialog-require"></span>
            </label>
            <div class="col-9">

                <input type="text" style="width: 100%;" maxlength="50" styleClass="col-12" pInputText
                    [(ngModel)]="dataCorrectionData.IssueTitle">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3"  [ngClass]="{'ErrorMsg' : validationErrors?.IssueDescription}">
                <div *ngIf="validationErrors?.IssueDescription" class="Error" [title]="validationErrors?.IssueDescription"></div>Description<span class="dialog-require"></span></label>
            <div class="col-9">
                <textarea pInputTextarea rows="3" style="width: 100%;" name="IssueDescription" 
                    [(ngModel)]="dataCorrectionData.IssueDescription" maxlength="1000"></textarea>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3"  [ngClass]="{'ErrorMsg' : validationErrors?.Department}">
                <div *ngIf="validationErrors?.Department" class="Error" [title]="validationErrors?.Department"></div>Department<span class="dialog-require"></span></label>
            <div class="col-9">
                <p-dropdown [appendTo]="overlayContainer" styleClass="col-12"
                    [options]="dataCorrectionData.LK_Departments" [(ngModel)]="dataCorrectionData.Department"
                    [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        
        <div class="row mb-1">
            <label class="col-3">Jurisdiction</label>
            <div class="col-9">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer"
                    [options]="dataCorrectionData.LK_Jurisdictions" [(ngModel)]="dataCorrectionData.Jurisdiction"
                    [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Attachments</label>
            <div class="col-9">
                <ng-container *ngTemplateOutlet="attachmentSection; context: {data: attachmentData}"></ng-container>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Additional Emails for Notifications</label>
            <div class="col-9">
                <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="UpdateEmails"
                    [(ngModel)]="dataCorrectionData.UpdateEmails">

                    <div *ngIf="dataCorrectionData.EmailNotifications">
                        <span>The following email(s) will already receive notifications for this issue:</span>
                        <span style="display:block" class="ValueText">{{dataCorrectionData?.EmailNotifications}}</span>
                    </div>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Vendor</label>
            <div class="col-9">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="dataCorrectionData.LK_Vendors"
                    [(ngModel)]="dataCorrectionData.Vendor" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1" *ngIf="user.Permissions.DC_EDIT_ALL" >
            <label class="col-3">Assigned To</label>
            <div class="col-9">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer"
                    [options]="dataCorrectionData.LK_AssignedTo" [(ngModel)]="dataCorrectionData.AssignedTo"
                    [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Cust. Need Date</label>
            <div class="col-9">
                <p-calendar styleClass="col-12" [(ngModel)]="dataCorrectionData.NeedDate" dateFormat="mm/dd/yy"
                    dataType="string" [appendTo]="overlayContainer"></p-calendar>
            </div>
        </div>

        <div class="row mb-1" *ngIf="user.Permissions.DC_EDIT_ALL">
            <label class="col-3">QC Completion Date</label>
            <div class="col-9">
                <p-calendar styleClass="col-12" [(ngModel)]="dataCorrectionData.QCCompletionDate" dateFormat="mm/dd/yy"
                    dataType="string" [appendTo]="overlayContainer"></p-calendar>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Vendor Est. Date</label>
            <div class="col-9">
                <p-calendar styleClass="col-12" [(ngModel)]="dataCorrectionData.VendorEstDate" dateFormat="mm/dd/yy"
                    dataType="string" [appendTo]="overlayContainer"></p-calendar>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Chargeable</label>
            <div class="col-9">
                <p-radioButton name="Chargeable" label="Yes" value="YES" [(ngModel)]="dataCorrectionData.Chargeable">
                </p-radioButton>

                <p-radioButton style="margin-left: 15px;" name="Chargeable" label="No" value="NO"
                    [(ngModel)]="dataCorrectionData.Chargeable"></p-radioButton>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3">Remarks</label>
            <div class="col-9">
                <textarea pInputTextarea rows="3" style="width: 100%;"
                    [(ngModel)]="dataCorrectionData.Remarks"></textarea>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-3" style="vertical-align: top;">Vendor Comments</label>
            <div class="col-9">
                <textarea pInputTextarea rows="3" style="width: 100%;"
                    [(ngModel)]="dataCorrectionData.VendorComments"></textarea>
            </div>
        </div>

        <div style="float: right;  margin-top: 10px;">
            <button class="search-cmd" [disabled]="isSubmitting" (click)="editSubmit()">Save</button>
            <button class="search-cmd" style="margin-left: 10px;"  (click)="editCancel($event)">Cancel</button>
        </div>
        <br>
        <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>
    
    </div>


</p-dialog>

<p-dialog *ngIf="dataCorrectionData && showWindow['DATACORRECTIONADD']" #overlayContainer
    header="Submit New Data Correction" [style]="{'width': '980px'}" [(visible)]="showWindow['DATACORRECTIONADD']">

    <div class="h-100 p-2" *ngIf="dataCorrectionData.Submitted">
        Your issue has been submitted successfully. If notification has been enabled, you will be notified of any updates to this issue. 

        <table style="width: 100%">
            <tbody>              
                <tr>
                    <td class="detailViewField" style="width: 180px;">Issue No.</td>
                    <td class="detailViewValue">{{dataCorrectionData.Issue_ID}}</td>
                </tr>
                <tr *ngIf="dataCorrectionData.RelatedIssueID">
                    <td class="detailViewField">Related Issue</td>
                    <td class="detailViewValue">{{dataCorrectionData.RelatedIssueID}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Title</td>
                    <td class="detailViewValue">{{dataCorrectionData.IssueTitle}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Submitted By</td>
                    <td class="detailViewValue">{{user.DisplayName}}</td>
                </tr>
                <tr *ngIf="user.DisplayName != dataCorrectionData.Name ">
                    <td class="detailViewField">Submitted For</td>
                    <td class="detailViewValue">{{dataCorrectionData.Submitter.Value}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Work Type</td>
                    <td class="detailViewValue">{{dataCorrectionData.WorkType}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Jurisdiction</td>
                    <td class="detailViewValue">{{dataCorrectionData.Jurisdiction}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Correction Type</td>
                    <td class="detailViewValue">{{dataCorrectionData.DataCorrectionType}}</td>
                </tr>
                <tr *ngIf="dataCorrectionData.DataCorrectionType == '1'">
                    <td class="detailViewField">Work Order No.</td>
                    <td class="detailViewValue">{{dataCorrectionData.WorkOrderNumber}}</td>
                </tr>
                <tr *ngIf="dataCorrectionData.DataCorrectionType == '1'">
                    <td class="detailViewField">Work Order State</td>
                    <td class="detailViewValue">{{dataCorrectionData.WorkOrderState}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Chargeable</td>
                    <td class="detailViewValue">{{dataCorrectionData.Chargeable}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">NeedDate</td>
                    <td class="detailViewValue">{{dataCorrectionData.NeedDate}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Vendor Est. Date</td>
                    <td class="detailViewValue">{{dataCorrectionData.VendorEstDate}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Description</td>
                    <td class="detailViewValue">{{dataCorrectionData.IssueDescription}}</td>
                </tr>
                <tr>
                    <td class="detailViewField">Attachment(s)</td>
                    <td class="detailViewValue" >
                        <div *ngFor="let f of dataCorrectionData.NewAttachments">
                            <a class="wraplongtext links" (click)="attachmentDownload(f)"
                            target="_blank">{{f.FileName}}</a><br>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div style="float: right;">
            <button class="search-cmd" (click)="addNewInit()">Add Another Issue</button>
            <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Close</button>
        </div>
    
    </div>
    <div class="h-100 p-2" *ngIf="!dataCorrectionData.Submitted">
        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Submitter}">
                <div *ngIf="validationErrors?.Submitter" class="Error" [title]="validationErrors?.Submitter"></div>
                Submitter<span class="dialog-require"></span>
            </label>
            <div class="col-10">

                <p-dropdown styleClass="col-6" [virtualScroll]="true"  itemSize="30" [appendTo]="overlayContainer"
                    [options]="dataCorrectionData.LK_Submitter" (onChange)="defaultNotifyEmail()" name="Submitter"
                    [(ngModel)]="dataCorrectionData.Submitter" [filter]="true" [filterBy]="'Label'"
                    [optionLabel]="'Label'">

                    <ng-template let-item pTemplate="selectedItem">
                        <div>
                            <img src="assets/Images/submitter_{{item.Value2}}.png" />
                            {{item.Label}}
                        </div>
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                        <div>
                            <img src="assets/Images/submitter_{{item.Value2}}.png" />
                            {{item.Label}}
                        </div>
                    </ng-template>

                </p-dropdown>

                <p-checkbox style="margin-left: 10px; vertical-align: middle;"  [(ngModel)]="dataCorrectionData.FilterGroup"  [binary]="true" label="Show Group Contacts Only"
                    inputId="showGroup" (onChange)="filterGroup()">
                </p-checkbox>

            </div>
        </div>

        <!-- 
        <div class="row mb-1">
            <label class="col-2">Issue Group<span class="dialog-require"></span></label>
            <div class="col-10">
                <input required  type="text" style="width: 100%;" styleClass="col-12" pInputText
                    >
            </div>
        </div> -->

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.IssueTitle}">
                <div *ngIf="validationErrors?.IssueTitle" class="Error" [title]="validationErrors?.IssueTitle"></div>
                Issue Title<span class="dialog-require"></span>
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" maxlength="50" pInputText
                    [(ngModel)]="dataCorrectionData.IssueTitle">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.WorkType}">
                <div *ngIf="validationErrors?.WorkType" class="Error" [title]="validationErrors?.WorkType"></div>Work
                Type<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <p-radioButton name="workType" label="Gas" value="GAS" [(ngModel)]="dataCorrectionData.WorkType"
                    (onClick)="defaultWorkTypeInputs()"></p-radioButton>

                <p-radioButton name="workType" label="Electric" value="ELECTRIC"
                    [(ngModel)]="dataCorrectionData.WorkType" (onClick)="defaultWorkTypeInputs()"></p-radioButton>

                <p-radioButton name="workType" label="Gas &amp; Electric" value="ELECTRIC,GAS"
                    [(ngModel)]="dataCorrectionData.WorkType" (onClick)="defaultWorkTypeInputs()"></p-radioButton>

                <p-radioButton name="workType" label="Landbase" value="LANDBASE"
                    [(ngModel)]="dataCorrectionData.WorkType" (onClick)="defaultWorkTypeInputs()"></p-radioButton>

                <p-radioButton name="workType" label="Landbase &amp; Gas" value="GAS,LANDBASE"
                    [(ngModel)]="dataCorrectionData.WorkType" (onClick)="defaultWorkTypeInputs()"></p-radioButton>

                <p-radioButton name="workType" label="Landbase &amp; Electric" value="ELECTRIC,LANDBASE"
                    [(ngModel)]="dataCorrectionData.WorkType" (onClick)="defaultWorkTypeInputs()"></p-radioButton>

                <p-radioButton name="workType" label="Underground" value="UNDERGROUND"
                    [(ngModel)]="dataCorrectionData.WorkType" (onClick)="defaultWorkTypeInputs()"></p-radioButton>          

            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Jurisdiction}">
                <div *ngIf="validationErrors?.Jurisdiction" class="Error" [title]="validationErrors?.Jurisdiction"></div>Jurisdiction<span class="dialog-require"></span></label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer"
                    [options]="dataCorrectionData.LK_Jurisdictions" name="Jurisdiction"
                    [(ngModel)]="dataCorrectionData.Jurisdiction" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2">Data Correction Type<span class="dialog-require"></span></label>
            <div class="col-10">
                <p-radioButton name="datacorrectiontype" label="Work Order Related" value="1"
                    [(ngModel)]="dataCorrectionData.DataCorrectionType" ></p-radioButton>


                <p-radioButton style="margin-left: 15px;" name="datacorrectiontype" label="Non Work Order Related"
                    value="2" [(ngModel)]="dataCorrectionData.DataCorrectionType" >
                </p-radioButton>

            </div>
        </div>

        <div [hidden]="dataCorrectionData.DataCorrectionType == '2'">
            <div class="row mb-1" >
                <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.WorkOrderNumber || validationErrors?.WorkOrderNumberNA}">
                    <div *ngIf="validationErrors?.WorkOrderNumber  || validationErrors?.WorkOrderNumberNA" class="Error" [title]="validationErrors?.WorkOrderNumber || '' + ' ' + validationErrors?.WorkOrderNumberNA"></div>
                    Work Order Number<span class="dialog-require"></span>
                    
                </label>
                <div class="col-10">  
                    <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="WorkOrderNumber"
                        [(ngModel)]="dataCorrectionData.WorkOrderNumber" (blur)="defaultWorkOrderStateInput()">                        
                    <div *ngIf="dataCorrectionData.LK_OrderNumbers?.length">
                        <i><b>Multiple Matches Found, Choose One:</b></i>
                        <p-dropdown [appendTo]="overlayContainer" styleClass="col-12"
                        [options]="dataCorrectionData.LK_OrderNumbers"
                        [(ngModel)]="dataCorrectionData.SelectedOrderNumber" (onChange)="defaultWorkOrderStateInput2()" [optionLabel]="'ORDERNUMBER'" >
                    </p-dropdown>

                    </div>

                </div>
            </div>


            <div class="row mb-1">
                <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.WorkOrderState}">
                    
                    <div *ngIf="validationErrors?.WorkOrderState" class="Error" [title]="validationErrors?.WorkOrderState"></div>
                    Work Order State<span class="dialog-require"></span></label>
                <div class="col-10">
                    <p-dropdown [appendTo]="overlayContainer" styleClass="col-12"
                        [options]="dataCorrectionData.LK_WorkOrderStates" name="WorkOrderState"
                        [(ngModel)]="dataCorrectionData.WorkOrderState" [optionLabel]="'WORKORDERSTATE'" [optionValue]="'WORKORDERSTATE'">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-2"  [ngClass]="{'ErrorMsg' : validationErrors?.NeedDate}">
                <div *ngIf="validationErrors?.NeedDate" class="Error" [title]="validationErrors?.NeedDate"></div>Cust. Need Date<span class="dialog-require"></span></label>
            <div class="col-10">
                <p-calendar styleClass="col-12" name="NeedDate" [(ngModel)]="dataCorrectionData.NeedDate"
                    dateFormat="mm/dd/yy" dataType="string" [appendTo]="overlayContainer"></p-calendar>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2"  [ngClass]="{'ErrorMsg' : validationErrors?.IssueDescription}">
                <div *ngIf="validationErrors?.IssueDescription" class="Error" [title]="validationErrors?.IssueDescription"></div>Description<span class="dialog-require"></span></label>
            <div class="col-10">
                <textarea pInputTextarea rows="3" maxlength="1000" style="width: 100%;" name="IssueDescription" 
                    [(ngModel)]="dataCorrectionData.IssueDescription"></textarea>
            </div>
        </div>

        <div class="row mb-1" >
            <label class="col-2">Attach File(s)</label>
            <div class="col-10">
                <p-fileUpload #AttachmentsRef name="attachments" multiple="multiple" [auto]="true" mode="basic"
                    chooseLabel="Browse" url="{{dataCorrectionService._apiUrl}}DataCorrection/AddTempAttachment"
                    accept=".dwg,.dxf,.dgn,.pdf,.ppt,.docx,.doc,.xlsx,.xls,image/*"
                    (onError)="onFileUploadError($event,AttachmentsRef)"
                    (onUpload)="addNewFileUploadSuccess($event,AttachmentsRef)">
                </p-fileUpload>
                <div *ngFor="let f of dataCorrectionData.NewAttachments">
                    <a (click)="tempAttachmentDownload(f)" class="wraplongtext links" >{{f.FileName}}</a>
                    <button class='row-cmd' title="Remove {{f.FileName}}" (click)="addNewRemoveAttachment(f.FileID)"
                        style="margin-top: -6px;">
                        <img src="assets/Images/row-icons/delete.png" />
                    </button>

                </div>
            </div>
        </div>

        <!-- <div class="row mb-1">
            <div class="p-field-checkbox">
                <p-checkbox name="UpdateNotify" [(ngModel)]="dataCorrectionData.UpdateNotify" [binary]="true"
                    inputId="updateNotify">
                </p-checkbox>
                <label for="updateNotify">Send Update Notifications</label>
            </div>
        </div> -->

        <div class="row mb-1">
            <label class="col-2">Additional Emails for Notifications</label>
            <div class="col-10">
                <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="UpdateEmails"
                    [(ngModel)]="dataCorrectionData.UpdateEmails">

                    <span>The following email(s) will already receive notifications for this issue:</span>
                    <span style="display:block" class="ValueText">{{dataCorrectionData?.EmailNotifications}}</span>
            </div>

    
        </div>

        <div style="float: right;">
        <button class="search-cmd" [disabled]="isSubmitting" (click)="addNewSubmit()">Submit</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="addNewCancel($event)">Cancel</button>
    </div>
    <br>
    <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>
    </div>

</p-dialog>