:host ::ng-deep {
  .split-area.p-splitter {
    height: calc(100% - 7rem);
    border-bottom: none;

    .p-splitter-panel {
      transition: flex-basis var(--transition-duration);
    }
  }
  .search-area {
    padding: 0.5rem 0.25rem 0.25rem;
    background: var(--surface-ground);
    position: relative;
  }

  .p-splitter-panel {
    position: relative;
  }

  .expand-btn {
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
    z-index: 20;
    .p-button-rounded {
      width: 2rem;
      height: 2rem;
    }
  }

  .hide-panel {
    .search-area {
      padding: 0.5rem 0rem 0.25rem;
    }
    .expand-btn {
      top: -2.375rem;
      z-index: 99999;
      right: -2.5rem;
      transform: rotate(180deg);
    }
  }

  .table-area {
    padding: 0.5rem 0.25rem 0.25rem;
    background: var(--surface-ground);
  }
}
