<p-card styleClass="">
  <ng-template pTemplate="title"> Linked Table Settings </ng-template>
  <ng-template pTemplate="subtitle"> Create or update settings of the linked table. </ng-template>

  <p-divider styleClass="mt-0 sticky top-0 z-5"></p-divider>
  <div class="scrollable-content">
    <!-- datasource connection -->
    <div class="w-6 pt-3">
      <div class="flex align-items-center">
        <div class="flex flex-column mb-3">
          <label for="" class="mb-1">Database Connection</label>
          <div class="flex align-items-center">
            <p-dropdown
              [required]="true"
              [options]="dbConnections"
              (onChange)="onConnectionChange($event)"
              [formControl]="formControlConnection"
              placeholder="Please Select"
              [style]="{ minWidth: '20rem' }"
              appendTo="body"></p-dropdown>
            <p-button
              class="ml-1"
              pTooltip="Create new Connection"
              [text]="true"
              [rounded]="true"
              icon="pi pi-ellipsis-v"
              (onClick)="addDialog.showDialog()"></p-button>
          </div>
          <app-add-connection-dialog #addDialog (saved)="connectionSaved($event)"></app-add-connection-dialog>
        </div>
        <div class="flex flex-column mb-3 ml-5">
          <label class="mb-1">&nbsp;</label>
          <div class="flex align-items-center">
            <p-inputSwitch class="mr-2" [formControl]="formControlUseAsMasterDetailView"></p-inputSwitch>
            Use as Master / Detail view
          </div>
        </div>
      </div>
    </div>
    <!-- datasource connection -->

    <!-- Link Tables  -->
    <div *ngIf="dsConfig?.dataSourceConnectionName !== null">
      <p-divider styleClass="w-6 mt-5 font-semibold">Primary Table</p-divider>
      <div class="w-6 mb-3 overflow-hidden">
        <ng-container *ngIf="primaryTableConfig?.details && primaryTableConfig.details.length > 0">
          <p-table [value]="primaryTableConfig.details" [rowHover]="true" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 25%">Label</th>
                <th>Description</th>
                <th style="width: 13rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-primary>
              <tr>
                <td>
                  {{ primary.label }}
                  <i
                    *ngIf="primary?.configCompleted === false"
                    class="pi pi-exclamation-circle ml-3 text-lg"
                    style="color: var(--yellow-600)"
                    pTooltip="You have't completed all configurations"></i>
                </td>
                <td>{{ primary.description }}</td>
                <td>
                  <p-button
                    [label]="primary?.configCompleted === false ? 'Continue Editing' : 'Edit'"
                    (onClick)="onEditTable(primary.id)"
                    [text]="true"></p-button>
                  <p-button
                    *ngIf="primary?.configCompleted"
                    label="Action"
                    (onClick)="onShowAction(primary.id)"
                    [text]="true"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="flex flex-column mb-3 mt-3">
            <label for="columnsForLinkedField" class="mb-1">Select Columns for Link Data Editor</label>
            <div class="flex align-items-center">
              <p-multiSelect
                #validationRef="ngModel"
                [required]="true"
                [style]="{ width: '41.5rem' }"
                [showToggleAll]="false"
                appendTo="body"
                placeholder="Place Select One Column"
                [filter]="false"
                [showHeader]="false"
                display="chip"
                [(ngModel)]="primarySelected"
                [options]="primaryTableConfig.gridColumns">
              </p-multiSelect>
            </div>
          </div>
        </ng-container>

        <p-button
          *ngIf="!primaryTableConfig?.details"
          label="Add"
          icon="pi pi-plus"
          [text]="true"
          size="small"
          styleClass="mt-1 mb-3"
          (onClick)="onAddPrimaryTable()"></p-button>
      </div>
      <p-divider styleClass="w-6 mt-5 font-semibold">Secondary Table</p-divider>
      <div class="w-6 mb-3 overflow-hidden">
        <ng-container *ngIf="secondaryTableConfig?.details && secondaryTableConfig.details.length > 0">
          <p-table [value]="secondaryTableConfig.details" [rowHover]="true" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 25%">Label</th>
                <th>Description</th>
                <th style="width: 13rem"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-secondary>
              <tr>
                <td>
                  {{ secondary.label }}
                  <i
                    *ngIf="secondary?.configCompleted === false"
                    class="pi pi-exclamation-circle ml-3 text-lg"
                    style="color: var(--yellow-600)"
                    pTooltip="You have't completed all configurations"></i>
                </td>
                <td>{{ secondary.description }}</td>
                <td>
                  <p-button
                    [label]="secondary?.configCompleted === false ? 'Continue Editing' : 'Edit'"
                    (onClick)="onEditTable(secondary.id)"
                    [text]="true"></p-button>

                  <p-button
                    *ngIf="secondary?.configCompleted"
                    label="Action"
                    (onClick)="onShowAction(secondary.id)"
                    [text]="true"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="flex flex-column mb-3 mt-3">
            <label for="columnsForLinkedField" class="mb-1">Select Columns for Link Data Editor</label>
            <div class="flex align-items-center">
              <p-multiSelect
                #validationRef="ngModel"
                [required]="true"
                [style]="{ width: '41.5rem' }"
                [showToggleAll]="false"
                appendTo="body"
                placeholder="Place Select One Column"
                [filter]="false"
                [showHeader]="false"
                display="chip"
                [(ngModel)]="secondarySelected"
                [options]="secondaryTableConfig.gridColumns">
              </p-multiSelect>
            </div>
          </div>
        </ng-container>
        <p-button
          *ngIf="!secondaryTableConfig?.details"
          label="Add"
          icon="pi pi-plus"
          [text]="true"
          size="small"
          styleClass="mt-1 mb-3"
          (onClick)="onAddSecondaryTable()">
        </p-button>
      </div>
    </div>
    <!-- Link Tables  -->

    <!-- Link Relation  -->
    <ng-container
      *ngIf="
        primaryTableConfig?.details &&
        primaryTableConfig.details.length > 0 &&
        primaryTableConfig.details[0].configCompleted &&
        secondaryTableConfig?.details &&
        secondaryTableConfig.details.length > 0 &&
        secondaryTableConfig.details[0].configCompleted
      ">
      <p-divider styleClass="w-6 mt-5 font-semibold">Link Relation</p-divider>
      <!-- Relation Button -->
      <div class="w-6 flex align-items-center my-3">
        <div class="flex align-items-center w-20rem">
          <p-radioButton
            name="relation"
            [value]="false"
            [(ngModel)]="isOneToMany"
            (ngModelChange)="onRadioChange($event)"
            inputId="mtm"></p-radioButton>
          <label for="mtm" class="ml-2">Many To Many</label>
        </div>

        <div class="flex align-items-center mb-2 ml-4">
          <p-radioButton
            name="relation"
            [value]="true"
            [(ngModel)]="isOneToMany"
            (ngModelChange)="onRadioChange($event)"
            inputId="otm"></p-radioButton>
          <label for="otm" class="ml-2">One To Many</label>
        </div>
      </div>

      <!-- One To Many -->
      <ng-container *ngIf="isOneToMany">
        <div class="flex align-items-center mt-3">
          <div class="flex flex-column mb-2">
            <label for="idColumn" class="mb-1">Reference Key (Primary)</label>
            <div class="flex align-items-center">
              <p-dropdown
                [required]="true"
                [formControl]="formControlPrimaryOneToMany"
                [options]="primaryTableConfig.databaseColumns || []"
                placeholder="Please Select"
                [style]="{ minWidth: '20rem' }"
                appendTo="body"></p-dropdown>
            </div>
          </div>
          <div class="flex flex-column mb-2 ml-4">
            <label for="idColumn" class="mb-1">Foreign Key (Secondary)</label>
            <div class="flex align-items-center">
              <p-dropdown
                [required]="true"
                [formControl]="formControlSecondaryOneToMany"
                [options]="secondaryTableConfig.databaseColumns || []"
                placeholder="Please Select"
                [style]="{ minWidth: '20rem' }"
                appendTo="body"></p-dropdown>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Many To Many -->
      <ng-container *ngIf="!isOneToMany">
        <div class="w-6 mb-3">
          <div class="flex flex-column mb-3">
            <ng-container *ngIf="!dsConfig.queryText">
              <label for="tableName" class="mb-1">Database Table</label>
              <div class="flex align-items-center">
                <p-dropdown
                  #dbTableDropdown
                  *ngIf="!dsConfig.queryText"
                  [required]="true"
                  [options]="dbTables"
                  (onChange)="onTableNameChange($event)"
                  [formControl]="formControlDbTable"
                  placeholder="Please Select"
                  [style]="{ minWidth: '41.5rem' }"
                  appendTo="body"></p-dropdown>
                <!-- <p-button
            [disabled]="!dsConfig.dataSourceConnectionName"
            class="ml-1"
            pTooltip="Create new Query"
            [text]="true"
            [rounded]="true"
            icon="pi pi-ellipsis-v"
            (onClick)="advancedQueryDialog.showAdvanceDialog()"></p-button> -->
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="dsConfig.queryText">
        <label class="line-height-3">Database Query</label>
        <div class="flex align-items-center">
          <div (click)="advancedQueryDialog.showAdvanceDialog()">
            <ngx-monaco-editor
              [ngModel]="dsConfig.queryText"
              [style]="{ minWidth: '41.5rem' }"
              class="pt-3 border-round monaco-editor-wrapper display-only overflow-hidden"
              [options]="{
                readOnly: true,
                domReadOnly: true
              }"></ngx-monaco-editor>
          </div>
          <p-button
            [text]="true"
            [rounded]="true"
            styleClass="ml-2"
            icon="pi pi-times-circle"
            (onClick)="removeAdvancedQuery()"></p-button>
        </div>
      </ng-container>
      <app-advanced-query-dialog
        #advancedQueryDialog
        [connectionName]="dsConfig.dataSourceConnectionName"
        [queryText]="dsConfig.queryText"
        (queryChange)="queryChange($event)"></app-advanced-query-dialog> -->
          </div>
          <div class="flex align-items-center mt-3">
            <div class="flex align-items-center">
              <div class="flex flex-column mb-2 mr-4">
                <label for="idColumn" class="mb-1">Id Column</label>
                <div class="flex align-items-center">
                  <p-dropdown
                    [required]="true"
                    [formControl]="formControlIdColumn"
                    [options]="dbTableColumns"
                    placeholder="Please Select"
                    [style]="{ minWidth: '20rem' }"
                    optionLabel="columnName"
                    optionValue="columnName"
                    appendTo="body"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="flex align-items-center mt-3">
            <div class="flex flex-column mb-2">
              <label for="idColumn" class="mb-1">Reference Key (Primary)</label>
              <div class="flex align-items-center">
                <p-dropdown
                  [required]="true"
                  [formControl]="formControlPrimaryReference"
                  [options]="primaryTableConfig.databaseColumns || []"
                  placeholder="Please Select"
                  [style]="{ minWidth: '20rem' }"
                  appendTo="body"></p-dropdown>
              </div>
            </div>
            <div class="flex flex-column mb-2 ml-4">
              <label for="idColumn" class="mb-1">Foreign Key (Primary)</label>
              <div class="flex align-items-center">
                <p-dropdown
                  [required]="true"
                  [formControl]="formControlPrimaryMap"
                  [options]="dbTableColumns"
                  placeholder="Please Select"
                  [style]="{ minWidth: '20rem' }"
                  optionLabel="columnName"
                  optionValue="columnName"
                  appendTo="body"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="flex align-items-center mt-3">
            <div class="flex flex-column mb-2">
              <label for="idColumn" class="mb-1">Reference Key (Secondary)</label>
              <div class="flex align-items-center">
                <p-dropdown
                  [required]="true"
                  [formControl]="formControlSecondaryReference"
                  [options]="secondaryTableConfig.databaseColumns || []"
                  placeholder="Please Select"
                  [style]="{ minWidth: '20rem' }"
                  appendTo="body"></p-dropdown>
              </div>
            </div>
            <div class="flex flex-column mb-2 ml-4">
              <label for="idColumn" class="mb-1">Foreign Key (Secondary)</label>
              <div class="flex align-items-center">
                <p-dropdown
                  [required]="true"
                  [formControl]="formControlSecondaryMap"
                  [options]="dbTableColumns"
                  placeholder="Please Select"
                  [style]="{ minWidth: '20rem' }"
                  optionLabel="columnName"
                  optionValue="columnName"
                  appendTo="body"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!-- Link Relation  -->

    <p-divider styleClass="w-6">
      <p-button
        label="Query for Adding"
        [icon]="showQuery ? 'pi pi-minus' : 'pi pi-plus'"
        [text]="true"
        size="small"
        (onClick)="showQuery = !showQuery"></p-button>
    </p-divider>
    <p *ngIf="showQuery" class="line-height-2 mb-1">Enter your query text that will be run when creating new data.</p>
    <ngx-monaco-editor
      *ngIf="showQuery"
      [formControl]="formControlQueryText"
      [style]="{ height: '20rem' }"
      [placeholder]="helperMessage"
      class="pt-3 w-6 border-round monaco-editor-wrapper overflow-hidden mb-2"
      [options]="{}"></ngx-monaco-editor>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [disabled]="isLoading || isSaving"
        [text]="true"
        (onClick)="cancelEvent.emit()"></p-button>
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        [outlined]="true"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-2"
        [disabled]="isLoading || isSaving"
        [outlined]="true"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Next"
        icon="pi pi-angle-right"
        iconPos="right"
        class="ml-2"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>

<app-custom-actions #customActions></app-custom-actions>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  rejectButtonStyleClass="p-button-text mr-2"
  [rejectVisible]="false"
  acceptLabel="Ok"
  [style]="{ maxWidth: '40rem' }"></p-confirmDialog>
