<header class="header flex flex-nowarp justify-content-between">
  <div class="flex justify-content-center align-items-center">
    <div class="logo-wrapper flex justify-content-center align-items-center">
      <img class="logo" [src]="siteSettingsService.siteSettings.siteIcon" />
    </div>
    <div class="title-desc">
      {{ siteSettingsService.siteSettings.siteName.value }}
    </div>
    <p-menubar [model]="items" class="page-link"></p-menubar>
    <span [title]="this.configDataService.headerText.webHeaderDescription">{{
      this.configDataService.headerText.webHeaderMessage
    }}</span>
  </div>
  <div
    class="menu-end flex justify-content-center align-items-center"
    *ngIf="this.userService?.isLogin">
    <p-button icon="pi pi-search" styleClass="p-button-rounded mr-2"></p-button>
    <p-button (onClick)="onPerfileDialog()">
      <p-avatar
        image="https://www.primefaces.org/ultima-ng/assets/demo/images/avatar/amyelsner.png"
        styleClass="flex mr-2"
        shape="circle"></p-avatar>
      <span class="flex flex-column align-items-start">
        <strong>{{ this.userService.USER.displayName }}</strong>
        <small>Vendor:{{ this.userService.USER.vendor || 'Vendor N/A' }}</small>
      </span>
    </p-button>
  </div>
</header>

<p-dialog
  header="Persional Information"
  [(visible)]="visible"
  [style]="{ width: '40rem' }"
  [modal]="true"
  [dismissableMask]="true"
  contentStyleClass="border-top-1 surface-border pt-3"
  appendTo="body">
  <form
    [formGroup]="form"
    (ngSubmit)="onFormSubmit(model)"
    #editForm="ngForm"
    class="user-form">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
      class="p-fluid">
      <button type="submit" class="btn btn-primary submit-button border">
        Submit
      </button>
    </formly-form>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (onClick)="onOk()" label="Save"></p-button>
  </ng-template>
</p-dialog>
