<header class="header flex flex-nowarp justify-content-between">
  <div class="flex justify-content-center align-items-center">
    <div class="logo-wrapper flex justify-content-center align-items-center">
      <img
        class="logo"
        src="assets/Images/cnp.png"
        style="filter: brightness(8)" />
    </div>
    <p-menubar [model]="items" class="page-link"></p-menubar>
    <span [title]="this.configDataService.headerText.webHeaderDescription">{{
      this.configDataService.headerText.webHeaderMessage
    }}</span>
  </div>
  <div
    class="menu-end flex justify-content-center align-items-center"
    *ngIf="this.userService?.isLogin">
    <p-button icon="pi pi-search" styleClass="p-button-rounded mr-2"></p-button>
    <p-button styleClass="mr-1">
      <p-avatar
        image="https://www.primefaces.org/ultima-ng/assets/demo/images/avatar/amyelsner.png"
        styleClass="flex mr-2"
        shape="circle"></p-avatar>
      <span class="flex flex-column align-items-start">
        <strong>{{ this.userService.USER.displayName }}</strong>
        <small>Vendor:{{ this.userService.USER.vendor || 'Vendor N/A' }}</small>
      </span>
    </p-button>
  </div>
</header>
