.header {
  --topbar-bg: #3f51b5;
  --topbar-start-bg: #283593;
  --topbar-menu-button-text-color: #212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255, 255, 255, 0.12);

  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--topbar-bg);

  .logo-wrapper {
    position: relative;
    width: 17rem;
    background: var(--topbar-start-bg);
    height: 100%;
    .logo {
      max-height: 70%;
    }
  }

  .page-link {
    ::ng-deep .p-menubar {
      border: none;

      .p-menuitem-link {
        &:hover {
          color: var(--topbar-item-text-color);
          background: var(--topbar-item-hover-bg);
          transition: background-color var(--transition-duration);
        }

        .p-menuitem-text {
          color: var(--topbar-item-text-color);
          text-transform: uppercase;
        }
      }
    }
  }

  .menu-end {
    ::ng-deep {
      .p-button-icon {
        font-size: 1.125rem;
      }
      .p-button {
        &:hover {
          background-color: var(--topbar-item-hover-bg);
          transition: background-color var(--transition-duration);
        }
      }
    }
  }
}
