<div class="p-card p-3">
  <div class="flex mb-4" style="margin-top: 0.75rem">
    <h3 class="flex-1">Search Inputs</h3>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="model"
      [options]="options"
      class="p-fluid"></formly-form>
    <div class="flex justify-content-end">
      <p-button styleClass="p-button-outlined mr-2" (click)="onClear()">
        Clear
      </p-button>
      <p-button type="submit">Submit</p-button>
    </div>
  </form>
</div>
