<p-dialog *ngIf="exportData" header="Export To Excel" [style]="{'width': '500px'}" [(visible)]="showWindow['EXPORT']">

  <div>
    <div style="margin-top: 5px;">
      File Name
    </div>
    <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="ExportName"
      [(ngModel)]="exportData.ExportName">


    <div style="margin-top: 5px;">
      <div>
        Export Option
      </div>
      <div>
        <div>
          <p-radioButton label="Export Selected Items Only" name="ExportOption" value="Selection"
            [(ngModel)]="exportData.ExportOption">
          </p-radioButton>
        </div>
        <div>
          <p-radioButton name="ExportOption" label="Export Entire Result" value="All"
            [(ngModel)]="exportData.ExportOption"></p-radioButton>
        </div>
      </div>
    </div>


    <div style="float: right; margin-top: 10px;">
      <button class="search-cmd" (click)="exportDataSubmit()">Export</button>
      <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
    </div>
  </div>

</p-dialog>

<div class="w-100 h-100 d-flex flex-column">
  <h5 class="page-title">Project Search Results
    <p-progressBar mode="indeterminate" [hidden]="!isRunning" title="Searching... Please Wait..."></p-progressBar>
        </h5>
  <div *ngIf="projects && totalRecords == 0" style="font-weight: bold; color: red">
    <div class="Error"></div>No Search Results Found
  </div>
  <div class="table-toolbar" style="margin-bottom: 5px;">
    <button id="refreshgridID" (click)="refreshData()" class="table-button">
      <img title="Refresh" src="assets/Images/table-icons/refresh.png" class="sizeIcon" /> Refresh
    </button>
    <button (click)="initCheckState(true)" class="table-button">
      <img title="Select All" src="assets/Images/table-icons/selectall.png" class="sizeIcon" /> Select All
    </button>
    <button (click)="initCheckState(false)" class="table-button">
      <img title="Unselect All" src="assets/Images/table-icons/unselectall.png" class="sizeIcon" /> Unselect All
    </button>

    <span style="color:black" class="layercontrolBar"><strong>{{checkedCount}} row(s) selected</strong></span>


    <button (click)="exportDataInit()" class="table-button">
      Export To Excel
    </button>

    <button *ngIf="user.Permissions.PROJECT_ADD" (click)="addNewInit()" type="button" class="table-button">
      Add New Project
    </button>
  </div>

  <div class="flex-fill overflow-hidden">
    <!-- <div class="flex-fill overflow-hidden" style="position: relative;"> -->
    <!-- <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;"> -->
    <p-table [value]="projects" sortMode="multiple" [loading]="isLoading" [scrollable]="true" scrollHeight="flex"
      [columns]="cols" [resizableColumns]="true" columnResizeMode="expand" [reorderableColumns]="true"
      selectionMode="single" [(selection)]="selectedItem" dataKey="PROJECT" [paginator]="true" [rows]="100"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[100,200,500,1000]"  [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
      [totalRecords]="totalRecords" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines Site">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:100px">

          <col *ngFor="let col of columns" [style.width]="col.width">

        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn></th>

          <th *ngFor="let col of columns" pReorderableColumn pResizableColumn [pSortableColumn]="col.field">

            <span>{{col.header}}</span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <p-columnFilter [type]="col.filterType" [field]="col.field" display="menu" style="float:right;"
              [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          </th>

        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr [pSelectableRow]="data">
          <td class="p-table-td">
            <input class="row-cmd row-chkbox" [checked]="checkedState[data.UI_ID]" (change)="toggleCheckState(data)"
              type="checkbox" />

            <button class='row-cmd' title="View Details" (click)="openDetail(data)">
              <img src="assets/Images/row-icons/info.png" />
            </button>
            <button class='row-cmd' title="Edit" *ngIf="user.Permissions.PROJECT_EDIT"  (click)="editInit(data)">
              <img src="assets/Images/row-icons/edit.png" />
            </button>


          </td>

          <td *ngFor="let col of columns" [title]="data[col.field]">
            <span *ngIf="!col.template">{{data[col.field]}}</span>
          </td>

        </tr>
      </ng-template>

    </p-table>


  </div>



</div>


<p-dialog *ngIf="projectData"
  header="{{projectData.Mode == 'Add' ? 'Add New Project' : 'Edit'}} {{projectData?.Project}}"
  [style]="{'width': '570px'}" [(visible)]="showWindow['EDIT']" #overlayContainer>
  <div class="h-100 p-2">
    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Project}">
        <div *ngIf="validationErrors?.Project" class="Error" [title]="validationErrors?.Project"></div>
        Project Name<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <input type="text" (blur)="validateProject()" style="width: 100%;" styleClass="col-12" pInputText
          [(ngModel)]="projectData.Project">
      </div>
    </div>

    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Description}">
        <div *ngIf="validationErrors?.Description" class="Error" [title]="validationErrors?.Description"></div>
        Project Description<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="projectData.Description">
      </div>
    </div>


    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.WorkType}">
        <div *ngIf="validationErrors?.WorkType" class="Error" [title]="validationErrors?.WorkType"></div>
        Work Type<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <p-dropdown *ngIf="projectData.Mode == 'Add'" (onChange)="workTypeChange()" styleClass="col-12" [options]="projectData.LK_WorkType"
          [(ngModel)]="projectData.WorkType" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
          filterBy="Label" [showClear]="true" [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>
        <span style="color: #336699" *ngIf="projectData.Mode == 'Edit'" >{{projectData.WorkType}}</span>
      </div>
    </div>



    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.Jurisdiction}">
        <div *ngIf="validationErrors?.Jurisdiction" class="Error" [title]="validationErrors?.Jurisdiction"></div>
        Jurisdiction<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <p-dropdown  *ngIf="projectData.Mode == 'Add'" styleClass="col-12" [options]="projectData.LK_Jurisdiction" [(ngModel)]="projectData.Jurisdiction"
          [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true" filterBy="Label" [showClear]="true"
          [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>
        <span style="color: #336699" *ngIf="projectData.Mode == 'Edit'" >{{projectData.Jurisdiction}}</span>

      </div>
    </div>

    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.WorkOrderState}">
        <div *ngIf="validationErrors?.WorkOrderState" class="Error" [title]="validationErrors?.WorkOrderState"></div>
        Work Order State<span class="dialog-require"></span>
      </label>
      <div class="col-9">

        <p-dropdown  *ngIf="projectData.Mode == 'Add'" styleClass="col-12" [options]="projectData.LK_WorkOrderState"
          [(ngModel)]="projectData.WorkOrderState" [optionLabel]="'Label'" [optionValue]="'Value'" [filter]="true"
          filterBy="Label" [showClear]="true" [virtualScroll]="true" [appendTo]="overlayContainer" itemSize="30">
        </p-dropdown>
        <span style="color: #336699" *ngIf="projectData.Mode == 'Edit'" >{{projectData.WorkOrderState}}</span>

      </div>
    </div>

    <div class="row mb-1">
      <label class="col-3" [ngClass]="{'ErrorMsg' : validationErrors?.EstProjCompDate}">
        <div *ngIf="validationErrors?.EstProjCompDate" class="Error" [title]="validationErrors?.EstProjCompDate"></div>
        Est. Proj. Comp. Date<span class="dialog-require"></span>
      </label>
      <div class="col-9">
        <p-calendar styleClass="col-12" [(ngModel)]="projectData.EstProjCompDate" dateFormat="mm/dd/yy"
          dataType="string" [appendTo]="overlayContainer"></p-calendar>
      </div>

      <div style="float: right;">
        <button class="search-cmd" (click)="editSubmit()">Save</button>
        <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Cancel</button>
      </div>

    </div>
  </div>
</p-dialog>


<p-dialog *ngIf="projectData" header="Details for {{projectData?.Project}}" [style]="{'width': '600px'}"
    [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['DETAIL']">



    <span class="DetailHeading">
     
        Project Information
    </span>

    <table class="detailView" style="width: 100%">
        <tbody>
            <tr class="detailViewTitle">
                <td style="width: 160px;">Field</td>
                <td>Value</td>
            </tr>
            <tr>
                <td class="detailViewField">Project</td>
                <td class="detailViewValue">{{projectData.Project}}</td>
            </tr>
            <tr>
              <td class="detailViewField">Description</td>
              <td class="detailViewValue">{{projectData.Description}}</td>
          </tr>
          <tr>
            <td class="detailViewField">Work Type</td>
            <td class="detailViewValue">{{projectData.WorkType}}</td>
        </tr>
        <tr>
          <td class="detailViewField">Jurisdiction</td>
          <td class="detailViewValue">{{projectData.Jurisdiction}}</td>
      </tr>
      <tr>
        <td class="detailViewField">Work Order State</td>
        <td class="detailViewValue">{{projectData.WorkOrderState}}</td>
    </tr>
    <tr>
      <td class="detailViewField">Est. Proj. Comp. Date</td>
      <td class="detailViewValue">{{projectData.EstProjCompDate}}</td>
  </tr>
</tbody>
    </table>


</p-dialog>
