<p-card styleClass="">
  <ng-template pTemplate="title"> Grid Columns </ng-template>
  <ng-template pTemplate="subtitle">
    Select the fields that you want to display in grid.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div class="w-full pt-2 flex">
    <p-pickList
      #pickList
      class="flex-grow-1 mr-3"
      [source]="sourceColumns"
      [target]="targetColumns"
      sourceHeader="Available Fields"
      targetHeader="Selected Fields"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{ height: 'calc(100vh - 40.375rem)' }"
      [targetStyle]="{ height: 'calc(100vh - 40.375rem)' }"
      filterBy="field"
      [showSourceControls]="false"
      [showTargetControls]="false"
      (onMoveToTarget)="onMoveToTarget($event)"
      (onMoveToSource)="onMoveToSource($event)"
      (onMoveAllToTarget)="onMoveToTarget($event)"
      (onMoveAllToSource)="onMoveToSource($event)"
      (onTargetSelect)="onTargetSelect($event)"
      sourceFilterPlaceholder="Search by name"
      targetFilterPlaceholder="Search by name">
      <ng-template pTemplate="targetHeader">
        <div
          class="p-picklist-title flex align-items-center justify-content-between">
          <span>Column Fields</span>
          <p-menu
            #addNewMenu
            [popup]="true"
            [model]="addCustomColumnModels"
            appendTo="body"
            styleClass="mt-2"
            [style]="{ width: 'auto', minWidth: '12.5833rem' }"></p-menu>
          <p-button
            label="Add Custom Column"
            styleClass="p-button-sm p-button-text"
            (onClick)="addNewMenu.toggle($event)"></p-button>
        </div>
      </ng-template>
      <ng-template let-column pTemplate="item">
        <div *ngIf="!column.selected" class="">[{{ column.field }}]</div>
        <div *ngIf="column.selected" class="flex align-items-center">
          <div
            [title]="column.field"
            class="w-15rem mr-3 overflow-hidden text-overflow-ellipsis">
            [{{ column.field }}]
          </div>
          <div
            class="w-20rem mr-3 overflow-hidden text-overflow-ellipsis"
            *ngIf="column.header">
            <p-tag>{{ column.header }}</p-tag>
          </div>
          <div class="w-6rem" *ngIf="column.type === 'DataBaseField'">
            <p-tag severity="success">Filterable</p-tag>
          </div>
          <p-tag *ngIf="column.type === 'TemplateField'" severity="warning"
            >Template Field</p-tag
          >
          <p-tag *ngIf="column.type === 'AttachmentField'" severity="warning"
            >Attachment Field</p-tag
          >
          <div class="w-6rem" *ngIf="column.sortable">
            <p-tag severity="success">Sortable</p-tag>
          </div>
          <p-button
            *ngIf="column.type !== 'DataBaseField'"
            icon="pi pi-trash"
            class="remove-btn mr-0 ml-auto"
            styleClass="p-button-text p-button-rounded"
            (onClick)="onRemoveCustomColumn($event, column)"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessagetarget">
        <div class="w-full relative" *ngIf="!isLoading">
          <app-svg-drag></app-svg-drag>
        </div>
      </ng-template>
    </p-pickList>
    <div class="config-form p-picklist">
      <div class="p-picklist-header">
        <div class="p-picklist-title">Configuration Form</div>
      </div>
      <div class="p-picklist-list flex-grow-1">
        <form
          *ngIf="this.model && this.model.field; else emptyMessage"
          [formGroup]="form"
          #configForm="ngForm">
          <formly-form
            [form]="form"
            [fields]="fields"
            [model]="model"
            [options]="options"
            class="p-fluid"></formly-form>
        </form>
        <ng-template #emptyMessage>
          <div class="pt-4">
            Please select one row in <b>Column Fields</b> panel to configure.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Next"
        icon="pi pi-angle-right"
        iconPos="right"
        [style]="{ 'margin-left': '.5em' }"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>
