.config-form {
  flex-direction: column;
  width: 26rem;
  @media screen and (min-width: 1904px) {
    width: 30rem;
  }

  .p-picklist-list {
    padding: 0.75rem;
    height: calc(100vh - 40.375rem);

    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }
    &::-webkit-scrollbar-track {
      border-bottom-right-radius: var(--border-radius);
    }
    &::-webkit-scrollbar-thumb {
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

:host ::ng-deep {
  .p-button.p-button-icon-only.p-button-rounded {
    width: 2rem;
    height: 2rem;
  }

  .p-picklist-source-wrapper {
    max-width: 20rem;
    @media screen and (min-width: 1904px) {
      max-width: 25rem;
    }
  }

  .p-picklist-target-wrapper {
    .p-picklist-header {
      padding: 0.4798rem 1.25rem;
    }
  }

  .p-picklist-empty-message {
    app-svg-drag {
      svg {
        position: absolute;
        left: calc(50% - 7.5rem);
      }
    }
  }

  .monaco-editor-wrapper {
    height: 10rem !important;
  }
}
