<div class="flex align-items-center">
  <input
    *ngIf="!whereClause"
    class="mr-1 flex-grow-1"
    pInputText
    [formControl]="formControlField"
    (blur)="onFormControlFieldBlur()"
    [required]="true" />
  <p-dropdown
    *ngIf="!whereClause"
    [formControl]="formControlMatchMode"
    class="mr-1 flex-grow-1"
    styleClass="w-full"
    appendTo="body"
    placeholder="Please Select"
    [options]="_options"></p-dropdown>
  <div *ngIf="whereClause" (click)="showDialog()" style="cursor: pointer">
    <p-message
      severity="info"
      text="Use Query Text"
      styleClass="mr-1"></p-message>
  </div>
  <p-button
    *ngIf="whereClause"
    styleClass="p-button-text p-button-rounded remove-btn"
    icon="pi pi-times-circle"
    (onClick)="whereClause = undefined"></p-button>
  <p-button
    class="ml-auto"
    title="Advanced Configuration"
    styleClass="p-button-text p-button-rounded"
    icon="pi pi-ellipsis-v"
    (onClick)="showDialog()"></p-button>
</div>

<p-dialog
  header="Search Rule Configuration"
  [(visible)]="visible"
  [style]="{ minWidth: '50rem' }"
  [modal]="true"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0">
  <div #container class="dialog-content">
    <div class="flex flex-column" *ngIf="visible">
      <label class="line-height-2 mb-1 flex align-items-center"
        >Query text
        <i
          class="pi pi-question-circle ml-3 text-lg"
          [pTooltip]="
            'Enter the where clause to filter the data. Use ##VALUE## to reference the value of current field.'
          "></i>
      </label>
      <ngx-monaco-editor
        [formControl]="formControlQuery"
        [style]="dialogStyle"
        [required]="true"
        (onInit)="onMonacoEditorInit($event)"
        class="pt-3 border-round monaco-editor-wrapper overflow-hidden"
        [options]="{}"></ngx-monaco-editor>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check" (onClick)="onOk()" label="Ok"></p-button>
  </ng-template>
</p-dialog>
