<div class="p-card flex flex-column">
  <div class="flex-grow-1">
    <p-table
      #dataTable
      class="data-table"
      styleClass="p-datatable-striped"
      [columns]="cols"
      [scrollable]="true"
      scrollHeight="flex"
      [resizableColumns]="true"
      columnResizeMode="expand"
      [reorderableColumns]="true"
      [selectionMode]="selectionMode"
      [lazy]="true"
      [value]="records"
      [(selection)]="selection"
      [dataKey]="tableConfig.dataKey"
      [rowHover]="true"
      [loading]="loading"
      [filterDelay]="0"
      stateStorage="session"
      [stateKey]="stateKey"
      [virtualScroll]="true"
      [virtualScrollItemSize]="51.75"
      [virtualScrollDelay]="0"
      (onFilter)="onFilter($event)"
      (onSort)="onSort($event)"
      (onStateSave)="onStateSave($event)"
      [tableStyle]="{ tableLayout: 'fixed' }"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)">
      <ng-template pTemplate="caption">
        <div
          class="flex"
          [class]="headerSize === 'normal' ? 'flex-column' : ''">
          <div [class]="headerSize === 'normal' ? 'mt-2 mb-3' : 'my-2 mr-4'">
            <h3>
              {{ tableConfig.caption }}
              <a
                class="ml-3 text-primary absolute"
                style="right: 0.72rem"
                (click)="openHelpUrl(tableConfig.helpUrl)"
                *ngIf="tableConfig.helpUrl"
                ><i class="pi text-lg pi-external-link cursor-pointer"></i
              ></a>
            </h3>
            <p
              *ngIf="tableConfig.description && headerSize === 'normal'"
              class="my-1 p-card-subtitle">
              {{ tableConfig.description }}
            </p>
          </div>

          <div class="table-header flex align-items-center">
            <div class="flex flex-wrap mr-2">
              <ng-template
                appUniversalGridAction
                [actions]="tableActions"
                [selectedRecords]="selectedRecords"
                [recordKey]="tableConfig.dataKey"
                [fetchDataParam]="fetchDataParam"
                [gridName]="gridName"
                (savedEvent)="refresh()"></ng-template>
            </div>
            <div class="flex-none mr-2 ml-auto">
              <strong *ngIf="selectedRecords.length > 0"
                >{{ selectedRecords.length }} row(s) selected</strong
              >
            </div>
            <p-button
              icon="pi pi-refresh text-lg"
              styleClass="p-button-rounded p-button-outlined"
              (onClick)="resetAndRefresh()"></p-button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngIf="selectionMode === 'multiple'"
            style="width: 2.875rem !important; max-width: 2.875rem !important">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 5rem !important; max-width: 5rem !important"></th>
          <th
            *ngFor="let col of columns"
            pReorderableColumn
            pResizableColumn
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            [pSortableColumnDisabled]="!col.sortable">
            <span style="vertical-align: middle">{{ col.header }}</span>
            <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
            <p-columnFilter
              *ngIf="
                col.filterType &&
                col.filterType !== 'none' &&
                col.filterType !== 'enums' &&
                col.filterType !== 'upload'
              "
              style="vertical-align: middle"
              [type]="col.filterType"
              [field]="col.field"
              display="menu"
              [hideOnClear]="true"
              [showOperator]="false"
              [showAddButton]="false"
              [maxFractionDigits]="4"></p-columnFilter>
            <p-columnFilter
              *ngIf="col.filterType && col.filterType === 'enums'"
              style="vertical-align: middle"
              [field]="col.field"
              matchMode="in"
              display="menu"
              [hideOnClear]="true"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false">
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback">
                <p-multiSelect
                  [showToggleAll]="false"
                  appendTo="body"
                  placeholder="Any"
                  [ngModel]="value"
                  [options]="col.filterOptions || []"
                  (onChange)="filter($event.value)">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr [pSelectableRow]="data" [class]="data['linked_highlighted']">
          <td *ngIf="selectionMode === 'multiple'">
            <p-tableCheckbox
              [value]="data"
              (click)="onRowCheckBoxClick($event)"></p-tableCheckbox>
          </td>
          <td>
            <div class="row-actions flex">
              <ng-template
                class="flex"
                appUniversalGridAction
                [actions]="rowActions"
                [recordKey]="tableConfig.dataKey"
                [selectedRecords]="[data]"
                [fetchDataParam]="fetchDataParam"
                [gridName]="gridName"
                (savedEvent)="refresh()"></ng-template>
            </div>
          </td>

          <td
            *ngFor="let col of columns"
            [title]="col.filterType !== 'upload' ? data[col.field] || '' : ''">
            <ng-container
              *ngIf="!col.template"
              [ngTemplateOutlet]="
                col.filterType === 'date'
                  ? date
                  : col.filterType === 'numeric'
                  ? numeric
                  : col.filterType === 'boolean'
                  ? boolean
                  : col.filterType === 'upload'
                  ? upload
                  : normal
              "></ng-container>
            <ng-template #boolean>{{ data[col.field] | boolean }}</ng-template>
            <ng-template #date>{{
              data[col.field]
                | date : (col.format === '' ? undefined : col.format)
            }}</ng-template>
            <ng-template #numeric>{{
              data[col.field]
                | number : (col.format === '' ? undefined : col.format)
            }}</ng-template>
            <ng-template #upload
              ><span [innerHTML]="data[col.field] | upload"></span
            ></ng-template>
            <ng-template #normal>{{ data[col.field] }}</ng-template>
            <span
              *ngIf="col.template"
              [innerHTML]="calcCustomTemplate(data, col.template)">
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td class="text-lg" [attr.colspan]="columns.length + 2">
            {{
              this.firstLoadDone
                ? 'No data were found for your search.'
                : 'Fill in Search Inputs to get your data.'
            }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-paginator
    [rows]="rows"
    [first]="first"
    [totalRecords]="totalRecords"
    [pageLinkSize]="5"
    styleClass="p-paginator-bottom"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries  "
    [alwaysShow]="false"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="true"
    [showCurrentPageReport]="true"
    [showPageLinks]="true"></p-paginator>
</div>

<p-sidebar
  *ngIf="visible"
  [(visible)]="visible"
  position="right"
  [baseZIndex]="10000"
  [modal]="false"
  class="sidebar">
  <iframe [src]="helpUrl" class="w-full h-full" frameborder="0"></iframe>
</p-sidebar>
