.p-card {
  position: relative;
  overflow: hidden;
  height: 100%;

  .data-table {
    ::ng-deep {
      .p-datatable {
        position: static;
      }

      .p-datatable-wrapper {
        overflow-x: auto;
        .p-scroller {
          height: 100% !important;
        }
        .p-datatable-table {
          width: auto;

          .p-datatable-thead th {
            &.selection {
              width: 3rem !important;
              max-width: 3rem !important;
            }
            &.action {
              width: 5rem !important;
              max-width: 5rem !important;
            }
          }

          .p-datatable-tbody tr {
            transition: background-color var(--transition-duration);
            &.highlighted {
              background-color: var(--yellow-400);
            }
          }

          .row-actions {
            .p-button.p-button-icon-only {
              width: 1.666667rem;
              height: 1.666667rem;
              padding: 0;

              .pi.p-button-icon {
                font-size: 1.5rem;
              }
            }

            app-action-wrapper + app-action-wrapper {
              margin-left: 0.25rem;
            }
          }
        }
      }

      .p-datatable-header {
        padding: 0.625rem 0.625rem;
        z-index: 11;
        border-top: none;
        // .p-button-rounded .pi.p-button-icon {
        //   z-index: 0;
        // }
        app-action-wrapper {
          margin-top: 0.125rem;
          margin-bottom: 0.125rem;
        }
      }

      [styleClass='p-paginator-bottom'] {
        z-index: 11;
      }
      .p-paginator {
        border-bottom: none;
        padding: 1rem 0.375rem;
      }
      .p-datatable-loading-overlay,
      .p-datatable-reorder-indicator-up {
        z-index: 12;
      }
    }
  }
}

.sidebar {
  ::ng-deep {
    .p-sidebar {
      width: 45%;
    }
    .p-sidebar-content {
      padding: 0;
      height: 100%;
    }
    .p-sidebar-footer {
      display: none;
    }
  }
}

::ng-deep {
  .p-column-filter-overlay-menu {
    max-width: 25rem;
  }
}
