<p-splitter #splitter layout="vertical" class="h-full" [panelSizes]="[99.9, 0.1]" [gutterSize]="0">
  <ng-template pTemplate>
    <app-table
      *ngIf="masterTableName"
      #masterTable
      class="flex-grow-1"
      headerSize="compact"
      [gridName]="masterTableName"
      (rowClick)="onMasterRowClick($event)"
      (resetData)="onMasterRowClear()"></app-table>
  </ng-template>
  <ng-template pTemplate>
    <app-table
      *ngIf="detailTableName"
      #detailTable
      [style]="{ height: showDetail ? 'auto' : '0px' }"
      class="flex-grow-1"
      headerSize="compact"
      [gridName]="detailTableName"
      [connectToSearch]="false"></app-table>
  </ng-template>
</p-splitter>
