:host {
  ::ng-deep {
    .p-orderlist {
      .p-orderlist-list {
        border: none;
        min-height: auto;
        overflow: hidden;
        border-radius: 0;

        .p-orderlist-item + .p-orderlist-item {
          border-top: 1px solid var(--surface-300);
        }
      }
      .p-orderlist-controls {
        display: none;
      }
      .p-orderlist-list-container {
        flex: none;
      }

      .p-inputtext,
      .p-inputnumber,
      .p-calendar {
        width: 15rem;
      }
    }

    .p-dropdown {
      width: 13rem;
    }
  }
}
