<p-card styleClass="">
  <ng-template pTemplate="title">
    Data Source
    <a (click)="changeMode()">{{
      !isAdvanced ? 'Advance Mode' : 'Simple Mode'
    }}</a>
  </ng-template>
  <ng-template pTemplate="subtitle">
    Setup data source for this portal item.
  </ng-template>
  <p-divider styleClass="mt-0"></p-divider>
  <div *ngIf="!isAdvanced" class="w-6 pt-3">
    <div class="flex align-items-center">
      <div class="flex flex-column mb-2 mr-4">
        <label for="tableName" class="mb-1">Database Table *</label>
        <div class="flex align-items-center">
          <p-dropdown
            [required]="true"
            [options]="dbTables"
            (onChange)="onTableNameChange($event)"
            [formControl]="formControlDbTable"
            placeholder="Please Select"
            [style]="{ minWidth: '20rem' }"
            appendTo="body"></p-dropdown>
          <i
            class="pi pi-question-circle ml-3 text-lg"
            pTooltip="Select one table from database"></i>
        </div>
      </div>
      <div class="flex flex-column mb-2">
        <label for="idColumn" class="mb-1">Id Column *</label>
        <div class="flex align-items-center">
          <p-dropdown
            [required]="true"
            [formControl]="formControlIdColumn"
            [options]="dbTableColumns"
            placeholder="Please Select"
            [style]="{ minWidth: '20rem' }"
            optionLabel="columnName"
            optionValue="columnName"
            appendTo="body"></p-dropdown>
          <i
            class="pi pi-question-circle ml-3 text-lg"
            pTooltip="Id Column will be used as the key in the grid"></i>
        </div>
      </div>
    </div>
    <div class="w-6 pt-3 flex flex-column">
      <div class="flex flex-column mb-2">
        <label for="" class="mb-1">Page Size</label>
        <p-inputNumber
          [(ngModel)]="pageSize"
          [style]="{ minWidth: '20rem' }"
          [showButtons]="true"
          [allowEmpty]="false"
          [maxFractionDigits]="0"
          [max]="1000"
          [min]="10"></p-inputNumber>
      </div>
    </div>
    <p-divider styleClass="mb-0">Filters</p-divider>
    <div class="flex flex-column mb-2">
      <!-- <label class="mb-1">Filters</label> -->
      <p-orderList [value]="filters" [stripedRows]="true">
        <ng-template let-filter pTemplate="item">
          <div class="flex align-items-center">
            <div class="mr-3">
              <p-dropdown
                [formControl]="filter.formControlField"
                [options]="dbTableColumns"
                optionLabel="columnName"
                optionValue="columnName"
                (onChange)="onFilterColumnChange($event, filter)"
                appendTo="body"></p-dropdown>
            </div>
            <div class="mr-3">
              <p-dropdown
                [formControl]="filter.formControlMatchMode"
                [options]="filter.matchOptions"
                appendTo="body"></p-dropdown>
            </div>
            <div class="mr-3" style="width: 15rem">
              <input
                *ngIf="filter.filterType === 'text'"
                [required]="true"
                [formControl]="filter.formControlValue"
                pInputText
                placeholder="Enter a value" />
              <p-inputNumber
                *ngIf="filter.filterType === 'numeric'"
                [required]="true"
                [formControl]="filter.formControlValue"
                [showButtons]="true"
                placeholder="Enter a value"></p-inputNumber>
              <p-calendar
                *ngIf="filter.filterType === 'date'"
                [required]="true"
                [formControl]="filter.formControlValue"
                appendTo="body"
                placeholder="Enter a value"></p-calendar>
              <p-inputSwitch
                *ngIf="filter.filterType === 'boolean'"
                [required]="true"
                [formControl]="filter.formControlValue"></p-inputSwitch>
            </div>
            <div>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-text"
                (onClick)="onRemoveFilter(filter)"></p-button>
            </div>
          </div>
        </ng-template>
      </p-orderList>
      <p-button
        label="Add"
        icon="pi pi-plus"
        class="mt-1"
        styleClass="p-button-text p-button-sm"
        (onClick)="onAddFilter()"></p-button>
    </div>
    <p-divider styleClass="mb-0">Sort By</p-divider>
    <div class="flex flex-column mb-2">
      <!-- <label class="mb-1">Sort By</label> -->
      <p-orderList [value]="sortBy" [stripedRows]="true" [dragdrop]="true">
        <ng-template let-sortBy pTemplate="item">
          <div class="flex align-items-center">
            <div class="mr-3">
              <p-dropdown
                [(ngModel)]="sortBy.field"
                [options]="dbTableColumns"
                optionLabel="columnName"
                optionValue="columnName"
                appendTo="body"
                placeholder="Select Id Column"></p-dropdown>
            </div>
            <div class="mr-3">
              <p-dropdown
                [(ngModel)]="sortBy.order"
                [options]="dbOrderOptions"
                appendTo="body"
                placeholder="Order"></p-dropdown>
            </div>
            <div>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-text"
                (onClick)="onRemoveSortColumn(sortBy)"></p-button>
            </div>
          </div>
        </ng-template>
      </p-orderList>
      <p-button
        label="Add"
        icon="pi pi-plus"
        class="mt-1"
        styleClass="p-button-text p-button-sm"
        (onClick)="onAddSortColumn()"></p-button>
    </div>
  </div>
  <div *ngIf="isAdvanced" class="w-6 pt-3 flex flex-column">
    <label class="line-height-3 flex align-items-center mb-2"
      >Custom your query below to fetch the data. Use ##SEARCHES## and
      ##FILTERS## as the placeholder to recevie the paramters from front end.
    </label>
    <ngx-monaco-editor
      [formControl]="formControlQuery"
      (onInit)="onMonacoInit()"
      [style]="{ height: '20rem' }"
      [required]="true"
      class="pt-3 border-round monaco-editor-wrapper overflow-hidden mb-2"
      [options]="{}"></ngx-monaco-editor>

    <label for="" class="mb-1">Page Size</label>
    <p-inputNumber
      [(ngModel)]="pageSize"
      [style]="{ minWidth: '20rem' }"
      [showButtons]="true"
      [allowEmpty]="false"
      [maxFractionDigits]="0"
      [max]="1000"
      [min]="10"></p-inputNumber>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex align-items-center">
      <p-button
        label="Back"
        icon="pi pi-angle-left"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onBack()"></p-button>
      <p-button
        label="Save Draft & Exit"
        icon="pi pi-save"
        class="ml-auto"
        [disabled]="isLoading || isSaving"
        styleClass="p-button-outlined"
        (onClick)="onSaveAndExit()"
        [loading]="isSaving && isSavingAndExit"></p-button>
      <p-button
        label="Save & Next"
        icon="pi pi-angle-right"
        iconPos="right"
        [style]="{ 'margin-left': '.5em' }"
        [disabled]="isLoading || isSaving"
        (onClick)="onSaveAndNext()"
        [loading]="isSaving && isSavingAndNext"></p-button>
    </div>
  </ng-template>
</p-card>
