.config-form {
  flex-direction: column;
  width: 26rem;
  @media screen and (min-width: 1904px) {
    width: 30rem;
  }

  .p-picklist-list {
    padding: 0.75rem;
    height: calc(100vh - 40.125rem);
  }
}

:host ::ng-deep {
  .p-picklist-source-wrapper {
    max-width: 20rem;
    @media screen and (min-width: 1904px) {
      max-width: 25rem;
    }

    .p-picklist-item {
      .remove-btn {
        display: none;
      }
    }
  }
  .p-picklist-target-wrapper {
    .p-picklist-item {
      padding-left: 2rem;
      padding-right: 2rem;
      position: relative;
      max-width: 37.5rem;
      margin: 0 auto;
      transition: background var(--transition-duration);

      .remove-btn {
        opacity: 0;
        transition: opacity var(--transition-duration);
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        z-index: 9999;
        .p-button.p-button-icon-only {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &:hover {
        .remove-btn {
          opacity: 1;
        }
      }

      &::before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }

    .p-picklist-header {
      padding: 0.4798rem 1.25rem;
    }
  }

  .p-picklist-list {
    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }
    &::-webkit-scrollbar-track {
      border-bottom-right-radius: var(--border-radius);
    }
    &::-webkit-scrollbar-thumb {
      border-bottom-right-radius: var(--border-radius);
    }
  }

  .p-picklist-empty-message {
    app-svg-drag {
      svg {
        position: absolute;
        left: calc(50% - 7.5rem);
      }
    }
  }

  .isLinkedItem {
    .p-picklist-source-wrapper,
    .p-picklist-buttons {
      display: none;
    }
  }
}
