
<ng-template #attachmentSection let-data="data">
    <table class="table-view">
        <tr>
            <th>File Name</th>
            <th>Attached By</th>
            <th>Date Attached</th>
            <th>Order Status</th>
            <th></th>
        </tr>
        <tr *ngFor="let att of data.Attachments">
            <td  *ngIf="att.STATUS != 'Removed'" style="text-align: left;">
                <a class="wraplongtext links" (click)="attachmentDownload(att)"
                    target="_blank">{{att.FILE_NAME}}</a>

                <button (click)="attachmentDownload(att)" class='row-cmd' title="Download">
                    <img src="assets/Images/row-icons/download.png" />
                </button>
            </td>
            <td style="text-align: left;" *ngIf="att.STATUS == 'Removed'">
                <span class="wraplongtext" style="text-decoration: line-through;">{{att.FILE_NAME}}</span>              
            </td>

            <td>
                {{att.CREATEDBY}}
            </td>
            <td>
                {{att.CREATEDDATE}}
            </td>
            <td>
                {{att.ORDERSTATUSDESC}}
            </td>
            <td  *ngIf="canEdit(data)" style="text-align: right;">
                <button *ngIf="att.STATUS != 'Removed'" class='row-cmd' title="Remove {{att.FILE_NAME}}" (click)="attachmentDelete($event, att, data)">
                    <img src="assets/Images/row-icons/delete.png" />
                </button>
                <button *ngIf="att.STATUS == 'Removed'" class='row-cmd' title="Retore {{att.FILE_NAME}}" (click)="attachmentRestore($event, att, data)">
                    <img src="assets/Images/row-icons/restore.png" />
                </button>
            </td>
        </tr>
    </table>
    <div *ngIf="canEdit(data)">
        <label>Upload New Attachment(s)</label>
        <p-fileUpload #AttachmentsRef name="attachments" multiple="multiple" [auto]="true" mode="basic"
            chooseLabel="Browse" url="{{landbaseService._apiUrl}}LandBase/AddAttachment"
            accept=".dwg,.dxf,.dgn,.pdf,.ppt,.docx,.doc,.xlsx,.xls,image/*" (onBeforeUpload)="attachmentSubmit($event)"
            (onError)="onFileUploadError($event,AttachmentsRef)"
            (onUpload)="onFileUploadSuccess($event,AttachmentsRef, data)">
        </p-fileUpload>
    </div>

    <div style="float: right;">
        <button class="search-cmd" style="margin-left: 10px;" (click)="closeAttachment()">Close</button>
    </div>

</ng-template>



<p-dialog *ngIf="platData && showWindow['PLAT']" #overlayContainer [header]="platData?.DialogTitle"
    [style]="{'width': '980px'}" [(visible)]="showWindow['PLAT']">

    <div class="h-100 p-2" *ngIf="platData.Submitted">
        Your landbase work order has been submitted successfully. If notification has been enabled, you will be notified of any updates to this work order. 

        <table style="width: 100%">
            <tbody>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Plat ID</td>
                    <td class="detailViewValue">{{platData.PlatID}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Order Number</td>
                    <td class="detailViewValue">{{platData.OrderNumber}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Plat Name</td>
                    <td class="detailViewValue">{{platData.PlatName}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Requested By</td>
                    <td class="detailViewValue">{{platData.RequestedBy}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Need Date</td>
                    <td class="detailViewValue">{{platData.NeedDate}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Service Area</td>
                    <td class="detailViewValue">{{platData.ServiceArea}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Order Type</td>
                    <td class="detailViewValue">{{platData.OrderType}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Building Type</td>
                    <td class="detailViewValue">{{platData.BuildingType}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Office</td>
                    <td class="detailViewValue">{{platData.Office}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">County</td>
                    <td class="detailViewValue">{{platData.County}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Address</td>
                    <td class="detailViewValue">{{platData.Address}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">City</td>
                    <td class="detailViewValue">{{platData.City}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Township</td>
                    <td class="detailViewValue">{{platData.Township}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Section</td>
                    <td class="detailViewValue">{{platData.Section}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Quarter Section</td>
                    <td class="detailViewValue">{{platData.QuarterSection}}</td>
                </tr>
                <tr>
                    <td class="detailViewField" style="width: 180px;">Map Number</td>
                    <td class="detailViewValue">{{platData.MapNumber}}</td>
                </tr>

            </tbody>
        </table>

        <div style="float: right;">
            <button class="search-cmd"  (click)="ReceivePlatInit()">Add Another Work Order</button>
            <button class="search-cmd" style="margin-left: 10px;" (click)="showWindow = {}">Close</button>
        </div>

    </div>
    <div class="h-100 p-2" *ngIf="!platData.Submitted">
        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.RequestedBy}">
                <div *ngIf="validationErrors?.RequestedBy" class="Error" [title]="validationErrors?.RequestedBy"></div>
                Requested By<span class="dialog-require"></span>
            </label>
            <div class="col-10">

                <p-dropdown styleClass="col-12" [virtualScroll]="true" itemSize="30" [appendTo]="overlayContainer"
                    [options]="platData.LK_RequestedBy" (onChange)="defaultRequestInput()" name="RequestedBy"
                    [(ngModel)]="platData.Requestor" [filter]="true" [filterBy]="'Label'" [optionLabel]="'Label'">
                </p-dropdown>

            </div>
        </div>

<!-- 
        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.RequestorEmail}">
                <div *ngIf="validationErrors?.RequestorEmail" class="Error" [title]="validationErrors?.RequestorEmail">
                </div>
                Requestor Email<span class="dialog-require"></span>
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText
                    [(ngModel)]="platData.RequestorEmail">
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.RequestorPhone}">
                <div *ngIf="validationErrors?.RequestorPhone" class="Error" [title]="validationErrors?.RequestorPhone">
                </div>
                Requestor Phone<span class="dialog-require"></span>
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText
                    [(ngModel)]="platData.RequestorPhone">
            </div>
        </div> -->


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.ServiceArea}">
                <div *ngIf="validationErrors?.ServiceArea" class="Error" [title]="validationErrors?.ServiceArea"></div>
                Service Area<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_ServiceArea"
                    name="ServiceArea" [(ngModel)]="platData.ServiceArea" [optionLabel]="'Label'"
                    [optionValue]="'Value'" (onChange)="defaultServiceAreaInput()">
                </p-dropdown>
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Office}">
                <div *ngIf="validationErrors?.Office" class="Error" [title]="validationErrors?.Office"></div>Office
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_Office"
                    name="Office" [(ngModel)]="platData.Office" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.PlatName}">
                <div *ngIf="validationErrors?.PlatName" class="Error" [title]="validationErrors?.PlatName"></div>
                Plat Name<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="platData.PlatName">
            </div>
        </div>
        <!-- 
        <div class="row mb-1">
            <label class="col-2">Issue Group<span class="dialog-require"></span></label>
            <div class="col-10">
                <input required  type="text" style="width: 100%;" styleClass="col-12" pInputText
                    >
            </div>
        </div> -->

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.NeedDate}">
                <div *ngIf="validationErrors?.NeedDate" class="Error" [title]="validationErrors?.NeedDate"></div>
                Need Date<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <p-calendar styleClass="col-12" [(ngModel)]="platData.NeedDate" dateFormat="mm/dd/yy" dataType="string"
                    [appendTo]="overlayContainer"></p-calendar>

            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.DesignArea}">
                <div *ngIf="validationErrors?.DesignArea" class="Error" [title]="validationErrors?.DesignArea"></div>
                Design Area
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_DesignArea"
                    name="OrderType" [(ngModel)]="platData.DesignArea" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1"  *ngIf="platData.Mode != 'EDIT'">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.WorkOrderState}">
                <div *ngIf="validationErrors?.WorkOrderState" class="Error" [title]="validationErrors?.WorkOrderState">
                </div>Work Order State<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_WorkOrderState"
                    name="WorkOrderState" [(ngModel)]="platData.WorkOrderState" [optionLabel]="'Label'"
                    [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1"  *ngIf="platData.Mode == 'EDIT'">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.WorkOrderState}">
                <div *ngIf="validationErrors?.WorkOrderState" class="Error" [title]="validationErrors?.WorkOrderState">
                </div>Work Order State<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_WorkOrderState"
                    name="WorkOrderState" [(ngModel)]="platData.WorkOrderStateNew" [optionLabel]="'Label'"
                    [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.OrderType}">
                <div *ngIf="validationErrors?.OrderType" class="Error" [title]="validationErrors?.OrderType"></div>Order
                Type<span class="dialog-require"></span>
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_OrderType"
                    name="OrderType" [(ngModel)]="platData.OrderType" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.BuildingType}">
                <div *ngIf="validationErrors?.BuildingType" class="Error" [title]="validationErrors?.BuildingType">
                </div>Building Type(s)
            </label>
            <div class="col-10">
                    <p-checkbox style="margin-right: 15px" name="groupname" value="Proposed" [(ngModel)]="platData.BuildingType"
                        label="Proposed">
                    </p-checkbox>

                    <p-checkbox style="margin-right: 15px" name="groupname" value="Existing" [(ngModel)]="platData.BuildingType"
                       label="Existing">
                    </p-checkbox>
                    <p-checkbox name="groupname" value="Future" [(ngModel)]="platData.BuildingType"
                         label="Future">
                    </p-checkbox>
           </div>
        </div>


        <div class="row mb-1">
            <hr class="col-12 divider" />
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.County}">
                <div *ngIf="validationErrors?.County" class="Error" [title]="validationErrors?.County"></div>
                County<span class="dialog-require"></span>
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="platData.County">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Address}">
                <div *ngIf="validationErrors?.Address" class="Error" [title]="validationErrors?.Address"></div>
                Address
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="platData.Address">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.City}">
                <div *ngIf="validationErrors?.City" class="Error" [title]="validationErrors?.City"></div>
                City
            </label>
            <div class="col-10">

                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_City"
                    name="City" [(ngModel)]="platData.City" [optionLabel]="'Label'"
                    [optionValue]="'Value'"  [filter]="true" [filterBy]="'Label'" [virtualScroll]="true" itemSize="30" >
                </p-dropdown>
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Township}">
                <div *ngIf="validationErrors?.Township" class="Error" [title]="validationErrors?.Township"></div>
                Township
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="platData.Township">
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Range}">
                <div *ngIf="validationErrors?.Range" class="Error" [title]="validationErrors?.Range"></div>
                Range
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="platData.Range">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Section}">
                <div *ngIf="validationErrors?.Section" class="Error" [title]="validationErrors?.Section"></div>Section
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_Section"
                   [(ngModel)]="platData.Section" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>


        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.QuarterSection}">
                <div *ngIf="validationErrors?.QuarterSection" class="Error" [title]="validationErrors?.QuarterSection">
                </div>Quarter Section
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_QuarterSection"
                    [(ngModel)]="platData.QuarterSection" [optionLabel]="'Label'"
                    [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.MapNumber}">
                <div *ngIf="validationErrors?.MapNumber" class="Error" [title]="validationErrors?.MapNumber"></div>
                Map Number<span class="dialog-require"></span><div class="HelpTip" title="FACET, LAMBERT, KEY. For Minnesota, Enter N/A"></div>
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText [(ngModel)]="platData.MapNumber">
            </div>
        </div>

                <div class="row mb-1">
            <hr class="col-12 divider" />
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.ReferenceWO}">
                <div *ngIf="validationErrors?.ReferenceWO" class="Error" [title]="validationErrors?.ReferenceWO"></div>
                Related /Reference WO#
            </label>
            <div class="col-10">
                <input type="text" style="width: 100%;" styleClass="col-12" pInputText
                    [(ngModel)]="platData.ReferenceWO">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.BatchNumber}">
                <div *ngIf="validationErrors?.BatchNumber" class="Error" [title]="validationErrors?.BatchNumber"></div>
                Batch Number
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText
                    [(ngModel)]="platData.BatchNumber" (blur)="validateBatchNumber()">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.JTProjectID}">
                <div *ngIf="validationErrors?.JTProjectID" class="Error" [title]="validationErrors?.JTProjectID"></div>
                Joint Trench Project ID
            </label>
            <div class="col-10">

                <input type="text" style="width: 100%;" styleClass="col-12" pInputText
                    [(ngModel)]="platData.JTProjectID">
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Status}">
                <div *ngIf="validationErrors?.Status" class="Error" [title]="validationErrors?.DesignArea"></div>
                User Status
            </label>
            <div class="col-10">
                <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_Status"
                    name="Status" [(ngModel)]="platData.Status" [optionLabel]="'Label'" [optionValue]="'Value'">
                </p-dropdown>
            </div>
        </div>


        <div *ngIf="platData.Mode == 'EDIT'">

            <div class="row mb-1">
                <label class="col-2">Estimated Project Completion Date</label>
                <div class="col-10">
                    <p-calendar styleClass="col-12" [(ngModel)]="platData.EstCompletionDate" dateFormat="mm/dd/yy"
                        dataType="string" [appendTo]="overlayContainer"></p-calendar>
                </div>
            </div>


            <div class="row mb-1">
                <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.ProblemDescription}">
                    <div *ngIf="validationErrors?.ProblemDescription" class="Error"
                        [title]="validationErrors?.ProblemDescription"></div>Problem Description
                </label>
                <div class="col-10">
                    <p-dropdown styleClass="col-12" [appendTo]="overlayContainer"
                        [options]="platData.LK_ProblemDescription" [(ngModel)]="platData.ProblemDescription"
                        [optionLabel]="'Label'" [optionValue]="'Value'">
                    </p-dropdown>
                </div>
            </div>

            <div class="row mb-1">
                <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.ProblemRemark}">
                    <div *ngIf="validationErrors?.ProblemRemark" class="Error"
                        [title]="validationErrors?.ProblemRemark"></div>Problem Remarks
                </label>
                <div class="col-10">
                    <textarea pInputTextarea rows="3" style="width: 100%;"
                        [(ngModel)]="platData.ProblemRemark"></textarea>
                </div>
            </div>


            <div class="row mb-1">
                <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Vendor}">
                    <div *ngIf="validationErrors?.Vendor" class="Error" [title]="validationErrors?.Vendor"></div>
                    Vendor
                </label>
                <div class="col-10">
                    <p-dropdown styleClass="col-12" [appendTo]="overlayContainer" [options]="platData.LK_Vendor"
                        [(ngModel)]="platData.Vendor" [optionLabel]="'Label'" [optionValue]="'Value'">
                    </p-dropdown>
                </div>
            </div>

            <div class="row mb-1">
                <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.VendorComment}">
                    <div *ngIf="validationErrors?.VendorComment" class="Error"
                        [title]="validationErrors?.VendorComment"></div>Vendor Comments
                </label>
                <div class="col-10">
                    <textarea pInputTextarea rows="3" style="width: 100%;"
                        [(ngModel)]="platData.VendorComment"></textarea>
                </div>
            </div>

        </div>
        <div class="row mb-1" *ngIf="platData.Mode == 'ADD'">
            <label class="col-2">Attach File(s)<div class="HelpTip" title="Acceptable file types include .zip, .dwg, .dgn, .tif, .pdf, .doc, .docx, .bmp & .jpg "></div></label>
            <div class="col-10">
                <p-fileUpload #AttachmentsRef name="attachments" multiple="multiple" [auto]="true" mode="basic"
                    chooseLabel="Browse" url="{{landbaseService._apiUrl}}Landbase/AddTempAttachment"
                    accept=".dwg,.dxf,.dgn,.pdf,.ppt,.docx,.doc,.xlsx,.xls,image/*"
                    (onError)="onFileUploadError($event,AttachmentsRef)"
                    (onUpload)="addNewFileUploadSuccess($event,AttachmentsRef)">
                </p-fileUpload>
                <div *ngFor="let f of platData.NewAttachments">
                    <a class="wraplongtext links" (click)="tempAttachmentDownload(f)">{{f.FileName}}</a>
                    <button class='row-cmd' title="Remove {{f.FileName}}" (click)="addNewRemoveAttachment(f.FileID)"
                        style="margin-top: -6px;">
                        <img src="assets/Images/row-icons/delete.png" />
                    </button>

                </div>
            </div>
        </div>


        <div *ngIf="platData.Mode == 'EDIT'" class="row mb-1">
            <label class="col-2">Attachments</label>
            <div class="col-10">
                <ng-container *ngTemplateOutlet="attachmentSection; context: {data: attachmentData}"></ng-container>
            </div>
        </div>

        <div class="row mb-1">
            <label class="col-2" [ngClass]="{'ErrorMsg' : validationErrors?.Comments}">
                <div *ngIf="validationErrors?.Comments" class="Error" [title]="validationErrors?.VendorComment"></div>
                Comments
            </label>
            <div class="col-10">
                <textarea pInputTextarea rows="3" style="width: 100%;" [(ngModel)]="platData.Comments"></textarea>
            </div>
        </div>



        <div class="row mb-1">
            <label class="col-2">Additional Emails for Notifications</label>
            <div class="col-10">
                <input type="text" style="width: 100%;" styleClass="col-12" pInputText name="UpdateEmails"
                    [(ngModel)]="platData.UpdateEmails">

                <span>The following email(s) will already receive notifications for this issue:</span>
                <span style="display:block" class="ValueText">{{platData?.RequestorEmail}}</span>
            </div>


        </div>

        <div style="float: right;">
            <button class="search-cmd" [disabled]="isSubmitting"  (click)="AddEditSubmit()">Submit</button>
            <button class="search-cmd" style="margin-left: 10px;" (click)="addNewCancel($event)">Cancel</button>
        </div>
        <br>
        <p-progressBar class="ToolRunning" mode="indeterminate" [hidden]="!isSubmitting" title="Running..."></p-progressBar>

    </div>

</p-dialog>


<p-dialog *ngIf="attachmentData" header="Attachment(s) for {{attachmentData.OrderNumber}}"
    [style]="{'width': '500px', 'height': '250px'}" [contentStyle]="{'height': '400px'}"
    [(visible)]="showWindow['ATTACHMENT']">

    <span *ngIf="attachmentData.Attachments && attachmentData.Attachments.length == 0">(No Attachments
        Found)</span>

    <ng-container *ngTemplateOutlet="attachmentSection; context: {data: attachmentData}"></ng-container>
</p-dialog>


<p-dialog *ngIf="detailData" header="Details for {{detailData?.OrderNumber}}" [style]="{'width': '600px'}"
    [contentStyle]="{'height': '400px'}" [(visible)]="showWindow['DETAIL']">



    <span class="DetailHeading">

        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Details"
            (click)="detailData.sectionVisible.Details = false"><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Details"
            (click)="detailData.sectionVisible.Details = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Issue Information
    </span>

    <table [hidden]="!detailData.sectionVisible.Details" class="detailView" style="width: 100%">
        <tbody>
            <tr class="detailViewTitle">
                <td style="width: 160px;">Field</td>
                <td>Value</td>
            </tr>
            <tr *ngFor="let row of detailData.Details">
                <td class="detailViewField">{{row.Field}}</td>
                <td class="detailViewValue">{{row.Value}}</td>
            </tr>
        </tbody>
    </table>

    <span class="DetailHeading">
        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Attachments"
            (click)="detailData.sectionVisible.Attachments = false "><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Attachments"
            (click)="detailData.sectionVisible.Attachments = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Attachments
        <!-- #endregion -->
    </span>
    <span [hidden]="!detailData.sectionVisible.Attachments" *ngIf="detailData.Attachments.length == 0">(No Records
        Found)</span>

    <table [hidden]="!detailData.sectionVisible.Attachments" class="table-view">
        <tr *ngIf="detailData.Attachments.length != 0">
            <th>File Name</th>
            <th>Attached By</th>
            <th>Date Attached</th>
            <th>Order Status</th>
            <th></th>
        </tr>
        <tr *ngFor="let att of detailData.Attachments">
            <td style="text-align: left;"><a class="wraplongtext links"
                (click)="attachmentDownload(att)" >{{att.FILE_NAME}}</a></td>
            <td>
                {{att.CREATEDBY}}
            </td>
            <td>
                {{att.CREATEDDATE}}
            </td>
            <td>
                {{att.ORDERSTATUSDESC}}
            </td>
            <td style="text-align: right;">
                <button (click)="attachmentDownload(att)" class='row-cmd' title="Download">
                    <img src="assets/Images/row-icons/download.png" />
                </button>
            </td>
        </tr>
    </table>

    
    <span class="DetailHeading">
        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Comments"
            (click)="detailData.sectionVisible.Comments = false "><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Comments"
            (click)="detailData.sectionVisible.Comments = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Comments
    </span>

    <span [hidden]="!detailData.sectionVisible.Comments" *ngIf="detailData.Comments.length == 0">(No Records
        Found)</span>

    <table [hidden]="!detailData.sectionVisible.Comments"  class="table-view">
        <tr *ngIf="detailData.Comments.length != 0">
            <th>Comments</th>
            <th>Date</th>
            <th>By</th>
            <th>Vendor</th>
            <th>Order Status</th>
        </tr>
        <tr *ngFor="let r of detailData.Comments">
            <td>
                {{r.COMMENTS}}
            </td>
            <td>
                {{r.CREATEDDATE}}
            </td>
            <td>
                {{r.CREATEDBYNAME}}
            </td>
            <td>
                {{r.VENDOR}}
            </td>
            <td>
                {{r.STATUSDESCRIPTION}}
            </td>           
        </tr>
    </table>



    <span class="DetailHeading">
        <button class='row-cmd' [hidden]="!detailData.sectionVisible.Transactions"
            (click)="detailData.sectionVisible.Transactions = false "><img
                src="assets/Images/button-icons/collapse.png"></button>
        <button class='row-cmd' [hidden]="detailData.sectionVisible.Transactions"
            (click)="detailData.sectionVisible.Transactions = true"><img
                src="assets/Images/button-icons/expand.png"></button>
        Transactions
        <!-- #endregion -->
    </span>
    <span [hidden]="!detailData.sectionVisible.Transactions" *ngIf="detailData.Transactions.length == 0">(No Records
        Found)</span>

    <table [hidden]="!detailData.sectionVisible.Transactions" class="table-view">
        <tbody *ngFor="let t of detailData.Transactions">
            <tr>
                <td>
                    {{t.DATEOFTRANSACTION}}
                </td>
                <td>
                    {{t.TRANSACTIONLABEL}}
                </td>
                <td>
                    {{t.NAME}}
                </td>
                <td>
                    {{t.VENDOR}}
                </td>
                <td>
                    {{t.DESCRIPTION}}
                </td>
            </tr>
            <tr *ngIf="t.Fields[0].Field">
                <td></td>
                <td colspan="4" style="text-align: left; font-size: 10px;">
                    <div *ngFor="let f of t.Fields">
                        <ng-container *ngIf="f.To != f.From">
                            [{{f.Field}}] From <span style="color: purple">{{f.From || '(empty)'}}</span> To
                            <span style="color: purple">{{f.To || '(empty)'}}</span>
                        </ng-container>
                        <ng-container *ngIf="f.To == f.From">
                            [{{f.Field}}] = <span style="color: purple">{{f.From || '(empty)'}}</span>
                        </ng-container>                    
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


</p-dialog>