<p-table *ngIf="!loading; else elseBlock" [value]="viewDataList">
  <ng-template pTemplate="header">
    <tr class="line-height-4">
      <th>Name</th>
      <th>Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-viewData>
    <tr>
      <td style="width: 30%">{{ viewData.name }}</td>
      <td>
        <!-- DataBaseField-->
        <ng-container *ngIf="viewData.type === 'DataBaseField'">
          <ng-container *ngIf="viewData.filterType === 'boolean'">{{ viewData.value | boolean }}</ng-container>
          <ng-container *ngIf="viewData.filterType === 'date'">{{
            viewData.value | date : (viewData.format === '' ? undefined : viewData.format)
          }}</ng-container>
          <ng-container *ngIf="viewData.filterType === 'numeric'">{{
            viewData.value | numeral : (viewData.format === '' ? undefined : viewData.format)
          }}</ng-container>
          <ng-container *ngIf="viewData.filterType === 'text'">{{ viewData.value }}</ng-container>
        </ng-container>

        <!-- AttachmentField-->
        <ng-container *ngIf="viewData.type === 'AttachmentField'">
          <app-attachments
            [data]="viewData.value"
            [gridName]="gridName"
            [fieldName]="viewData.key"
            [showAll]="true"></app-attachments>
        </ng-container>

        <!-- TemplateField-->
        <ng-container *ngIf="viewData.type === 'TemplateField'">
          <span *ngIf="viewData.template" [innerHTML]="selectedRecords[0] | template : viewData.template"> </span>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
<ng-template #elseBlock>
  <div class="flex flex-wrap" *ngFor="let e of [].constructor(6)">
    <p class="w-4 px-2 my-2 py-1">
      <p-skeleton></p-skeleton>
    </p>
    <p class="w-8 px-2 my-2 py-1">
      <p-skeleton></p-skeleton>
    </p>
  </div>
</ng-template>
<ng-container *ngIf="updateHistories.length > 0">
  <p-divider styleClass="mt-4 font-bold">Update Histories</p-divider>
  <p-table
    [value]="updateHistories"
    sortField="createDate"
    sortMode="single"
    [sortOrder]="-1"
    [scrollable]="true"
    scrollHeight="350px"
    tableStyle="tableLayout: fiexd"
    rowGroupMode="subheader"
    groupRowsBy="createDate">
    <ng-template pTemplate="header">
      <tr class="line-height-4">
        <th>Field</th>
        <th>Original Value</th>
        <th>New Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-history>
      <tr pRowGroupHeader class="font-semibold">
        <td colspan="3">
          <span
            >{{ history.createDate | date : 'M/d/yyyy h:mm a' }} - {{ history.actionType === 0 ? 'ADD' : 'UPDATE' }} -
            by {{ history.username }}</span
          >
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-history let-rowIndex="rowIndex">
      <tr>
        <td class="pl-4">
          <span>{{ history.field }}</span>
        </td>
        <td class="w-20rem">
          <div
            style="max-width: 20rem"
            class="inline-block overflow-hidden white-space-nowrap text-overflow-ellipsis"
            [pTooltip]="
              history.filterType === 'boolean'
                ? (history.originalValue | boolean)
                : history.filterType === 'date'
                ? (history.originalValue | date)
                : history.filterType === 'numeric'
                ? (history.originalValue | numeral)
                : history.originalValue
            "
            tooltipPosition="top">
            <ng-container *ngIf="history.type === 'DataBaseField'">
              <ng-container *ngIf="history.filterType === 'boolean'">{{
                history.originalValue | boolean
              }}</ng-container>
              <ng-container *ngIf="history.filterType === 'date'">{{
                history.originalValue | date : (history.format === '' ? undefined : history.format)
              }}</ng-container>
              <ng-container *ngIf="history.filterType === 'numeric'">{{
                history.originalValue | numeral : (history.format === '' ? undefined : history.format)
              }}</ng-container>
              <ng-container *ngIf="history.filterType === 'text'">{{ history.originalValue }}</ng-container>
            </ng-container>
          </div>
        </td>
        <td class="w-20rem">
          <div
            style="max-width: 20rem"
            class="inline-block overflow-hidden white-space-nowrap text-overflow-ellipsis"
            [pTooltip]="
              history.filterType === 'boolean'
                ? (history.newValue | boolean)
                : history.filterType === 'date'
                ? (history.newValue | date)
                : history.filterType === 'numeric'
                ? (history.newValue | numeral)
                : history.newValue
            "
            tooltipPosition="top">
            <ng-container *ngIf="history.type === 'DataBaseField'">
              <ng-container *ngIf="history.filterType === 'boolean'">{{ history.newValue | boolean }}</ng-container>
              <ng-container *ngIf="history.filterType === 'date'">{{
                history.newValue | date : (history.format === '' ? undefined : history.format)
              }}</ng-container>
              <ng-container *ngIf="history.filterType === 'numeric'">{{
                history.newValue | numeral : (history.format === '' ? undefined : history.format)
              }}</ng-container>
              <ng-container *ngIf="history.filterType === 'text'">{{ history.newValue }}</ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
