<form [formGroup]="form">
  <div class="flex align-items-center">
    <p-multiSelect
      formControlName="validatorFormControl"
      class="mr-2 flex-grow-1"
      styleClass="w-full"
      appendTo="body"
      placeholder="Please Select"
      [showClear]="true"
      [options]="selectOptions"></p-multiSelect>

    <p-button
      class="ml-auto"
      title="Advanced Configuration"
      styleClass="p-button-text p-button-rounded"
      icon="pi pi-ellipsis-v"
      (onClick)="showDialog()"></p-button>
  </div>
  <p-dialog
    header="Advanced  Configuration"
    [(visible)]="visible"
    [style]="{ minWidth: '40rem' }"
    [modal]="true"
    [dismissableMask]="true"
    appendTo="body"
    contentStyleClass="border-top-1 surface-border pt-4 pb-0">
    <div #container class="dialog-content">
      <label class="line-height-3 flex align-items-center">Advanced </label>
      <ngx-monaco-editor
        *ngIf="visible"
        formControlName="expressionFormControl"
        class="pt-3 border-round monaco-editor-wrapper"
        [options]="{ language: 'javascript' }"></ngx-monaco-editor>
      <label>message </label>
      <input
        class="w-full mt-2 mb-2"
        rows="5"
        pInputText
        formControlName="messageFormControl"
        placeholder="Enter a value" />
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-times"
        (onClick)="onCancel()"
        label="Cancle"
        styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" (onClick)="onOk()" label="Ok"></p-button>
    </ng-template>
  </p-dialog>
</form>
