<form [formGroup]="form">
  <div class="flex align-items-center">
    <p-multiSelect
      #select
      formControlName="validatorFormControl"
      class="mr-1 flex-grow-1"
      styleClass="w-full"
      appendTo="body"
      placeholder="Please Select"
      [showHeader]="false"
      [filter]="false"
      display="chip"
      [options]="selectOptions">
      <ng-template let-value pTemplate="selectedItems">
        <div
          *ngFor="let item of value; let i = index"
          class="p-multiselect-token">
          <span class="p-multiselect-token-label">{{
            select.findLabelByValue(item)
          }}</span>
          <span
            *ngIf="!select.disabled"
            class="p-multiselect-token-icon pi pi-times-circle"
            (click)="select.removeChip(item, $event)"></span>
        </div>
        <ng-container *ngIf="hasAdvanceData">
          <div class="p-multiselect-token">
            <span class="p-multiselect-token-label">Advanced</span>
            <span
              class="p-multiselect-token-icon pi pi-times-circle"
              (click)="removeAdvance()"></span>
          </div>
        </ng-container>
        <ng-container
          #empty
          *ngIf="(!value || value.length === 0) && !hasAdvanceData"
          >{{
            select.placeholder || select.defaultLabel || 'empty'
          }}</ng-container
        >
      </ng-template>
    </p-multiSelect>

    <p-button
      class="ml-auto"
      title="Advanced Configuration"
      styleClass="p-button-text p-button-rounded"
      icon="pi pi-ellipsis-v"
      (onClick)="showDialog()"></p-button>
  </div>
  <p-dialog
    header="Advanced  Configuration"
    [(visible)]="visible"
    [style]="{ minWidth: '40rem' }"
    [modal]="true"
    [dismissableMask]="true"
    appendTo="body"
    contentStyleClass="border-top-1 surface-border pt-4 pb-0">
    <div #container class="dialog-content">
      <div class="mb-3">
        <label class="line-height-2 mb-1 flex align-items-center"
          >Javascript Expression
        </label>
        <ngx-monaco-editor
          *ngIf="visible"
          formControlName="expressionFormControl"
          class="pt-3 border-round monaco-editor-wrapper"
          (onInit)="onMonacoEditorInit($event)"
          [options]="{ language: 'javascript' }"></ngx-monaco-editor>
      </div>
      <label class="line-height-3 flex align-items-center">Message </label>
      <input
        class="w-full mb-2"
        rows="5"
        pInputText
        formControlName="messageFormControl"
        placeholder="Enter a value" />
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-times"
        (onClick)="onCancel()"
        label="Cancle"
        styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" (onClick)="onOk()" label="Ok"></p-button>
    </ng-template>
  </p-dialog>
</form>
