<p-splitter #splitter layout="vertical" class="h-full">
  <ng-template pTemplate>
    <app-table
      *ngIf="primaryTableName"
      #primaryTable
      class="flex-grow-1"
      headerSize="compact"
      [gridName]="primaryTableName"
      (rowClick)="onPrimaryRowClick($event)"
      (resetData)="onPrimaryRowClear()"></app-table>
  </ng-template>
  <ng-template pTemplate>
    <app-table
      *ngIf="secondaryTableName"
      #secondaryTable
      class="flex-grow-1"
      headerSize="compact"
      [gridName]="secondaryTableName"
      (rowClick)="onSecondaryRowClick($event)"
      (resetData)="onSecondaryRowClear()"></app-table>
  </ng-template>
</p-splitter>
