<p-splitter #splitter layout="vertical" class="h-full">
  <ng-template pTemplate>
    <app-table
      *ngIf="primaryTableName"
      #primaryTable
      class="flex-grow-1"
      headerSize="compact"
      [gridName]="primaryTableName"
      selectionMode="single"
      (rowSelect)="onPrimaryRowSelect($event)"></app-table>
  </ng-template>
  <ng-template pTemplate>
    <app-table
      *ngIf="secondaryTableName"
      #secondaryTable
      class="flex-grow-1"
      headerSize="compact"
      [gridName]="secondaryTableName"
      selectionMode="single"
      (rowSelect)="onSecondaryRowSelect($event)"></app-table>
  </ng-template>
</p-splitter>
