<p-dialog
  header="Event Log Details"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [modal]="true"
  contentStyleClass="border-top-1 surface-border pt-4"
  appendTo="body">
  <p-table
    *ngIf="!loading; else elseBlock"
    [value]="viewData"
    [rowHover]="true"
    styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th [style.width.rem]="9">Name</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-viewData>
      <tr>
        <td>{{ viewData.name }}</td>
        <td>
          <ng-container>
            <ng-container *ngIf="viewData.name === 'eventTime'">
              {{ viewData.value | date : 'dd/MM/yyyy HH:mm:ss' }}
            </ng-container>
            <ng-container *ngIf="viewData.name !== 'eventTime'">
              {{ viewData.value }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #elseBlock>
    <div class="flex flex-wrap" *ngFor="let e of [].constructor(9)">
      <p class="w-4 px-2 my-2 py-1">
        <p-skeleton></p-skeleton>
      </p>
      <p class="w-8 px-2 my-2 py-1">
        <p-skeleton></p-skeleton>
      </p>
    </div>
  </ng-template>
</p-dialog>
