<p-dialog
  header="Event Log Details"
  [(visible)]="visible"
  [style]="{ width: '60rem' }"
  [modal]="true"
  contentStyleClass="border-top-1 surface-border pt-4"
  appendTo="body">
  <p-table
    *ngIf="!loading; else elseBlock"
    [value]="viewData"
    [rowHover]="true"
    [tableStyle]="{ 'table-layout': 'fixed' }"
    styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%">Name</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-viewData>
      <tr *ngIf="viewData.value">
        <td>{{ viewData.name }}</td>
        <td style="word-break: break-all">
          <ng-container>
            <ng-container *ngIf="viewData.name === 'Event time'">
              {{ viewData.value | date : 'M/d/yyyy h:mm a' }}
            </ng-container>
            <ng-container
              *ngIf="viewData.name !== 'Event time' && viewData.name !== 'Details' && viewData.name !== 'Params'">
              {{ viewData.value }}
            </ng-container>
            <ng-container *ngIf="viewData.name === 'Details'">
              <ngx-monaco-editor
                #editorSql
                [ngModel]="viewData.value"
                class="monaco-editor-readonly border-none display-only overflow-hidden"
                [options]="sqlConfig"
                (onInit)="onMonacoInit($event, editorSql)"></ngx-monaco-editor>
            </ng-container>
            <ng-container *ngIf="viewData.name === 'Params'">
              <ngx-monaco-editor
                #editorJson
                [ngModel]="viewData.value"
                class="monaco-editor-readonly border-none display-only overflow-hidden"
                [options]="jsonConfig"
                (onInit)="onMonacoInit($event, editorJson)"></ngx-monaco-editor>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #elseBlock>
    <div class="flex flex-wrap" *ngFor="let e of [].constructor(9)">
      <p class="w-4 px-2 my-2 py-1">
        <p-skeleton></p-skeleton>
      </p>
      <p class="w-8 px-2 my-2 py-1">
        <p-skeleton></p-skeleton>
      </p>
    </div>
  </ng-template>
</p-dialog>
