<p-dialog
  [header]="header"
  [(visible)]="visible"
  [style]="step === 1 ? { width: '40rem', minHeight: '25rem' } : { width: '50rem', height: '35rem' }"
  [modal]="true"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0"
  appendTo="body">
  <div #container class="dialog-content">
    <!-- Select File -->
    <div *ngIf="step === 1">
      <div class="mb-4">
        <label class="line-height-3 flex align-items-center">Select folder of the import</label>
        <p-dropdown
          styleClass="w-full"
          [options]="options"
          [required]="true"
          [formControl]="parentFolderControl"
          appendTo="body"
          placeholder="Please Select"></p-dropdown>
      </div>
      <p class="mb-3">Please select package to be imported.</p>
      <!-- <label class="line-height-3 flex align-items-center">Upload File</label> -->
      <div class="upload-label flex pb-3">
        <p-fileUpload
          class="flex-none max-w-full"
          #upload
          name="files"
          styleClass="p-button-outlined "
          chooseIcon="pi pi-upload"
          mode="basic"
          accept=".zip,.rar"
          [url]="apiUrl + 'attachment/upload-temp-file'"
          [auto]="true"
          [maxFileSize]="20 * 1000 * 1000"
          (onProgress)="onFileUploadProgress($event)"
          (onSelect)="onSelect($event)"
          (onUpload)="onUpload($event)"
          (onError)="onUploadError($event, upload)"
          [chooseLabel]="'Select package'">
        </p-fileUpload>

        <p-progressBar
          *ngIf="progress > 0 && !file?.fileName"
          [value]="progress"
          class="flex-grow-1 ml-2"
          styleClass="h-full"></p-progressBar>
        <p-button
          *ngIf="file?.fileName"
          icon="pi pi-file"
          [link]="true"
          styleClass="flex-nowrap"
          [label]="fileLabel"></p-button>
      </div>
    </div>

    <div *ngIf="step === 2" class="preview-data flex flex-column overflow-auto">
      <p class="mb-3">
        Please select the objects to import. Existing objects are marked with a warning and will be overwritten if
        checked.
      </p>
      <p-table
        class="data-table overflow-auto"
        [value]="dataSource"
        [selectionMode]="'multiple'"
        [rowHover]="true"
        [(selection)]="selection"
        [showCurrentPageReport]="false"
        scrollHeight="flex"
        [scrollable]="true">
        <ng-template pTemplate="header">
          <tr>
            <th [style.width]="'3rem !important'">
              <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
            </th>
            <th [style.width]="'13rem !important'">Type</th>
            <th>Display name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-infoList>
          <tr [pHighlightRow]="infoList">
            <td>
              <p-tableCheckbox
                [disabled]="disableRow(infoList)"
                [index]="infoList.key"
                [value]="infoList"
                (click)="onRowCheckBoxClick($event)"></p-tableCheckbox>
            </td>
            <td>{{ infoList.type }}</td>
            <td style="vertical-align: middle">
              {{ infoList.displayName }}
              <i
                *ngIf="infoList.exist"
                class="fa-solid fa-triangle-exclamation ml-3 text-lg text-yellow-500"
                pTooltip=" Object exists and will be overwritten, if checked.
                ">
              </i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <div>
        <p-button *ngIf="step !== 1" icon="pi pi-angle-left" (onClick)="onBack()" label="Back" [text]="true"></p-button>
      </div>
      <div>
        <p-button
          *ngIf="cancelText"
          icon="pi pi-times"
          (onClick)="onCancel()"
          [label]="cancelText"
          [text]="true"></p-button>
        <p-button
          [iconPos]="step === 2 ? 'left' : 'right'"
          [icon]="'pi ' + (step === 2 ? 'pi-check' : 'pi-angle-right')"
          [disabled]="validDisabled() || isLoading"
          (onClick)="onOk()"
          [label]="step === 2 ? 'Import' : 'Next'"
          [loading]="isLoading"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
