<form [formGroup]="form">
  <div class="flex align-items-center">
    <p-dropdown
      *ngIf="!hasAdvanceData"
      formControlName="nameFormControl"
      class="mr-1 flex-grow-1"
      styleClass="w-full"
      appendTo="body"
      placeholder="Please Select"
      [showClear]="true"
      [options]="selectOptions">
    </p-dropdown>
    <p-message
      *ngIf="hasAdvanceData"
      severity="info"
      text="Use Query Text"
      styleClass="mr-1 cursor-pointer"
      (click)="showDialog()"></p-message>
    <p-button
      *ngIf="hasAdvanceData"
      styleClass="p-button-text p-button-rounded remove-btn"
      icon="pi pi-times-circle"
      (onClick)="onRemove()"></p-button>

    <p-button
      class="ml-auto"
      title="Advanced Configuration"
      styleClass="p-button-text p-button-rounded"
      icon="pi pi-ellipsis-v"
      (onClick)="showDialog()"></p-button>
  </div>
  <p-dialog
    header="Advanced Query Configuration"
    [(visible)]="visible"
    [style]="{ minWidth: '50rem' }"
    [modal]="true"
    appendTo="body"
    contentStyleClass="border-top-1 surface-border pt-4 pb-0">
    <div #container class="dialog-content">
      <div class="mb-3">
        <label class="line-height-3 flex align-items-center">Query Type </label>
        <p-dropdown
          styleClass="w-full"
          [options]="typeOptions"
          [showClear]="true"
          (onClear)="onClear()"
          formControlName="typeFormControl"
          placeholder="Please Select"></p-dropdown>
      </div>
      <label class="line-height-2 mb-1 flex align-items-center"
        >Query Text
      </label>
      <ngx-monaco-editor
        *ngIf="visible"
        formControlName="queryTextFormControl"
        [style]="{ minWidth: '50rem', minHeight: '20rem' }"
        class="pt-3 border-round monaco-editor-wrapper"
        [placeholder]="helperMessage"
        [options]="{}"></ngx-monaco-editor>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-times"
        (onClick)="onCancel()"
        label="Cancle"
        styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" (onClick)="onOk()" label="Ok"></p-button>
    </ng-template>
  </p-dialog>
</form>
