<p-accordion [multiple]="false">
  <p-accordionTab header="CATEGORY 1" [selected]="true">
    <p-table [value]="permissions" [(selection)]="permisstionSelect">
      <ng-template pTemplate="body" let-permission>
        <tr>
          <td>
            <p-tableCheckbox [value]="permission.key"></p-tableCheckbox>
          </td>

          <td>
            <span> {{ permission.key }} </span>
          </td>
          <td>
            <span> {{ permission.desc }} </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="CATEGORY 2"> Content 2 </p-accordionTab>
  <p-accordionTab header="CATEGORY 3">
    <p-table [value]="permissions">
      <ng-template pTemplate="body" let-permission>
        <tr>
          <td>
            <p-tableCheckbox [value]="permission"></p-tableCheckbox>
          </td>

          <td>
            <span> PERMISSIONDESCRIPTION </span>
          </td>
          <td>
            <span> {{ permission.desc }} </span>
          </td>
        </tr>
      </ng-template>
    </p-table></p-accordionTab
  >
</p-accordion>
