<p-dialog
  header="Advanced Query Configuration"
  [(visible)]="advanceDialogVisible"
  [style]="{ minWidth: '70rem' }"
  [modal]="true"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0 advanced-query-dialog">
  <div #container class="dialog-content">
    <div class="flex flex-column">
      <label class="line-height-2 flex align-items-center mb-1"
        >Query text
        <i
          class="pi pi-question-circle ml-3 text-lg"
          [escape]="false"
          tooltipStyleClass="advanced-query-tooltip"
          [pTooltip]="
            'Enter the query text for fetching the data. <br>' +
            'Use helper macros: <br><br>' +
            '##WHERE## : placeholder for Where expressions<br>' +
            '##ORDERBY## : placeholder for Order By expressions<br>' +
            '##SEARCHES## : placeholder for Search Criteria<br>' +
            '##FILTERS## : placeholder for Column Filters.'
          "></i>
      </label>
      <ngx-monaco-editor
        [formControl]="formControlQuery"
        [style]="{ minWidth: '40rem', height: '25rem' }"
        [required]="true"
        [placeholder]="helperMessage"
        class="pt-3 border-round monaco-editor-wrapper overflow-hidden"
        [options]="{}"></ngx-monaco-editor>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onAdvanceDialogCancel()"
      label="Cancel"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      [loading]="loading"
      (onClick)="onAdvanceDialogOk()"
      label="Ok"></p-button>
  </ng-template>
</p-dialog>
