<div class="mt-3">
  <div class="inline-block">
    <p class="line-height-3">{{ labelName }}</p>
    <p-dropdown
      [formControl]="formControlType"
      styleClass="w-15rem"
      appendTo="body"
      [showClear]="true"
      placeholder="Please Select"
      (onClear)="onClear()"
      [options]="typeOptions"></p-dropdown>
  </div>

  <div *ngIf="isJs" class="inline-block ml-7">
    <p class="line-height-3">Select One Action Handler</p>
    <p-dropdown
      [formControl]="formControlText"
      styleClass="w-15rem"
      appendTo="body"
      [showClear]="true"
      placeholder="Please Select"
      [options]="jsOptions"></p-dropdown>
  </div>

  <ngx-monaco-editor
    *ngIf="!isJs && formControlType.value"
    [formControl]="formControlText"
    [style]="{ height: '20rem' }"
    [placeholder]="helperMessage"
    class="pt-3 mt-3 border-round monaco-editor-wrapper overflow-hidden"
    [options]="{ language,lineNumbers: 'off' }"></ngx-monaco-editor>
</div>
