<div class="flex align-items-center justify-content-between">
  <div class="flex">
    <p-message
      *ngIf="!innerValue"
      class="cursor-pointer"
      severity="warn"
      text="Not Configured"></p-message>
    <p-message
      *ngIf="innerValue"
      class="cursor-pointer"
      severity="success"
      text="Configured"
      (click)="showDialog()"></p-message>

    <p-button
      *ngIf="innerValue"
      styleClass="p-button-text p-button-rounded remove-btn"
      icon="pi pi-times-circle"
      (onClick)="removeConfig()"></p-button>
  </div>

  <p-button
    *ngIf="!innerValue"
    styleClass="p-button-outlined"
    (onClick)="showDialog()"
    >Configure</p-button
  >
</div>
<p-dialog
  [(visible)]="visible"
  [style]="{ minWidth: '50rem' }"
  [modal]="true"
  header="Fields Mapping"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border pt-4 pb-0">
  <div #container class="dialog-content">
    <div class="flex justify-content-between">
      <div class="flex flex-column mb-3">
        <label for="" class="mb-1">Field Name</label>
        <div class="flex align-items-center">
          <input
            type="text"
            pInputText
            [ngModel]="'From'"
            [disabled]="true"
            [style]="{ minWidth: '20rem' }" />
        </div>
      </div>
      <div class="flex flex-column mb-3">
        <ng-container>
          <label for="tableName" class="mb-1">Map To</label>
          <div class="flex align-items-center">
            <p-dropdown
              [formControl]="formControlFrom"
              class="mr-1 flex-grow-1"
              [style]="{ minWidth: '20rem' }"
              appendTo="body"
              placeholder="Please Select"
              [showClear]="true"
              [options]="filedMapping">
            </p-dropdown>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="flex justify-content-between">
      <div class="flex flex-column mb-3">
        <label for="" class="mb-1"></label>
        <div class="flex align-items-center">
          <input
            type="text"
            pInputText
            [ngModel]="locationType === 2 ? 'Measure' : ' From Measure'"
            [disabled]="true"
            [style]="{ minWidth: '20rem' }" />
        </div>
      </div>
      <div class="flex flex-column mb-3">
        <ng-container>
          <label for="tableName" class="mb-1"></label>

          <div class="flex align-items-center">
            <p-dropdown
              [formControl]="formControlFromMeasure"
              class="mr-1 flex-grow-1"
              [style]="{ minWidth: '20rem' }"
              appendTo="body"
              placeholder="Please Select"
              [showClear]="true"
              [options]="filedMapping">
            </p-dropdown>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="flex justify-content-between" *ngIf="locationType !== 2">
      <div class="flex flex-column mb-3">
        <label for="" class="mb-1"></label>
        <div class="flex align-items-center">
          <input
            type="text"
            pInputText
            [ngModel]="'To'"
            [disabled]="true"
            [style]="{ minWidth: '20rem' }" />
        </div>
      </div>
      <div class="flex flex-column mb-3">
        <ng-container>
          <label for="tableName" class="mb-1"></label>

          <div class="flex align-items-center">
            <p-dropdown
              [formControl]="formControlTo"
              class="mr-1 flex-grow-1"
              [style]="{ minWidth: '20rem' }"
              appendTo="body"
              placeholder="Please Select"
              [showClear]="true"
              [options]="filedMapping">
            </p-dropdown>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="flex justify-content-between" *ngIf="locationType !== 2">
      <div class="flex flex-column mb-3">
        <label for="" class="mb-1"></label>
        <div class="flex align-items-center">
          <input
            type="text"
            pInputText
            [ngModel]="'To Measure'"
            [disabled]="true"
            [style]="{ minWidth: '20rem' }" />
        </div>
      </div>
      <div class="flex flex-column mb-3">
        <ng-container>
          <label for="tableName" class="mb-1"></label>

          <div class="flex align-items-center">
            <p-dropdown
              [formControl]="formControlToMeasure"
              class="mr-1 flex-grow-1"
              [style]="{ minWidth: '20rem' }"
              appendTo="body"
              placeholder="Please Select"
              [showClear]="true"
              [options]="filedMapping">
            </p-dropdown>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      label="Cancle"
      styleClass="p-button-text"
      (onClick)="visible = false"></p-button>
    <p-button icon="pi pi-check" label="Save" (onClick)="onSave()"></p-button>
  </ng-template>
</p-dialog>
