<div class="navbar">
  <div class="container-fluid">
    <div style="display: flex; align-items: center;">
      <a> <img src="assets/Images/cnp.png" style="height: 40px; margin: 5px" /> </a>
      <div class="Title">GIS Work Order Tracking System (WOTS)</div>

      <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']">Home</a>
      <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/about']">About</a>
      <a class="nav-link text-dark" [routerLinkActive]="['link-active']" [routerLink]="['/contact']">Contact</a>
      <span style="color: red;" [title]="siteInfo?.WebHeaderDescription">{{siteInfo?.WebHeaderMessage}}</span>
    </div>
    <div style="text-align: right;">
      {{userService.USER?.DisplayName}}<div title="Edit Your Profile" class="profileButton"  (click)="openUserProfile()"></div>
      <span style="font-size: 10px; display: block">{{userService.USER?.Username}}, {{userService.USER?.Vendor || "Vendor N/A"}}</span>
    </div>
  </div>

  <div class="container-fluid g-0">
    <div class="menuPanel">
      


      <div class="menuBtn" [title]="menu.title" *ngFor="let menu of menuConfig.data"   >
        <img *ngIf="appDataService.currentTool != menu.name" [src]="menu.img"
          (click)="appDataService.activateTool(menu.name)" class="toolspanelIcon" />
        <div class="menuBtn active" *ngIf="appDataService.currentTool==menu.name">
          <img [src]="menu.activeImg" class="toolspanelIcon" />
          <span>{{menu.name}}</span>
        </div>
      </div>

     
    

      <!--
        <div class="menuBtn btn btn-default tooltip" title="Gas Facilities Work Orders"
          ng-click="ActivateTool('SyncStatus')" ng-show="panelFlag[shareData.panel.sync]"
          ng-class="{ active: currentTool == 'SyncStatus' }">
          <img ng-if="currentTool!='SyncStatus'" src="assets/Images/icon2.png" class="toolspanelIcon" /> <img
            ng-if="currentTool=='SyncStatus'" src="assets/Images/icon2_1.png" class="toolspanelIcon" />
          <span ng-show="currentTool == 'SyncStatus'">Gas Facilities Work Orders</span>
        </div>

        <div class="menuBtn btn btn-default tooltip" title="Electric Facilities Work Orders"
          ng-click="ActivateTool('Sort')" ng-show="panelFlag[shareData.panel.sortTab]"
          ng-class="{ active: currentTool == 'Sort' }">
          <img ng-if="currentTool!='Sort'" src="assets/Images/icon3.png" class="toolspanelIcon" />
          <img ng-if="currentTool=='Sort'" src="assets/Images/icon3_1.png" class="toolspanelIcon" />
          <span ng-show="currentTool == 'Sort'">Electric Facilities Work Orders</span>
        </div>

        <div class="menuBtn btn btn-default tooltip" title="Major Underground Work Orders"
          ng-click="ActivateTool('PullSheet')" ng-show="panelFlag['PullSheet']"
          ng-class="{ active: currentTool == 'PullSheet' }">
          <img ng-if="currentTool!='PullSheet'" src="assets/Images/icon4.png" class="toolspanelIcon" /> <img
            ng-if="currentTool=='PullSheet'" src="assets/Images/icon4_1.png" class="toolspanelIcon" />
          <span ng-show="currentTool == 'PullSheet'">Major Underground Work Orders</span>
        </div>
        <div class="menuBtn btn btn-default tooltip" title="Data Corrections" ng-click="ActivateTool('search')"
          ng-class="{ active: currentTool == 'search' }">
          <img ng-if="currentTool!='search'" src="assets/Images/icon5.png" class="toolspanelIcon" />
          <img ng-if="currentTool=='search'" src="assets/Images/icon5_1.png" class="toolspanelIcon" />
          <span ng-show="currentTool == 'search'">Data Corrections</span>
        </div>

        <div class="menuBtn btn btn-default tooltip" title="Batch Processing" ng-click="ActivateTool('Track')"
          ng-class="{ active: currentTool == 'Track' }">
          <img ng-if="currentTool!='Track'" src="assets/Images/icon6.png" class="toolspanelIcon" style="padding: 2px" />
          <img ng-if="currentTool=='Track'" src="assets/Images/icon6_1.png" class="toolspanelIcon"
            style="padding: 2px" />
          <span ng-show="currentTool == 'Track'">Batch Processing</span>
        </div>

        <div class="menuBtn btn btn-default tooltip" title="Reports" ng-click="ActivateTool('MATProcess')"
          ng-show="panelFlag['StatAnalysis']" ng-class="{ active: currentTool == 'MATProcess' }">
          <img ng-if="currentTool!='MATProcess'" src="assets/Images/icon7.png" class="toolspanelIcon"
            style="padding: 2px" /> <img ng-if="currentTool=='MATProcess'" src="assets/Images/icon7_1.png"
            class="toolspanelIcon" style="padding: 2px" />
          <span ng-show="currentTool == 'MATProcess'">Reports</span>
        </div>

        <div class="menuBtn btn btn-default tooltip" title="Reviews" ng-click="ActivateTool('MAOPBasisReview')"
          ng-show="panelFlag['StatAnalysis']" ng-class="{ active: currentTool == 'MAOPBasisReview' }">
          <img ng-if="currentTool!='MAOPBasisReview'" src="assets/Images/icon9.png" class="toolspanelIcon"
            style="padding: 2px" /> <img ng-if="currentTool=='MAOPBasisReview'" src="assets/Images/icon9_1.png"
            class="toolspanelIcon" style="padding: 2px" />
          <span ng-show="currentTool == 'MAOPBasisReview'">Reviews</span>
        </div>
        <button class="headerButton" id="addNewRecordID" ng-click="SubmitNewDataCorrection('')">
          Submit New Data Correction
        </button> -->
    </div>
  </div>
</div>
<app-user-manager-dialogs></app-user-manager-dialogs>