.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.Title {
  font-size: 20px;
  font-weight: bold;
  color: #009ada;
  padding: 0.5rem 1rem;
}

.link-active {
  font-weight: bold;
}

.toolspanelIcon {
  width: 24px;
  height: 24px;
}

.menuPanel {
  width: 100%;
  background-color: #009ada;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.menuPanel .menuBtn {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  vertical-align: middle;
}

.menuPanel .menuBtn img {
  max-height: 32px;
  margin: 2px;
}

.menuPanel .menuBtn:hover {
  background-color: gray;
}

.menuPanel .menuBtn.active {
  background-color: #ddd;
  padding: 0 10px;
  font-size: 12px;
}

.menuPanel .menuBtn.active span {
  vertical-align: middle;
  margin-left: 3px;
}
