<div style="margin: 15px">
    <h3>About WOTS</h3>

    <p>
        The Work Order Tracking System (WOTS) was originally created for CenterPoint Energy (CNP) GIS employees to track
        the work order flow, but now it is widely used by GIS, Work Order Management (WOM), Operation, Engineering,
        Compliance, and Leadership to track Gas, Electric, Major Underground and Landbase requests, work orders and data
        corrections submitted for digitizing into GIS. Requests are primarily submitted by internal company employees as
        work orders to digitize. CNP and Contract personnel use the application for data entry, QC, problem resolution,
        work assignment, progress tracking and reporting.
    </p>

    <div>
        <p>

            <b>Supported internet browsers for WOTS are Microsoft Edge and Google Chrome. Do not use Internet Explorer
                to access this site.</b>

        </p>
        <img src="assets/Images/ie.png" style="width: 75px;" title="Microsoft Edge Browser" />
        <img src="assets/Images/chrome.png" title="Google Chrome Browser" />
    </div>
</div>