<header class="header flex flex-nowarp justify-content-between bg-primary">
  <div class="flex justify-content-center align-items-center">
    <img
      src="assets/Images/cnp.png"
      style="height: 2.857rem; margin: 0.357rem; width: 20rem" />

    <div
      class="page-link flex m-2 justify-content-center align-items-center ml-6">
      <span class="cursor-pointer" [routerLink]="['/']">Home</span>
      <span class="cursor-pointer" [routerLink]="['/about']">About</span>
      <span class="cursor-pointer" [routerLink]="['/contact']">Contact</span>
    </div>
  </div>
  <!-- <div class="username flex flex-column">
    <div>username<img src="assets/Images/edit.png" class="edit-img" /></div>
    <p>description</p>
  </div> -->
  <div class="flex justify-content-center align-items-center w-2">
    <p-button
      icon="pi pi-search"
      class="p-button-rounded p-button-text"></p-button>
    <p-button
      icon="pi pi-bell"
      class="p-button-rounded p-button-text"></p-button>
    <p-button
      icon="pi pi-table"
      class="p-button-rounded p-button-text"></p-button>
    <p-avatar
      image="https://www.primefaces.org/ultima-ng/assets/demo/images/avatar/amyelsner.png"
      styleClass="mr-2"
      class="ml-2"
      shape="circle"></p-avatar>
  </div>
</header>
