<header class="header flex flex-nowarp justify-content-between bg-primary">
  <div class="flex justify-content-center align-items-center">
    <img src="assets/Images/cnp.png" style="height: 40px; margin: 5px" />

    <div class="page-link flex m-2 justify-content-center align-items-center">
      <a>Home</a>
      <a>About</a>
      <a>Contact</a>
    </div>
  </div>
  <div class="username flex flex-column">
    <div>username<img src="assets/Images/edit.png" class="edit-img" /></div>
    <p>description</p>
  </div>
</header>
