<div *ngIf="step === 1" class="mb-3">
  <div class="mb-3">
    <p-button
      icon="pi pi-file"
      (onClick)="onNewImport()"
      styleClass="p-button-outlined"
      label="New Import"></p-button>
  </div>

  <p-table
    [value]="importFileList"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries  ">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="name"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
        <th pSortableColumn="createByUser">
          Create By User <p-sortIcon field="createByUser"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="createByUser"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
        <th pSortableColumn="createdDate">
          Create Date <p-sortIcon field="createdDate"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="createdDate"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
        <th pSortableColumn="status">
          Status <p-sortIcon field="status"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="status"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fileList>
      <tr>
        <td>{{ fileList.name }}</td>
        <td>{{ fileList.createByUser }}</td>
        <td>{{ fileList.createdDate | date : 'dd/MM/YYYY HH:mm:ss' }}</td>
        <td>
          <app-import-status
            [rowData]="fileList"
            [gridName]="gridName"
            [file]="file"></app-import-status>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-lg text-center" [attr.colspan]="6">
          No records found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="step === 2">
  <div class="upload-label flex align-items-center mb-3">
    <span
      ><label class="line-height-3">Download Template</label
      ><i
        class="pi pi-question-circle ml-2"
        pTooltip="Please download the template first and then import it."
        [hideDelay]="500"
        [escape]="false"></i
    ></span>
    <p-button
      icon="pi pi-file"
      (onClick)="onDownloadTemplate()"
      styleClass="p-button-outlined w-auto"
      label="Download"></p-button>
  </div>

  <div class="upload-label flex align-items-center mb-3">
    <span class="line-height-3">Import Excel</span>
    <p-fileUpload
      #upload
      name="files"
      styleClass="w-auto"
      [url]="apiUrl + 'attachment/upload-temp-file'"
      mode="basic"
      [auto]="false"
      [maxFileSize]="5000000"
      [fileLimit]="1"
      accept=".xls,.xlsx,.xlsm,.xlsb,.xml,.csv"
      (onSelect)="onSelect($event, upload)"
      (onUpload)="onUpload($event)"
      (onError)="onUploadError($event, upload)"
      [chooseLabel]="file?.fileName ?? 'Upload'"></p-fileUpload>
  </div>
</div>

<div *ngIf="step === 3" class="flex flex-column">
  <p-button
    *ngFor="let data of statusList"
    (onClick)="onShowInfo(data.status)"
    [styleClass]="
      data.status === 1
        ? 'p-button-text p-button-success'
        : data.status === 0
        ? 'p-button-text p-button-danger'
        : 'p-button-text p-button-warning'
    "
    label="There are {{ data.data.length }} data {{
      data.status === 0 ? 'Error' : data.status === 1 ? 'Success' : 'Warning'
    }} in total."></p-button>
  <p-button
    *ngIf="infoList && infoList.length > 0"
    (onClick)="onShowInfo(-1)"
    styleClass="p-button-text"
    label="All {{ infoList.length }}  Information."></p-button>
  <div *ngIf="infoList && infoList.length > 0">
    <p-divider>Information Data</p-divider>
    <p-table
      class="data-table"
      [value]="infoList"
      [paginator]="true"
      [rows]="10"
      [columns]="columns"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 20]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries  ">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [pSortableColumn]="col.header"
            [style.min-width]="'12rem !important'">
            <span style="vertical-align: middle">{{ col.header }}</span>
            <p-sortIcon [field]="col.header"></p-sortIcon>
            <p-columnFilter
              style="vertical-align: middle"
              type="text"
              [field]="col.header"
              display="menu"
              [hideOnClear]="true"
              [showOperator]="false"
              [showAddButton]="false"
              [maxFractionDigits]="4"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-infoList let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container
              [ngTemplateOutlet]="
                col.header === 'status' ? status : normal
              "></ng-container>

            <ng-template #status>
              <p-tag
                [severity]="
                  infoList.status === 3
                    ? 'danger'
                    : infoList.status === 1
                    ? 'success'
                    : 'warning'
                "
                >{{
                  infoList.status === 3
                    ? 'Error'
                    : infoList.status === 1
                    ? 'Success'
                    : 'Loading'
                }}</p-tag
              >
            </ng-template>
            <ng-template #normal
              ><div
                [class]="
                  (col.header | hasError : infoList?.errors) ? 'hasError' : null
                "
                [pTooltip]="(col.header | hasError : infoList?.errors) ?? ''">
                {{ infoList[col.header] }}
              </div></ng-template
            >
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="dialog-footer flex justify-content-between">
  <div>
    <p-button
      *ngIf="step !== 1"
      icon="pi pi-angle-left"
      (onClick)="onBack()"
      label="Back"
      styleClass="p-button-text"></p-button>
  </div>
  <div>
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancel"
      styleClass="p-button-text"></p-button>
    <p-button
      *ngIf="step !== 1"
      [disabled]="validDisabled(currentStep) || isLoading"
      icon="pi pi-check"
      (onClick)="onOk()"
      [label]="okLabel"
      [loading]="isLoading"></p-button>
  </div>
</div>
