<div *ngIf="step === 1" class="import-history">
  <div class="flex justify-content-between mb-3">
    <div>
      <p-button
        icon="pi pi-file-import"
        (onClick)="onNewImport('Add')"
        styleClass="p-button-outlined"
        label="New Batch Add"></p-button>
      <p-button
        class="ml-3"
        icon="pi pi-file-edit"
        (onClick)="onNewImport('Update')"
        styleClass="p-button-outlined"
        label="New Batch Update"></p-button>
    </div>
    <div>
      <p-button
        icon="pi pi-refresh text-lg"
        styleClass="p-button-rounded p-button-outlined mr-1"
        (onClick)="refresh()"></p-button>
    </div>
  </div>

  <p-table
    [value]="importFileList"
    [paginator]="importFileList.length > 0"
    [rows]="5"
    [scrollable]="true"
    scrollHeight="flex"
    [showCurrentPageReport]="false">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="name"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
        <th pSortableColumn="importType">
          Import Type <p-sortIcon field="importType"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="importType"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
        <th pSortableColumn="createdByUser">
          Created By<p-sortIcon field="createdByUser"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="createdByUser"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>
        <th pSortableColumn="createdDate">
          Created Date <p-sortIcon field="createdDate"></p-sortIcon>
          <p-columnFilter
            style="vertical-align: middle"
            type="text"
            field="createdDate"
            display="menu"
            [hideOnClear]="true"
            [showOperator]="false"
            [showAddButton]="false"
            [maxFractionDigits]="4"></p-columnFilter>
        </th>

        <th pSortableColumn="status">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fileList>
      <tr>
        <td>{{ fileList.name }}</td>
        <td>
          <p-tag>{{ fileList.importType }}</p-tag>
        </td>
        <td>{{ fileList.createdByUser }}</td>
        <td>{{ fileList.createdDate | date : 'M/d/yyyy h:mm a' }}</td>
        <td>
          <app-import-status
            [rowData]="fileList"
            [gridName]="gridName"
            [file]="file"></app-import-status>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="h-10rem empty-message">
        <td class="text-lg text-center" [attr.colspan]="6">
          No records found.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <div *ngIf="step !== 1">
  <h2>Batch of {{ stepType }}</h2>
</div> -->

<div *ngIf="step === 2" class="overflow-auto pt-4">
  <p class="mb-3 w-6">
    To use the Excel Data Import feature, you will need the following:
  </p>
  <div class="mb-3 w-6">
    <ul class="pl-3">
      <li>
        To get started quickly, download the template provided, open it in Excel
        (or equivalent) and edit the file.
      </li>
    </ul>
  </div>

  <div class="upload-label flex flex-column mb-3 pl-3">
    <!-- <label class="line-height-3">Download Template</label> -->
    <p-button
      icon="pi pi-file"
      (onClick)="onDownloadTemplate()"
      styleClass="p-button-link"
      label="Download template for Batch {{ stepType }}"></p-button>
  </div>

  <div class="mb-4 w-6">
    <ul class="pl-3">
      <li class="mb-3">
        When you have completely filled in details, please save the file and
        upload it.
      </li>
      <li class="mb-3">
        Once you click "Next", The system will start reading the data from the
        Excel file and verfiy it, Depending on the size of the file and the
        complexity of the data, this process may take some time.
      </li>
      <li class="mb-3">
        Review the data and fix any validation errors. Once fixed, you need to
        repeat the import process with necessary adjustments to rectify any
        errors.
      </li>
    </ul>
  </div>

  <div class="upload-label flex pl-3 py-3">
    <p-fileUpload
      #upload
      name="files"
      styleClass="p-button-outlined"
      chooseIcon="pi pi-upload"
      mode="basic"
      accept=".xls,.xlsx"
      [url]="apiUrl + 'attachment/upload-temp-file'"
      [auto]="true"
      [maxFileSize]="20 * 1000 * 1000"
      (onProgress)="onFileUploadProgress($event)"
      (onSelect)="onSelect($event)"
      (onUpload)="onUpload($event)"
      (onError)="onUploadError($event, upload)"
      [chooseLabel]="'Select file'">
    </p-fileUpload>

    <p-progressBar
      *ngIf="progress > 0 && !file?.fileName"
      [value]="progress"
      class="w-15rem ml-2"
      styleClass="h-full"></p-progressBar>
    <p-button
      *ngIf="file?.fileName"
      icon="pi pi-file"
      styleClass="p-button-link"
      [label]="file?.fileName"></p-button>
  </div>
</div>

<div *ngIf="step === 3" class="flex flex-column overflow-auto p-1">
  <p class="mb-3">
    Review the data and fix any validation errors. Once fixed, you need to
    repeat the import process with necessary adjustments to rectify any errors.
  </p>
  <div class="flex align-items-center mb-3" *ngIf="statusList.length > 1">
    <p-button
      *ngIf="innerInfoList && innerInfoList.length > 0"
      (onClick)="onShowInfo(-1)"
      [styleClass]="clickFilterButton === -1 ? '' : 'p-button-outlined'"
      [badgeClass]="clickFilterButton === -1 ? '' : 'bg-primary'"
      [badge]="innerInfoList.length.toString()"
      label="All"></p-button>
    <p-button
      class="ml-1"
      *ngFor="let data of statusList"
      (onClick)="onShowInfo(data['__status__'])"
      styleClass="p-button-outlined"
      [styleClass]="
        clickFilterButton === data['__status__'] ? '' : 'p-button-outlined'
      "
      [badge]="data.data.length"
      [badgeClass]="
        clickFilterButton === data['__status__'] ? '' : 'bg-primary'
      "
      label="{{
        data['__status__'] === 0
          ? 'Ready To Import'
          : data['__status__'] === 1
          ? 'Duplicate'
          : data['__status__'] === 2
          ? 'Missing Fields'
          : data['__status__'] === 3
          ? 'Validation Error'
          : data['__status__'] === 4
          ? 'Already Exists'
          : data['__status__'] === 5
          ? 'Not Exists'
          : 'Unknown Error'
      }}"></p-button>
  </div>
  <div *ngIf="infoList && infoList.length > 0" class="preview-data">
    <p-table
      class="data-table"
      [value]="infoList"
      [scrollable]="true"
      scrollHeight="flex"
      [columns]="columns"
      [showCurrentPageReport]="false">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [style.min-width]="'12rem !important'">Status</th>
          <ng-container *ngFor="let col of columns">
            <th
              *ngIf="col.key !== '__status__'"
              [pSortableColumn]="col.key"
              [style.min-width]="'12rem !important'">
              <span style="vertical-align: middle">{{ col.header }}</span>
              <p-sortIcon [field]="col.key"></p-sortIcon>
              <p-columnFilter
                *ngIf="!['numeric', 'date'].includes(col.filterType)"
                style="vertical-align: middle"
                type="text"
                [field]="col.key"
                display="menu"
                [hideOnClear]="true"
                [showOperator]="false"
                [showAddButton]="false"
                [maxFractionDigits]="4"></p-columnFilter>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-infoList let-columns="columns">
        <tr>
          <td>
            <p-tag
              [severity]="infoList['__status__'] === 0 ? 'success' : 'warning'"
              >{{
                infoList['__status__'] === 0
                  ? 'Ready To Import'
                  : infoList['__status__'] === 1
                  ? 'Duplicate'
                  : infoList['__status__'] === 2
                  ? 'Missing Fields'
                  : infoList['__status__'] === 3
                  ? 'Validation Error'
                  : infoList['__status__'] === 4
                  ? 'Already Exists'
                  : infoList['__status__'] === 5
                  ? 'Not Exists'
                  : 'Unknown Error'
              }}</p-tag
            >
          </td>
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col.key !== '__status__'">
              <div>
                <i
                  *ngIf="col.key | hasError : infoList?.__errors__"
                  [pTooltip]="(col.key | hasError : infoList?.__errors__) ?? ''"
                  [escape]="false"
                  tooltipStyleClass="tooltip-error"
                  class="pi pi-times-circle text-red-500"></i>
                {{ infoList[col.key] ?? '' }}
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div
  class="dialog-footer flex justify-content-between mt-auto"
  *ngIf="step !== 1">
  <div class="ml-1">
    <p-button
      icon="pi pi-angle-left"
      (onClick)="onBack()"
      label="Back"
      styleClass="p-button-text"></p-button>
  </div>
  <div>
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancel"
      styleClass="p-button-text"></p-button>
    <p-button
      [disabled]="validDisabled(currentStep) || isLoading"
      [iconPos]="okLabel !== 'Next' ? 'left' : 'right'"
      [icon]="'pi ' + (okLabel !== 'Next' ? 'pi-check' : 'pi-angle-right')"
      (onClick)="onOk()"
      [label]="okLabel"
      [loading]="isLoading"></p-button>
  </div>
</div>
