.option-list {
  ::ng-deep {
    .p-orderlist {
      display: block;
      .p-orderlist-controls {
        display: none;
      }
      .p-orderlist-list {
        border: none;
        min-height: auto;
        overflow: hidden;
        border-radius: 0;

        .p-orderlist-item + .p-orderlist-item {
          border-top: 1px solid var(--surface-300);
        }
      }
      .p-orderlist-controls {
        display: none;
      }
      .p-orderlist-list-container {
        flex: none;
      }
    }
  }
}

.p-dialog-title {
  a {
    font-size: 0.75rem;
    color: var(--primary-color);
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1rem;
  }
}

.monaco-editor-wrapper {
  background-color: #eeeeee;
  border: 1px solid #ced4da;
  &.ng-dirty.ng-invalid {
    border-color: #e24c4c;
  }
  &:focus-within {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: var(--primary-color);
  }
}
