:host {
  form > formly-form {
    &.location-wrapper {
      ::ng-deep {
        & > formly-field > formly-group > formly-field {
          .p-field {
            margin-bottom: 1rem !important;
          }
        }

        formly-validation-message {
          display: none;
        }
      }
    }
  }

  form > formly-form.label-padding {
    ::ng-deep {
      label {
        padding-left: 1.5rem;
      }
    }
  }

  form {
    margin-bottom: -1rem;
  }
}
