<p-dialog
  header="Search Rule Configuration"
  [(visible)]="visible"
  [style]="{ minWidth: '40rem' }"
  [modal]="true"
  [dismissableMask]="true"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border py-3">
  <div #container class="dialog-content">
    <div class="mb-3 flex flex-column" *ngIf="visible">
      <label class="line-height-3 flex align-items-center"
        >Query text
        <i
          class="pi pi-question-circle ml-3 text-lg"
          [pTooltip]="
            'Enter the where clause to filter the data. Using format &#123;&#123;field&#125;&#125; to reference other value of fields.'
          "></i>
      </label>
      <ngx-monaco-editor
        [formControl]="formControlQuery"
        (onInit)="onMonacoInit()"
        [style]="dialogStyle"
        [required]="true"
        class="pt-3 border-round monaco-editor-wrapper"
        [options]="editorOptions"></ngx-monaco-editor>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      label="Ok"
      [disabled]="buttonDisabled"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
