<p-dialog
  header="Search Rule Configuration"
  [(visible)]="visible"
  [style]="{ minWidth: '40rem' }"
  [modal]="true"
  [dismissableMask]="true"
  appendTo="body"
  contentStyleClass="border-top-1 surface-border py-3">
  <div #container class="dialog-content">
    <p-divider styleClass="mb-0"> </p-divider>
    <div class="flex flex-column mb-2">
      <p-divider styleClass="mb-0"> </p-divider>

      <ngx-monaco-editor
        *ngIf="visible"
        (onInit)="onInit()"
        [style]="dialogStyle"
        [options]="editorOptions"
        [(ngModel)]="code"></ngx-monaco-editor>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (onClick)="onCancel()"
      label="Cancle"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (onClick)="onOk()"
      label="Ok"
      [disabled]="buttonDisabled"
      [loading]="isLoading"></p-button>
  </ng-template>
</p-dialog>
