<div class="layout-content flex flex-column p-card mt-3">
  <div class="flex-grow-1">
    <p-table
      [loading]="loading"
      styleClass="p-datatable-striped"
      [value]="data"
      [rowHover]="true"
      [rows]="10"
      [tableStyle]="{ 'table-layout': 'fixed' }"
      [showCurrentPageReport]="true"
      [lazy]="true"
      [scrollable]="true"
      scrollHeight="flex"
      [filterDelay]="0"
      [virtualScroll]="true"
      [virtualScrollItemSize]="51.75"
      [virtualScrollDelay]="0"
      (onFilter)="onFilter($event)"
      (onSort)="onSort($event)"
      dataKey="id">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center my-2">
          <h3 class="">Site Groups</h3>
          <p-button
            icon="pi pi-plus"
            class="ml-auto"
            styleClass="p-button-outlined"
            label="New"
            (onClick)="onNewOpen()"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%" pSortableColumn="TITLE">
            <span style="vertical-align: middle">Title</span>
            <p-sortIcon field="TITLE"></p-sortIcon>
            <p-columnFilter
              style="vertical-align: middle"
              type="text"
              field="TITLE"
              display="menu"
              [hideOnClear]="true"
              [showOperator]="false"
              [showAddButton]="false"
              [maxFractionDigits]="2"></p-columnFilter>
          </th>
          <th style="width: 20%" pSortableColumn="NAME">
            <span style="vertical-align: middle">Name</span>
            <p-sortIcon field="NAME"></p-sortIcon>
            <p-columnFilter
              style="vertical-align: middle"
              type="text"
              field="NAME"
              display="menu"
              [hideOnClear]="true"
              [showOperator]="false"
              [showAddButton]="false"
              [maxFractionDigits]="2"></p-columnFilter>
          </th>
          <th pSortableColumn="DESCRIPTION">
            <span style="vertical-align: middle">Description</span>
            <p-sortIcon field="DESCRIPTION"></p-sortIcon>
            <p-columnFilter
              style="vertical-align: middle"
              type="text"
              field="DESCRIPTION"
              display="menu"
              [hideOnClear]="true"
              [showOperator]="false"
              [showAddButton]="false"
              [maxFractionDigits]="2"></p-columnFilter>
          </th>

          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td style="width: 20%">
            {{ rowData.TITLE }}
          </td>
          <td style="width: 20%">
            {{ rowData.NAME }}
          </td>
          <td>{{ rowData.DESCRIPTION }}</td>

          <td style="width: 5rem">
            <p-menu
              #menu
              [popup]="true"
              [model]="contextMenuItems"
              appendTo="body"
              [style]="{ width: 'auto' }"></p-menu>
            <button
              type="button"
              pButton
              icon="pi pi-ellipsis-v"
              class="p-button-rounded p-button-text"
              (click)="onShowMenu(menu, $event, rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-paginator
    [rows]="rows"
    [first]="first"
    [totalRecords]="totalRecords"
    [pageLinkSize]="5"
    styleClass="p-paginator-bottom"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries  "
    [alwaysShow]="true"
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [showFirstLastIcon]="true"
    [showCurrentPageReport]="true"
    [showPageLinks]="true"></p-paginator>
</div>

<app-add-group #addDialog (saved)="onDiaglogSaved()"></app-add-group>

<p-confirmDialog
  [style]="{ width: '40rem' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>
