.p-card {
  position: relative;
  overflow: hidden;

  height: 100%;
  .data-table {
    ::ng-deep {
      .p-datatable {
        padding: 0rem 1rem 0 1rem;
      }
      .p-datatable-wrapper {
        overflow-x: auto;
      }
      .p-datatable-header {
        padding-top: 1.75rem;
        z-index: 11;
      }
      [styleClass='p-paginator-bottom'] {
        z-index: 11;
      }
      .p-paginator {
        border-bottom: none;
        padding: 1rem 0.375rem;
      }
      .p-datatable-loading-overlay {
        z-index: 12;
      }

      .row-actions {
        .p-button.p-button-icon-only.p-button-rounded {
          height: 1.625rem;
          width: 1.625rem;
          padding: 0.30375rem 0.4375rem;
        }
      }
    }
  }
}
