.card {
  background-color: var(--surface-card);
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  border-radius: var(--border-radius);
  // min-height: calc(100vh - 10.5rem);
  .data-table {
    ::ng-deep {
      .p-datatable {
        padding: 1rem 1rem 0 1rem;
      }
      .p-datatable-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
      }
      .p-paginator {
        border-bottom: none;
        padding: 1rem 0.375rem;
      }
    }
  }
}
