<form [formGroup]="form">
  <p-dialog
    header="Advanced Query Configuration"
    [(visible)]="visible"
    [style]="{ minWidth: '40rem' }"
    [modal]="true"
    appendTo="body"
    contentStyleClass="border-top-1 surface-border pt-4 pb-0">
    <div #container class="dialog-content">
      <div class="mb-3">
        <label class="line-height-3 flex align-items-center">Query Type </label>
        <p-dropdown
          styleClass="w-full"
          [options]="typeOptions"
          [showClear]="true"
          (onClear)="onClear()"
          formControlName="typeFormControl"
          placeholder="Please Select"></p-dropdown>
      </div>
      <label class="line-height-2 mb-1 flex align-items-center"
        >Query Text
      </label>
      <ngx-monaco-editor
        *ngIf="visible"
        formControlName="queryTextFormControl"
        class="pt-3 border-round monaco-editor-wrapper"
        (onInit)="onMonacoEditorInit($event)"
        [options]="{}"></ngx-monaco-editor>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-times"
        (onClick)="onCancel()"
        label="Cancle"
        styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" (onClick)="onOk()" label="Ok"></p-button>
    </ng-template>
  </p-dialog>
</form>
